@model Arad.Portal.DataLayer.Models.ProductSpecificationGroup.SpecificationGroupDTO
@{
    var alert = Language.GetString("AlertAndMessage_GotIt");
    var error = Language.GetString("AlertAndMessage_Error");
}
@section Styles{
    @*<link href="~/lib/bootstrap-iconpicker/css/bootstrap-iconpicker.css" rel="stylesheet" />*@
    <style>
        .text-danger {
            font-size: 12px;
        }
    </style>
}
<h4>  @Language.GetString("Menu_ProductSpecificationGroup") </h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary" id="ProductSpecificationGroupCard">
            <div class="card-header">
                <h3 class="card-title" data-toggle="tab">@(!string.IsNullOrWhiteSpace(Model.SpecificationGroupId) ?
        Language.GetString("EditProSpecGroupPart_Title") : Language.GetString("AddProSpecGroupPart_Title"))</h3>
            </div>
            <form asp-controller="ProductSpecificationGroup" role="form"
                  asp-action='@(!string.IsNullOrWhiteSpace(Model.SpecificationGroupId) ? "Edit" : "Add")' id="addEditProSpecGroupFrm" method="post">
             
                <input type="hidden" value="@Model.SpecificationGroupId" data-val="true" asp-for="SpecificationGroupId">
               
                <div class="card-body" id="addEditSpecificationGroupCard">
                    <div class="row">
                        <div class="form-group col-md-3">

                            <label asp-for="GroupName">@Language.GetString("SpecificationGroupName")</label>
                            <input type="text" class="form-control" asp-for="GroupName" placeholder=" ">
                            <span data-val-result="GroupName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="LanguageId">@Language.GetString("LanguageName")</label><br />
                            <select class="form-control select2" asp-for="LanguageId" asp-items="@(new SelectList(ViewBag.LangList,"Value","Text"))">
                            </select>
                        </div>
                    </div>
                    
                    <div class="row">
                        @{
                            if (!string.IsNullOrWhiteSpace(Model.SpecificationGroupId))
                            {
                                <div class="orm-group col-md-6">
                                    <label asp-for="ModificationReason">@Language.GetString("ModificationReason")</label>
                                    <textarea dir="rtl" asp-for="ModificationReason" class="form-control" rows="3"></textarea>
                                    <span data-val-result="ModificationReason" class="text-danger"></span>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <input type="submit" value="@Language.GetString("btn_Save")" class="btn btn-block btn-success" />
                        <a asp-action="List" class="btn btn-block btn-default">@Language.GetString("btn_Back")</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            debugger;
            $("#addEditProSpecGroupFrm").submit(function (e) {
            debugger;
            e.preventDefault();
            var form = $(this).serialize();
            $.ajax({
                url: $(this).attr('action'),
                data: form,
                type: 'Post',
                beforeSend: function () {
                    debugger;
                    AddLoading($("#addEditSpecificationGroupCard"));
                },
                success: function (result) {
                    debugger;
                    if (result.status === "Success") {
                        Swal.fire({
                            icon: 'success',
                            text: result.message,
                            showConfirmButton: false,
                            timer: 3000
                        }).then(() => {
                            window.location.href = '@Url.Action("List")';
                        });
                    }else
                    if (result.status === "ModelError") {
                        var spanErrorList = $('span[data-val-result]');
                        if (spanErrorList.length > 1) {
                            spanErrorList.each(function() {
                                $(this).html("");
                                $(this).parent().removeClass("has-error");
                            });
                        } else {
                            spanErrorList.html("");
                            spanErrorList.parent().removeClass("has-error");
                        }
                        if (result.modelStateErrors !== null) {
                                $('[data-val-result=' + value.key + ']').html(value.errorMessage);
                                $('[data-val-result=' + value.key + ']').parent().addClass("has-error");
                            }
                        }
                    },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("@error");
                    alert(xhr.status);
                    alert(thrownError);
                },
                complete: function () {
                    removeLoading($("#addEditSpecificationGroupCard"));
                }
            });
        });
        });
    </script>
}




