@using System.Globalization
@model Arad.Portal.DataLayer.Models.Shared.InstallModel
@{

    var error = Language.GetString("AlertAndMessage_Error");
    Layout = null;
    var dir = HelpersMethods.GetDirection(CultureInfo.CurrentCulture);
    var lang = HelpersMethods.GetHtmlLang(CultureInfo.CurrentCulture);
}
<!DOCTYPE html>
<html dir="@dir" lang="@lang">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Arad Portal" name="description">
    <title>Installation page</title>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    @if (@dir == "ltr")
    {
        <link href="~/lib/bootstrap5/css/bootstrap.min.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/lib/bootstrap5/css/bootstrap.rtl.min.css" rel="stylesheet" />
        <link href="~/Fonts/IranSans/css/fontiran.css" rel="stylesheet" />
    }

    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/intl-tel-input/css/intlTelInput.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap-select/js/i18n/defaults-@(CultureInfo.CurrentCulture.Name.Replace('-', '_')).js"></script>
    <script src="~/lib/owlCarousel/js/owl.carousel.min.js"></script>

</head>
<body>

    <div class="position-fixed left-50 top-0 p-5" id="toastPanel" style="z-index: 11;">
        <div aria-atomic="true" aria-live="assertive" class="toast" id="mainToast" role="alert" autohide="false">
            <div class="toast-header">
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body p-3 fs-5 rounded-3 text-center" id="mainToastBody">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form role="form" id="installForm" asp-action="SaveData" asp-controller="Install" method="post">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">@Language.GetString("User_SysAccount")</h5>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="form-group col-12 col-md-3 p-2">
                                <label for="Name" class="form-label">@Language.GetString("User_FirstName")</label>
                                <input asp-for="FirstName" type="text" class="form-control" placeholder="">
                                <span data-val-result="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12 col-md-3 p-2">
                                <label for="LastName" class="form-label">@Language.GetString("User_LastName")</label>
                                <input asp-for="LastName" type="text" class="form-control" placeholder="">
                                <span data-val-result="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12 col-md-3 p-2">
                                <label asp-for="UserName" class="form-label">@Language.GetString("User_UserName")</label>
                                <input asp-for="UserName" type="text" class="form-control" placeholder="" autocomplete="off">
                                <span data-val-result="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 col-md-3 p-2">
                                <label for="Password" class="form-label">@Language.GetString("User_Password")</label>
                                <input asp-for="Password" type="password" class="form-control" placeholder="" autocomplete="new-password">
                                <span data-val-result="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12 col-md-3 p-2">
                                <label class="form-label" for="RePassword">@Language.GetString("User_RePassword")</label>
                                <input asp-for="RePassword" type="password" class="form-control" placeholder="" autocomplete="new-password">
                                <span data-val-result="RePassword" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12 col-md-3 p-2">
                                <label asp-for="PhoneNumber" class="form-label">@Language.GetString("User_PhoneNumber")</label><br />
                                <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder=""><br />
                                <span data-val-result="PhoneNumber" class="text-danger"></span>
                                <input id="hidePhone" type="hidden" value="" name="FullMobile" />
                            </div>
                            <div class="form-group col-12 col-md-3 p-2">
                                <label class="form-label">@Language.GetString("DefaultLanguage")</label>
                                <select class="form-select"  asp-for="DefaultLanguageId" asp-items="@(new SelectList(ViewBag.LangList, "Value", "Text"))" >
                                </select>
                                <span data-val-result="DefaultLanguageId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">@Language.GetString("DefaultDomain")</h5>
                    </div>
                    <div class="card-body">
                       
                        <div class="row">
                            <div class="form-group col-12 col-md-3 form-check m-auto d-inline-block pt-3 fs-6 ms-4">
                                <input class="form-check-input" type="checkbox" value="IsShop" asp-for="IsShop">
                                <label class="form-check-label" for="IsShop">
                                    @Language.GetString("design_IsShopDomain")
                                </label>
                            </div>

                            <div class="form-group col-12 col-md-3 form-check m-auto d-inline-block pt-3 fs-6 ms-4">
                                <input class="form-check-input" type="checkbox" value="IsMultiLinguals" asp-for="IsMultiLinguals">
                                <label class="form-check-label" for="IsMultiLinguals">
                                    @Language.GetString("design_IsMultiLingual")
                                </label>

                            </div>
                            <div class="form-group col-12 col-md-3">
                                <label class="form-label" for="DomainName">@Language.GetString("DomainName")</label><br />
                                <input type="text" class="form-control" asp-for="DomainName" dir="ltr">
                                <span data-val-result="DomainName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12 col-md-3">
                                <label class="form-label" for="">@Language.GetString("Title")</label><br />
                                <input type="text" class="form-control" asp-for="Title">
                                <span data-val-result="Title" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row m-1">
                            <div class="form-group col-12 col-md-3">
                                <label class="form-label">@Language.GetString("Currency")</label>
                                <select class="form-select"  asp-for="CurrencyId" asp-items="@(new SelectList(ViewBag.CurrencyList,"Value","Text"))">
                                </select>
                                <span data-val-result="CurrencyId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">@Language.GetString("DomainSMTPAcc")</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                         <div class="form-group col-12 col-md-3">
                                            <label asp-for="@Model.SMTPAccount.Server" class="form-label">@Language.GetString("SMTPServer")</label>
                                            <input asp-for="@Model.SMTPAccount.Server" type="text" class="form-control" placeholder="" autocomplete="off"/>
                                            <span data-val-result="Server" class="text-danger"></span>
                                         </div>
                                         <div class="form-group col-12 col-md-3">
                                             <label asp-for="@Model.SMTPAccount.EmailAddress" class="form-label">@Language.GetString("EnumDesc_Email")</label>
                                             <input type="email" asp-for="@Model.SMTPAccount.EmailAddress" class="form-control" placeholder="" autocomplete="off"/>
                                             <span data-val-result="EmailAddress" class="text-danger"></span>
                                         </div>
                                         <div class="form-group col-12 col-md-3">
                                            <label asp-for="@Model.SMTPAccount.DisplayName" class="form-label">@Language.GetString("DisplayName")</label>
                                            <input asp-for="@Model.SMTPAccount.DisplayName" type="text" class="form-control" placeholder="" autocomplete="off" />
                                            <span data-val-result="DisplayName" class="text-danger"></span>
                                         </div>
                                         <div class="form-group col-12 col-md-3">
                                            <label asp-for="@Model.SMTPAccount.Encryption" class="form-label">@Language.GetString("EncryptionType")</label>
                                            <select class="form-select"  name="Encryption" id="Encryption" asp-items="@(new SelectList(ViewBag.EncryptionType,"Value","Text"))">
                                          </select>
                                            <span data-val-result="Encryption" class="text-danger"></span>
                                         </div>
                                    </div>
                                    <div class="row">
                                         <div class="form-group col-12 col-md-3">
                                             <label asp-for="@Model.SMTPAccount.ServerPort" class="form-label">@Language.GetString("ServerPort")</label>
                                            <input asp-for="@Model.SMTPAccount.ServerPort" type="text" class="form-control" placeholder="" autocomplete="off" />
                                              <span data-val-result="ServerPort" class="text-danger"></span>
                                         </div>
                                         <div class="form-group col-12 col-md-3">
                                            <label asp-for="@Model.SMTPAccount.SMTPAuthUsername" class="form-label">@Language.GetString("Order_UserName")</label>
                                              <input asp-for="@Model.SMTPAccount.SMTPAuthUsername" type="text" class="form-control" placeholder="" autocomplete="off" />
                                              <span data-val-result="SMTPAuthUsername" class="text-danger"></span>
                                         </div>
                                         <div class="form-group col-12 col-md-3">
                                            <label asp-for="@Model.SMTPAccount.SMTPAuthPassword" class="form-label">@Language.GetString("Sms_Passworrd")</label>
                                            <input asp-for="@Model.SMTPAccount.SMTPAuthPassword" type="text" class="form-control" placeholder="" autocomplete="off" />
                                            <span data-val-result="SMTPAuthPassword" class="text-danger"></span>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">@Language.GetString("Setting")</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="fom-group col-12 col-md-4">
                                <label class="form-label">@Language.GetString("ConnectionString")</label>
                                <input type="text" class="form-control" asp-for="ConnectionString" dir="ltr">
                                <span data-val-result="ConnectionString" class="text-danger"></span>
                            </div>
                            <div class="fom-group col-12 col-md-4">
                                <label class="form-label">@Language.GetString("LogFileDirectory")</label>
                                <input type="text" class="form-control" asp-for="LogFileDirectory" dir="ltr">
                                <span data-val-result="LogFileDirectory" class="text-danger"></span>
                            </div>
                            <div class="fom-group col-12 col-md-4">
                                <label class="form-label">@Language.GetString("LocalStaticFileStorage")</label>
                                <input type="text" class="form-control" asp-for="LocalStaticFileStorage" dir="ltr">
                                <span data-val-result="LocalStaticFileStorage" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h5 class="card-title">@Language.GetString("SmsLineInformation")</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="fom-group col-12 col-md-4">
                                <label class="form-label">@Language.GetString("Sms_LinkAddress")</label>
                                <input type="text" class="form-control" asp-for="AradVas_Link_1" dir="ltr">
                                <span data-val-result="AradVas_Link_1" class="text-danger"></span>

                            </div>
                            <div class="fom-group col-12 col-md-4">
                                <label class="form-label">@Language.GetString("Sms_UserName")</label>
                                <input type="text" class="form-control" asp-for="AradVas_UserName" dir="ltr">
                                <span data-val-result="AradVas_UserName" class="text-danger"></span>

                            </div>
                            <div class="fom-group col-12 col-md-4">
                                <label class="form-label">@Language.GetString("Sms_Passworrd")</label>
                                <input type="text" class="form-control" asp-for="AradVas_Password" dir="ltr">
                                <span data-val-result="AradVas_Password" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="fom-group col-12 col-md-4">
                                <label class="form-label">@Language.GetString("Sms_LineNumber")</label>
                                <input type="text" class="form-control" asp-for="AradVas_Number" dir="ltr">
                                <span data-val-result="AradVas_Number" class="text-danger"></span>

                            </div>
                            <div class="fom-group col-12 col-md-4">
                                <label class="form-label">@Language.GetString("Sms_ComapnyName")</label>
                                <input type="text" class="form-control" asp-for="AradVas_Domain" dir="ltr">
                                <span data-val-result="AradVas_Domain" class="text-danger"></span>

                            </div>

                        </div>
                        <div class="row">
                            <div class="form-check m-auto d-inline-block pt-3 fs-6 ms-4">
                                <input class="form-check-input" type="checkbox" value="HasDefaultHomeTemplate" asp-for="HasDefaultHomeTemplate">
                                <label class="form-check-label" for="HasDefaultHomeTemplate">
                                    @Language.GetString("AlertAndMessage_HomepageDefaultDesign")
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

               

                <div class="row">
                    <div class="col-md-4 offset-md-8 col-12">
                        <input type="submit" value="@Language.GetString("btn_Install")" id="btnSubmit" class="btn btn-primary bg-gradient float-end m-2" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap-select/js/i18n/defaults-@(CultureInfo.CurrentCulture.Name.Replace('-', '_')).js"></script>
    <script src="~/lib/intl-tel-input/js/intlTelInput.js"></script>
    <script src="~/lib/intl-tel-input/js/utils.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
           
            var input = document.querySelector("#PhoneNumber");
            window.intlTelInput(input,
                {
                    initialCountry: "IR",
                    placeholderNumberType: "MOBILE",
                    separateDialCode: true,
                    utilsScript: "../../lib/intl-tel-input/js/utils.js",
                    nationalMode: true,
                    hiddenInput: "FullMobile"
                });

            $("#installForm").submit(function(e) {
                e.preventDefault();
                $('span[data-val-result]').each(function() {
                    $(this).html("");
                });
                if (!checkValidation()) {
                    var frm = document.getElementById('installForm');
                    var form = new FormData(frm);

                    $.ajax({
                        url: $(this).attr('action'),
                        data: form,
                        type: 'Post',
                        processData: false,
                        contentType: false,
                        beforeSend: function() {
                            /*  AddLoading($("#addUserCard"));*/
                        },
                        success: function(result) {
                            debugger;
                            if (result.status === "success") {

                                document.getElementById('mainToastBody').innerHTML = '<i class="far fa-check-circle"></i>' + result.message;
                               $('#mainToastBody').removeClass('alert-danger');
                                $('#mainToastBody').addClass('alert-success');
                                var toastDiv = $("#mainToast");
                                $("#toastPanel").show();
                                var toast = new bootstrap.Toast(toastDiv);
                                toast.show();
                                setTimeout(function() {
                                    $("#toastPanel").hide();
                                    window.location.href = '@Url.Action("List")';
                                },
                                    3000);
                            }
                            else if (result.status === "error") {
                                var spanErrorList = $('span[data-val-result]');

                                if (spanErrorList.length > 0) {
                                    spanErrorList.each(function() {
                                        $(this).html("");
                                        $(this).parent().removeClass("has-error");
                                    });
                                }
                                else {
                                    spanErrorList.html("");
                                    spanErrorList.parent().removeClass("has-error");
                                }

                                if (result.modelStateErrors.length > 0) {
                                    debugger;
                                    result.modelStateErrors.forEach(function(value, index) {
                                        $('[data-val-result=' + value.key + ']').append(value.errorMessage);
                                        $('[data-val-result=' + value.key + ']').parent().addClass("has-error");
                                    });
                                }
                                else {
                                    showError(result.message);
                                }
                            }

                        },
                        error: function(xhr, ajaxOptions, thrownError) {
                            alert("@error");
                            alert(xhr.status);
                            alert(thrownError);
                        },
                        complete: function() {
                            /* removeLoading($("#addUserCard"));*/
                        }
                    });
                } else {
                    document.getElementById('mainToastBody').innerHTML = `<i class="fas fa-exclamation-triangle"></i> ${'@Language.GetString("AlertAndMessage_FillEssentialFields")'}`;
                    $('#mainToastBody').removeClass("alert-success");
                    $('#mainToastBody').addClass("alert-danger");
                    $("#toastPanel").show();
                    var toast = new bootstrap.Toast($("#mainToast"));
                    toast.show();
                    setTimeout(function() {
                        $("#toastPanel").hide();
                    }, 2000)
                }

            });
        });

        function checkValidation() {
            var flag = false;
            if ($("#").val().trim() == "") {
                $("span[data-val-result='']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#").val().trim() == "") {
                $("span[data-val-result='']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#").val().trim() == "") {
                $("span[data-val-result='']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#").val().trim() == "") {
                $("span[data-val-result='']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#").val().trim() == "") {
                $("span[data-val-result='']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#").val().trim() == "") {
                $("span[data-val-result='']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#").val().trim() == "") {
                $("span[data-val-result='']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
           










            if ($("#FirstName").val().trim() == "") {
                $("span[data-val-result='FirstName']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#LastName").val().trim() == "") {
                $("span[data-val-result='LastName']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#UserName").val().trim() == "") {
                $("span[data-val-result='UserName']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#Password").val().trim() == "") {
                $("span[data-val-result='Password']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#RePassword").val().trim() == "") {
                $("span[data-val-result='RePassword']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#PhoneNumber").val().trim() == "") {
                $("span[data-val-result='PhoneNumber']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#Password").val().trim() != "" && $("#RePassword").val().trim() != "" && $("#Password").val().trim() != $("#RePassword").val().trim()) {
                $("span[data-val-result='RePassword']").html('@Language.GetString("AlertAndMessage_PasswordRepassWordCompare")');
                flag = true;
            }

            if ($("#DefaultLanguageId").val() == "-1") {
                $("span[data-val-result='DefaultLanguageId']").html('@Language.GetString("AlertAndMessage_OptionEssential")');
                flag = true;
            }

            if ($("#DomainName").val().trim() == "") {
                $("span[data-val-result='DomainName']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#Title").val().trim() == "") {
                $("span[data-val-result='Title']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#CurrencyId").val() == "-1") {
                $("span[data-val-result='CurrencyId']").html('@Language.GetString("AlertAndMessage_OptionEssential")');
                flag = true;
            }
            
            if ($("#ConnectionString").val().trim() == "") {
                $("span[data-val-result='ConnectionString']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#LogFileDirectory").val().trim() == "") {
                $("span[data-val-result='LogFileDirectory']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#LocalStaticFileStorage").val().trim() == "") {
                $("span[data-val-result='LocalStaticFileStorage']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#AradVas_Link_1").val().trim() == "") {
                $("span[data-val-result='AradVas_Link_1']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#AradVas_UserName").val().trim() == "") {
                $("span[data-val-result='AradVas_UserName']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#AradVas_Password").val().trim() == "") {
                $("span[data-val-result='AradVas_Password']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#AradVas_Number").val().trim() == "") {
                $("span[data-val-result='AradVas_Number']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#AradVas_Domain").val().trim() == "") {
                $("span[data-val-result='AradVas_Domain']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }

        }
    </script>

</body>
</html>