@using System.Globalization
@model Arad.Portal.DataLayer.Models.Shared.InstallModel

@{
    var dir = "";
    var langList = new List<string>() { "fa", "en" };
    string lang = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        dir = "rtl";
        ViewBag.dir = "rtl";
    }
    else
    {
        dir = "ltr";
        ViewBag.dir = "ltr";
    }
    switch (CultureInfo.CurrentCulture.Name)
    {
        case "fa-IR":
            lang = "fa";
            break;
        case "en-US":
            lang = "en";
            break;
    }
    Layout = null;
}
<!DOCTYPE html>
<html dir="@dir" lang="@lang">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Arad Portal" name="description">
    <title>Installation page</title>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    @if (@dir == "ltr")
    {
        <link href="~/lib/bootstrap5/css/bootstrap.min.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/lib/bootstrap5/css/bootstrap.rtl.min.css" rel="stylesheet" />
        <link href="~/Fonts/IranSans/css/fontiran.css" rel="stylesheet" />
    }
  
    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/intl-tel-input/css/intlTelInput.css" rel="stylesheet" />
    
    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap-select/js/i18n/defaults-@(CultureInfo.CurrentCulture.Name.Replace('-', '_')).js"></script>
    <script src="~/lib/owlCarousel/js/owl.carousel.min.js"></script>

</head>
<body>
    <div class="row">
        <div class="col-12">
            <form role="form" id="installForm" asp-action="SaveData" asp-controller="Install" method="post">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">@Language.GetString("User_SysAccount")</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-12 col-md-4 p-2">
                                <label for="Name" class="form-label">@Language.GetString("User_FirstName")</label>
                                <input asp-for="@Model.SystemAccountUser.Profile.FirstName" type="text" class="form-control" placeholder=" ">
                                <span data-val-result="@Model.SystemAccountUser.Profile.FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12 col-md-4 p-2">
                                <label for="LastName" class="form-label">@Language.GetString("User_LastName")</label>
                                <input asp-for="@Model.SystemAccountUser.Profile.LastName" type="text" class="form-control" placeholder=" ">
                                <span data-val-result="@Model.SystemAccountUser.Profile.LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12 col-md-4 p-2">
                                <label asp-for="@Model.SystemAccountUser.UserName" class="form-label">@Language.GetString("User_UserName")</label>
                                <input asp-for="@Model.SystemAccountUser.UserName" type="text" class="form-control" placeholder=" " autocomplete="off">
                                <span data-val-result="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 col-md-4 p-2">
                                <label for="@Model.Password" class="form-label">@Language.GetString("User_Password")</label>
                                <input asp-for="@Model.Password" type="password" class="form-control" placeholder=" " autocomplete="new-password">
                                <span data-val-result="@Model.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12 col-md-4 p-2">
                                <label class="form-label" for="RePassword">@Language.GetString("User_RePassword")</label>
                                <input asp-for="@Model.RePassword" type="password" class="form-control" placeholder=" " autocomplete="new-password">
                                <span data-val-result="@Model.RePassword" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12 col-md-4 p-2">
                                <label asp-for="PhoneNumber" class="form-label">@Language.GetString("User_PhoneNumber")</label><br />
                                <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder=" "><br />
                                <span data-val-result="PhoneNumber" class="text-danger"></span>
                                <input id="hidePhone" type="hidden" value="" name="FullMobile" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12 col-md-4 p-2">
                                <label class="form-label" asp-for="@Model.SystemAccountUser.Profile.DefaultLanguageId">@Language.GetString("DefaultLanguage")</label>
                                <select class="form-select selectpicker" asp-for="@Model.SystemAccountUser.Profile.DefaultLanguageId" asp-items="@(new SelectList(ViewBag.LangList, "Value", "Text"))" data-live-search="true">
                                </select>
                                <span data-val-result="DefaultLanguageId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">@Language.GetString("DefaultDomain")</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="form-check m-auto d-inline-block pt-3 fs-6 ms-4">
                                <input class="form-check-input" type="checkbox" value="@Model.DefaultDomain.IsShop" asp-for="@Model.DefaultDomain.IsShop">
                                <label class="form-check-label" for="IsShop">
                                    @Language.GetString("design_IsShopDomain")
                                </label>
                            </div>

                            <div class="form-check m-auto d-inline-block pt-3 fs-6 ms-4">
                                <input class="form-check-input" type="checkbox" value="@Model.DefaultDomain.IsMultiLinguals" asp-for="@Model.DefaultDomain.IsMultiLinguals">
                                <label class="form-check-label" for="IsMultiLinguals">
                                    @Language.GetString("design_IsMultiLingual")
                                </label>

                            </div>
                            <div class="form-group col-12 col-md-3">
                                <label class="form-label" for="@Model.DefaultDomain.DomainName">@Language.GetString("DomainName")</label><br />
                                <input type="text" class="form-control" asp-for="@Model.DefaultDomain.DomainName" dir="ltr">
                                <span data-val-result="DomainName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12 col-md-3">
                                <label class="form-label" for="">@Language.GetString("Title")</label><br />
                                <input type="text" class="form-control" asp-for="@Model.DefaultDomain.Title" >
                                <span data-val-result="Title" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row m-1">
                            <div class="form-group col-12 col-md-3">
                                <label class="form-label">@Language.GetString("Currency")</label>
                                <select class="form-control selectpicker" data-live-search="true" id="currencyId" asp-items="@(new SelectList(ViewBag.CurrencyList,"Value","Text"))">
                                </select>
                                <span data-val-result="CurrencyId" class="text-danger"></span>
                            </div>
                            <div class="form-group col-12 col-md-3">
                                <label class="form-label">@Language.GetString("PriceValue")</label>
                                <input type="number" class="form-control" asp-for="PriceValue" />
                                <span data-val-result="PriceValue" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                         <h5 class="card-title">@Language.GetString("Setting")</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="fom-group col-12 col-md-4">
                                 <label class="form-label">@Language.GetString("ConnectionString")</label>
                                  <input type="text" class="form-control" asp-for="@Model.AppSetting.DatabaseConfig.ConnectionString" dir="ltr">
                                <span data-val-result="ConnectionString" class="text-danger"></span>
                            </div>
                             <div class="fom-group col-12 col-md-4">
                                 <label class="form-label">@Language.GetString("LogFileDirectory")</label>
                                 <input type="text" class="form-control" asp-for="@Model.AppSetting.LogConfiguration.LogFileDirectory" dir="ltr">
                                  <span data-val-result="LogFileDirectory" class="text-danger"></span>
                            </div>
                             <div class="fom-group col-12 col-md-4">
                                 <label class="form-label">@Language.GetString("LocalStaticFileStorage")</label>
                                 <input type="text" class="form-control" asp-for="@Model.AppSetting.LocalStaticFileStorage" dir="ltr">
                                  <span data-val-result="LocalStaticFileStorage" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                 <h5 class="card-title">@Language.GetString("SmsLineInformation")</h5>
                            </div>
                        </div>
                        <div class="row">
                             <div class="fom-group col-12 col-md-4">
                                  <label class="form-label">@Language.GetString("Sms_LinkAddress")</label>
                                     <input type="text" class="form-control" asp-for="@Model.AppSetting.SendSmsConfig.AradVas_Link_1" dir="ltr">
                                  <span data-val-result="AradVas_Link_1" class="text-danger"></span>

                             </div>
                             <div class="fom-group col-12 col-md-4">
                                  <label class="form-label">@Language.GetString("Sms_UserName")</label>
                                   <input type="text" class="form-control" asp-for="@Model.AppSetting.SendSmsConfig.AradVas_UserName" dir="ltr">
                                  <span data-val-result="AradVas_UserName" class="text-danger"></span>

                             </div>
                             <div class="fom-group col-12 col-md-4">
                                  <label class="form-label">@Language.GetString("Sms_Passworrd")</label>
                                   <input type="text" class="form-control" asp-for="@Model.AppSetting.SendSmsConfig.AradVas_Password" dir="ltr">
                                  <span data-val-result="AradVas_Password" class="text-danger"></span>

                             </div>
                        </div>
                        <div class="row">
                            <div class="fom-group col-12 col-md-4">
                                 <label class="form-label">@Language.GetString("Sms_LineNumber")</label>
                                  <input type="text" class="form-control" asp-for="@Model.AppSetting.SendSmsConfig.AradVas_Number" dir="ltr">
                                  <span data-val-result="AradVas_Number" class="text-danger"></span>

                            </div>
                            <div class="fom-group col-12 col-md-4">
                                 <label class="form-label">@Language.GetString("Sms_ComapnyName")</label>
                                  <input type="text" class="form-control" asp-for="@Model.AppSetting.SendSmsConfig.AradVas_Domain" dir="ltr">
                                  <span data-val-result="AradVas_Domain" class="text-danger"></span>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-4 offset-md-8 col-12">
                            <input type="submit" value="@Language.GetString("btn_Install")" class="btn btn-primary bg-gradient float-end m-2" />
                        </div>
                    </div>
            </form>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap-select/js/i18n/defaults-@(CultureInfo.CurrentCulture.Name.Replace('-', '_')).js"></script>
    <script src="~/lib/intl-tel-input/js/intlTelInput.js"></script>
    <script src="~/lib/intl-tel-input/js/utils.js"></script>

</body>
</html>