@using Arad.Portal.DataLayer.Entities.Shop.Promotion;
@model List<Arad.Portal.DataLayer.Models.Product.ProductOutputDTO>
@{

}


        <div class="row">
            <div class="owl-carousel">

                @foreach (var item in Model)
                {
                    @*col-6 col-md-3 col-xl-2*@
                    @*<div class="item">*@
                        <div class="thumb-wrapper m-3">
                            @*<i class="far fa-heart"></i>*@
                            <div class="productImage">
                                <img src="@($"../filemanager/getscaledimage?path={item.MainImageUrl}&height={500}")" class="img-fluid" alt="">
                            </div>
                            <div class="thumb-content">
                                <h6>
                                    @(item.MultiLingualProperties.Any(_ => _.LanguageId == ViewBag.CurLangId) ?
                                item.MultiLingualProperties.First(_ => _.LanguageId == ViewBag.CurLangId).Name : "")
                                </h6>
                                <div class="star-rating">
                                    <ul class="list-inline">
                                        @for (int i = 1; i <= item.LikeRate; i++)
                                        {
                                            <li class="list-inline-item">
                                                <a href="#"
                                                   role="button" aria-expanded="false" title="@Language.GetString(" ProductScore")" onclick="Rate(@i);">
                                                    <i class="fas fa-star"></i>
                                                </a>
                                            </li>
                                        }
                                        @if (item.HalfLikeRate)
                                        {
                                            <li class="list-inline-item">
                                                <a href="#"
                                                   role="button" aria-expanded="false" title="@Language.GetString(" ProductScore")" onclick="Rate(@item.LikeRate+1);">
                                                    <i class="fas fa-star-half-alt"></i>
                                                </a>
                                            </li>
                                        }
                                        @for (int i = (item.HalfLikeRate ? item.LikeRate + 2 : item.LikeRate + 1); i <= item.DisikeRate; i++)
                                        {
                                            <li class="list-inline-item">
                                                <a href="#"
                                                   role="button" aria-expanded="false" onclick="Rate(@i);" title=@($"{@Language.GetString("ProductScore")}_{i}")>
                                                    <i class="far fa-star"></i>
                                                </a>
                                            </li>
                                        }

                                    </ul>
                                </div>
                                <p class="item-price"><strike class="ps-3 float-start">@item.OldPrice</strike> <b class="float-end"><span>@item.PriceValWithPromotion</span><span class="ps-2">@ViewBag.CurrencySymbol</span></b></p>
                                <a href="#" class="btn btn-primary">Add to Cart</a>
                            </div>
                        </div>
                    @*</div>*@
                }

            </div>
        </div>

 