@using Arad.Portal.DataLayer.Entities.Shop.Promotion;
@using Arad.Portal.DataLayer.Models.DesignStructure;
@model List<Arad.Portal.DataLayer.Models.Product.ProductOutputDTO>
@{
    string outerElementAtr = "";
    string innerElementsAtr = "";
    var animationTarget = (LoadAnimationType)ViewBag.LoadAnimationType;
    if (animationTarget == LoadAnimationType.OuterElement)
    {
        outerElementAtr = $"data-animation='animated {ViewBag.LoadAnimation}'";
    }
    else
    {
        innerElementsAtr = $"data-animation='animated {ViewBag.LoadAnimation}'";
    }
}


<div class="row mx-1" style="min-height:330px;">
    <div class="owl-carousel owl-theme" @outerElementAtr>

        @foreach (var item in Model)
        {

            <div class="item thumb-wrapper my-1 text-center">
             <a role="button" href="#">
                <div class="img-overlay-wrap">
                    @if ((item.DiscountType != null && (item.DiscountType == DiscountType.Percentage || item.DiscountType == DiscountType.Fixed)))
                    {
                        if (item.DiscountType == DiscountType.Percentage)
                        {
                            <span class="discount bg-light rounded fs-5 m-1 ps-2 pe-2 fw-bold">@($"{item.DiscountValue}% {Language.GetString("Discount")}")</span>
                        }
                        else
                        {
                            <span class="discount bg-light rounded fs-5 m-1 ps-2 pe-2 fw-bold">@($"{Convert.ToInt64(item.DiscountValue):n0} {@Model[0].CurrencySymbol} {Language.GetString("Discount")}")</span>
                        }
                    }
                    else if (item.IsNew)
                    {
                        <span class="newp bg-light rounded m-1 ps-2 pe-2">NEW</span>
                    }

                    <img src="@Url.Content($"~/GetScaledImageOnWidth?path={item.MainImageUrl}&width={150}")" class="img-fluid rounded-3" alt="@item.MainAlt" @innerElementsAtr>
                    <div class="star-rating">
                        <ul class="list-inline bg-white p-1 rounded">
                                @for (int i = 1; i <= item.LikeRate; i++)
                                {
                                    <li class="list-inline-item me-0">
                                        <a role="button" class="ratePro" data-bs-toggle="tooltip" data-bs-placement="bottom" title=@($"{Language.GetString("ContentScore")}_{i}") onclick="Rate(@i, '@item.ProductId', '@item.HasRateBefore', '@item.PreRate');">
                                            <i class="fas fa-star"></i>
                                        </a>
                                    </li>
                                }
                                @if (item.HalfLikeRate)
                                {
                                    <li class="list-inline-item me-0">
                                        <a role="button" class="ratePro" data-bs-toggle="tooltip" data-bs-placement="bottom" title=@($"{Language.GetString("ContentScore")}_{@item.LikeRate+1}") onclick="Rate(@item.LikeRate+1, '@item.ProductId','@item.HasRateBefore',  '@item.PreRate');">
                                            <i class="fas fa-star-half-alt"></i>
                                        </a>
                                    </li>
                                }
                            @for (int i = (item.HalfLikeRate ? item.LikeRate + 2 : item.LikeRate + 1); i <= 5; i++)
                            {
                                    <li class="list-inline-item me-0">
                                        <a class="ratePro" title=@($"{Language.GetString("ContentScore")}_{i}") role="button" data-bs-toggle="tooltip" data-bs-placement="bottom" onclick="Rate(@i, '@item.ProductId', '@item.HasRateBefore', '@item.PreRate');">
                                            <i class="far fa-star"></i>
                                        </a>
                                    </li>
                            }
                        </ul>
                    </div>
                        <div class="likepart float-start border-0 bg-white rounded-circle text-center align-middle ps-2 pe-2 pt-1 ms-2 mt-2">
                            <a role="button" class="btnLike" data-bs-toggle="tooltip" onclick="AddToFavoriteList('@item.ProductCode', '@item.IsLikesByUserBefore');"
                           data-bs-placement="bottom" title="@Language.GetString("AlertAndMessage_AddToFavoriteList")">
                                @if (@item.IsLikesByUserBefore)
                                {
                                    <i class="fas fa-heart"></i>
                                }
                                else
                                {
                                    <i class="far fa-heart"></i>
                                }
                            </a>
                        </div>
                        <div class="shoppingCartPart float-end border-0 bg-white rounded-3 text-center align-middle ps-2 pe-2 pt-1 ms-2 mt-2">
                            <a href="@(item.MultiLingualProperties.Any(_ => _.LanguageId == ViewBag.CurLangId) ?
                       item.MultiLingualProperties.FirstOrDefault(_ => _.LanguageId == ViewBag.CurLangId).UrlFriend : $"/product/{item.ProductCode}")" role="button" class="btnAddToCard" data-bs-toggle="tooltip" data-bs-placement="bottom"
                           title='@Language.GetString("btn_AddToShoppingCart")'>
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </div>

                </div>

                    <div class="proContent">
                        <p class="m-1 fw-bold">
                            @(item.MultiLingualProperties.Any(_ => _.LanguageId == ViewBag.CurLangId) ?
                                item.MultiLingualProperties.First(_ => _.LanguageId == ViewBag.CurLangId).Name : "")
                        </p>

                        <p class="item-price">
                            @if (item.OldPrice > 0)
                            {
                                <del class="ps-3 float-start">
                                    <span>@($"{Convert.ToInt64(item.OldPrice):n0}")</span>
                                    <span>@ViewBag.CurrencySymbol</span>
                                </del>
                            }
                            <b class="float-end"><span>@($"{Convert.ToInt64(@item.PriceValWithPromotion):n0}")</span><span class="ps-2">@ViewBag.CurrencySymbol</span></b>
                        </p>

                    </div>

                </a>
            </div>

        }

    </div>
</div>

