@model Arad.Portal.DataLayer.Models.User.RegisterUserModel
@{ 
    var alert = Language.GetString("AlertAndMessage_GotIt");
    var error = Language.GetString("AlertAndMessage_Error");
}

<h4>  @Language.GetString("AddUserPart_Title") </h4>
<hr />
<div class="row">
    <div class="col-md-10 offset-md1">
        <div class="card card-primary" id="addUserCard">
            <div class="card-header">
                <h3 class="card-title">@Language.GetString("AddUserPart_Title")</h3>
            </div>
            <form role="form" id="addUserFrm" asp-action="AddUser" asp-controller="Account" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label for="Name">@Language.GetString("User_FirstName")</label>
                        <input asp-for="Name" type="text" class="form-control" placeholder=" ">
                        <span data-val-result="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="LastName">@Language.GetString("User_LastName")</label>
                        <input asp-for="LastName" type="text" class="form-control" placeholder=" ">
                        <span data-val-result="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="PhoneNumber">@Language.GetString("User_PhoneNumber")</label>
                        <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder=" ">
                        <span data-val-result="PhoneNumber" class="text-danger"></span>
                        <input id="hidePhone" type="hidden" value="" name="FullMobile" />
                    </div>
                    <div class="form-group">
                        <label for="Password">@Language.GetString("User_Password")</label>
                        <input asp-for="Password" type="password" class="form-control" placeholder=" ">
                        <span data-val-result="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="RePassword">@Language.GetString("User_RePassword")</label>
                        <input asp-for="RePassword" type="password" class="form-control" placeholder=" ">
                        <span data-val-result="RePassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="IsActive">@Language.GetString("ActivationState")</label>
                        <input asp-for="IsActive" type="checkbox" checked data-toggle="toggle"
                               data-on="@Language.GetString("Active")"
                               data-off="@Language.GetString("InActive")" data-onstyle="success" data-offstyle="dark">
                        <span data-val-result="IsActive" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="UserRoleId">@Language.GetString("User_Roles")</label>
                        <select asp-for="UserRoleId" asp-items="@(new SelectList(Model.Roles,"Id","Title"))">
                        </select>
                        <span data-val-result="UserRoleId" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <input type="submit" value="@Language.GetString("btn_Add")" class="btn btn-block btn-success" />
                        <a asp-action="Index" class="btn btn-block btn-default">@Language.GetString("btn_Back")</a>
                    </div>
                </div>
            </form>
        </div>

        </div>
    </div>


<script>
    $("#addUserFrm").submit(function(e) {
            e.preventDefault();
            var frm = document.getElementById('addUserFrm');
        var form = new FormData(frm);
        form.append("FullMobile", $("#hidePhone").val());
      
            $.ajax({
                url: $(this).attr('action'),
                data: form,
                type: 'Post',
                processData: false,
                contentType: false,
                beforeSend: function() {
                    AddLoading($("#addUserCard"));
                },
                success: function (result) {

                        if (result.status === "success") {

                            Swal.fire({
                                icon: 'success',
                                text: result.message,
                                confirmButtonText:
                                    '<i class="fa fa-thumbs-up"></i> @alert',
                            });
                        } else if (result.status === "error") {
                            var spanErrorList = $('span[data-val-result]');

                            if (spanErrorList.length > 0) {
                                spanErrorList.each(function() {
                                    $(this).html("");
                                    $(this).parent().removeClass("has-error");
                                });
                            } else {
                                spanErrorList.html("");
                                spanErrorList.parent().removeClass("has-error");
                            }

                            if (result.modelStateErrors.length > 0) {
                                debugger;
                                result.modelStateErrors.forEach(function(value, index) {
                                    $('[data-val-result=' + value.key + ']').html(value.errorMessage);
                                    $('[data-val-result=' + value.key + ']').parent().addClass("has-error");
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    text: result.message,
                                    confirmButtonText:
                                        '<i class="fa fa-thumbs-up"></i> @alert',
                                });
                            }
                        }

                    },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("@error");
                    alert(xhr.status);
                    alert(thrownError);
                },
                complete: function () {
                    removeLoading($("#addUserCard"));
                }
            });
        });
</script>