@model Arad.Portal.DataLayer.Models.User.RegisterUserModel
@{
    var alert = Language.GetString("AlertAndMessage_GotIt");
    var error = Language.GetString("AlertAndMessage_Error");
    var dir = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        dir = "rtl";
    }
    else
    {
        dir = "ltr";
    }
}
@section Styles
{
    <style>
        .text-danger {
            font-size: 12px;
        }

        .card-header {
            background-color: #e0dcdf;
        }
    </style>
    <link href="~/lib/intl-tel-input/css/intlTelInput.css" rel="stylesheet" />

}


<h4>  @Language.GetString("AddUserPart_Title") </h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card" id="addUserCard">
            <div class="card-header">
                <h3 class="card-title">@Language.GetString("AddUserPart_Title")</h3>
            </div>
            <form role="form" id="addUserFrm" asp-action="Add" asp-controller="Account" method="post">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-12 col-md-4 p-2">
                            <label for="Name" class="form-label">@Language.GetString("User_FirstName")</label>
                            <input asp-for="Name" type="text" class="form-control" placeholder=" ">
                            <span data-val-result="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 col-md-4 p-2">
                            <label for="LastName" class="form-label">@Language.GetString("User_LastName")</label>
                            <input asp-for="LastName" type="text" class="form-control" placeholder=" ">
                            <span data-val-result="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 col-md-4 p-2">
                            <label asp-for="UserName" class="form-label">@Language.GetString("User_UserName")</label>
                            <input asp-for="UserName" type="text" class="form-control" placeholder=" " autocomplete="off">
                            <span data-val-result="UserName" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-12 col-md-4 p-2">
                            <label for="Password" class="form-label">@Language.GetString("User_Password")</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder=" " autocomplete="new-password">
                            <span data-val-result="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 col-md-4 p-2">
                            <label for="RePassword">@Language.GetString("User_RePassword")</label>
                            <input asp-for="RePassword" type="password" class="form-control" placeholder=" " autocomplete="new-password">
                            <span data-val-result="RePassword" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 col-md-4 p-2">
                            <label asp-for="PhoneNumber" class="form-label">@Language.GetString("User_PhoneNumber")</label><br />
                            <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder=" "><br />
                            <span data-val-result="PhoneNumber" class="text-danger"></span>
                            <input id="hidePhone" type="hidden" value="" name="FullMobile" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-12 col-md-4 p-2">
                            <label asp-for="UserRoleId" class="form-label">@Language.GetString("User_Roles")</label>
                            <select class="form-select" asp-for="UserRoleId" asp-items="@(new SelectList(Model.Roles, "Id", "Title"))">
                            </select>
                            <span data-val-result="UserRoleId" class="text-danger"></span>
                        </div>

                        <div class="form-group col-12 col-md-4 p-2">
                            <div class="row p-2">
                                <label asp-for="IsActive" class="form-label">@Language.GetString("ActivationState")</label>
                                <div class="form-check col-4">
                                    <input class="form-check-input" type="radio" asp-for="IsActive" value="true">
                                    <label class="form-check-label" asp-for="IsActive">
                                        @Language.GetString("Active")
                                    </label>
                                </div>
                                <div class="form-check col-12 col-md-4">
                                    <input class="form-check-input" type="radio" asp-for="IsActive" value="false">
                                    <label class="form-check-label" asp-for="IsActive">
                                        @Language.GetString("InActive")
                                    </label>
                                </div>
                                <span data-val-result="IsActive" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group col-12 col-md-4 pt-4 pb-2">
                            <div class="form-check m-auto d-inline-block pt-3">
                                <input class="form-check-input" type="checkbox" value="IsVendor" asp-for="IsVendor">
                                <label class="form-check-label" for="IsVendor">
                                    @Language.GetString("IsVendor")
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 p-2">
                            <label asp-for="DefaultLanguageId">@Language.GetString("DefaultLanguage")</label>
                            <select class="form-select" asp-for="DefaultLanguageId" asp-items="@(new SelectList(ViewBag.LangList, "Value", "Text"))">
                            </select>
                            <span data-val-result="DefaultLanguageId" class="text-danger"></span>
                        </div>
                        @{
                            if (Convert.ToBoolean(ViewBag.IsSystem))
                            {
                                <div class="form-group col-md-4 p-2">
                                    <label>@Language.GetString("AssociatedDomain")</label>
                                    <select class="form-select" asp-for="DomainId" asp-items="@(new SelectList(ViewBag.DomainList, "Value", "Text"))">
                                    </select>
                                    <span data-val-result="DomainId" class="text-danger"></span>
                                </div>
                            }

                        }
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-4 offset-md-8 col-12">
                            <a asp-action="List" class="btn btn-primary bg-gradient float-end m-2">@Language.GetString("btn_Back")</a>
                            <input type="submit" value="@Language.GetString("btn_Add")" class="btn btn-success bg-gradient float-end m-2" />
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


@*<div class="position-fixed h-100 w-100 p-5 bg-dark" id="toastAlert" style="display: block; left: 0; top: 0; z-index: 11;">
    <div aria-atomic="true" aria-live="assertive" class="toast" id="notificationToast" role="alert">
        <div class="toast-body p-3 fs-5 rounded-3 text-center" style="top: 40%; left: 200px;position: absolute;width: calc(100% - 400px);" id="notificationToastBody">
        </div>
    </div>
</div>*@



@section Scripts
{
    <script src="~/lib/twbs-pagination/jquery.twbsPagination.js"></script>
    <script src="~/lib/intl-tel-input/js/intlTelInput-jquery.min.js"></script>
    <script src="~/lib/intl-tel-input/js/intlTelInput.js"></script>
    <script src="~/lib/MD.BootstrapPersianDateTimePicker/dist/jquery.md.bootstrap.datetimepicker.js"></script>

    <script type="text/javascript">
            $(document).ready(function () {
            $("#toastAlert").hide();
            var input = document.querySelector("#PhoneNumber");

            window.intlTelInput(input,
            {
            initialCountry: "IR",
            placeholderNumberType: "MOBILE",
            separateDialCode: true,
            utilsScript: "../../lib/intl-tel-input/js/utils.js",
            nationalMode: true,
            hiddenInput: "FullMobile"
            });


            $("#addUserFrm").submit(function (e) {
                debugger;
                e.preventDefault();
                $('span[data-val-result]').each(function () {
                    $(this).html("");
                });
            var frm = document.getElementById('addUserFrm');
            var form = new FormData(frm);
            /*form.append("FullMobile", $("#hidePhone").val());*/

            $.ajax({
            url: $(this).attr('action'),
            data: form,
            type: 'Post',
            processData: false,
            contentType: false,
            beforeSend: function() {
            AddLoading($("#addUserCard"));
            },
            success: function (result) {

            if(result.status === "success") {

            Swal.fire({
            icon: 'success',
            text: result.message,
            confirmButtonText:
            '<i class="fa fa-thumbs-up"></i> @alert',
            }).then(() => {
                    window.location.href = '@Url.Action("List")';
                });
            } else if (result.status === "error") {
            var spanErrorList = $('span[data-val-result]');

            if (spanErrorList.length > 0) {
            spanErrorList.each(function() {
            $(this).html("");
            $(this).parent().removeClass("has-error");
            });
            } else {
            spanErrorList.html("");
            spanErrorList.parent().removeClass("has-error");
            }

            if (result.modelStateErrors.length > 0) {
            debugger;
            result.modelStateErrors.forEach(function(value, index) {
            $('[data-val-result=' + value.key + ']').html(value.errorMessage);
            $('[data-val-result=' + value.key + ']').parent().addClass("has-error");
            });
            } else {
            Swal.fire({
            icon: 'error',
            text: result.message,
            confirmButtonText:
            '<i class="fa fa-thumbs-up"></i> @alert',
            });
            }
            }

            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("@error");
                alert(xhr.status);
                alert(thrownError);
            },
            complete: function () {
            removeLoading($("#addUserCard"));
            }
            });
            });

            }
            );
    </script>
}