@model Arad.Portal.DataLayer.Models.User.UserChangePasswordModel
@{
    ViewData["Title"] = Language.GetString("ChangePassword");
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lang = HelpersMothods.GetHtmlLang(CultureInfo.CurrentCulture);
}

<div class="card">
	<div class="card-header py-2">
		<p class="my-0 fw-bold col fs-5">
			<i class="fas fa-key fs-3"></i>
			@Language.GetString("ChangePassword")
		</p>
	</div>

	<div class="card-body">
		<form asp-action="ChangePassword" asp-controller="Account" class="row g-3 pt-2" id="saveUserForm">

			<div class="col-12 col-md-4">
				<label asp-for="OldPass" class="form-label">
					<span style="color: red; margin-left: 5px;">*</span>@Language.GetString("ChangePassword_CurrentPassword")
				</label>
				<input asp-for="OldPass" class="form-control" type="password"   />
				<span asp-validation-for="OldPass" class="text-danger form-validation-alert">
				</span>
			</div>
			<div class="col-12 col-md-4">
				<label asp-for="NewPass" class="form-label">
					<span style="color: red; margin-left: 5px;">*</span>@Language.GetString("ChangePassword_NewPassword")
				</label>
				<input asp-for="NewPass" class="form-control" type="password" value="" id="NewPass"/>
				<span asp-validation-for="NewPass" class="text-danger form-validation-alert">
				</span>
			</div>
			<div class="col-12 col-md-4">
				<label asp-for="RepNewPass" class="form-label">
					<span style="color: red; margin-left: 5px;">*</span>@Language.GetString("ChangePassword_ConfirmPassword")
				</label>
				<input asp-for="RepNewPass" class="form-control" type="password" value="" id="RepNewPass"/>
				<span asp-validation-for="RepNewPass" class="text-danger form-validation-alert">
				</span>
			</div>

			<div class="col-12 text-end">
				<div class="w-100 text-start" id="msg" style="cursor: pointer" onclick="copyPass()"></div>
				<button class="btn btn-sm btn-primary bg-gradient" onclick="getPass()" type="button">@Language.GetString("ChangePassword_CreatePasswordBySystem")</button>
				<button class="btn btn-success btn-sm bg-gradient pe-3 bg-gradient" type="submit">
					<i class="far fa-save px-1 mt-1">
					</i>@Language.GetString("Save")
				</button>
				<a asp-action="index"  asp-controller="Home" class="btn btn-light bg-gradient border border-1 btn-sm">
					<i class="far fa-share-square px-1 mt-1"></i>
					@Language.GetString("Return")
				</a>
			</div>

		</form>
	</div>
</div>



@section scripts
{
	<script>
		
		var pass;

		function copyPass()
		{
			navigator.clipboard.writeText(pass);
		}

		function getPass()
		{
			$.ajax({
				url: '@Url.Action("CreateRandomPass")',
				type: 'Get',
				beforeSend: function()
				{
					$("#loading").addClass('is-active');
				},
				statusCode: {
					200: function(result)
					{
						$("#loading").removeClass('is-active');
						if (result.status === "Success")
						{
							$("#NewPass").val(result.pass);
							$("#RepNewPass").val(result.pass);
							var tmp = '@Language.GetString("ChangePassword_CreatePasswordBySystemCopy")';
							tmp = tmp.replace("{0}", result.pass);
							pass = result.pass;
							$("#msg").html(tmp);
						}

						if (result.status === "Error")
						{
							$("#msg").html(result.message);
						}
					}
				}
			});
		}
	</script>
}