@model Arad.Portal.DataLayer.Models.User.UserEdit
@{
    var alert = Language.GetString("AlertAndMessage_GotIt");
    var error = Language.GetString("AlertAndMessage_Error");
    var dir = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        dir = "rtl";
    }
    else
    {
        dir = "ltr";
    }
}
@section Styles{
    <link href="~/lib/intl-tel-input/css/intlTelInput.css" rel="stylesheet" />

}


<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="card" id="editUserCard">
            <div class="card-header">
                <h3 class="card-title">@Language.GetString("User_Edit")</h3>
            </div>
            <form id="editUserFrm" asp-action="Edit" asp-controller="Account" method="post">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="row">
                        <div class="form-group col-12 col-md-4 p-2">
                            <input asp-for="Id" type="hidden" class="form-control" />
                            <label asp-for="PhoneNumber" class="form-label"></label>
                            <input asp-for="PhoneNumber" type="tel" class="form-control" style="direction:ltr;" />
                            @*<input id="hidePhone" type="hidden" value="" name="FullMobile" />*@
                            <span data-val-result="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 col-md-4 p-2">
                            <label asp-for="FirstName" class="form-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span data-val-result="UserProfile.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 col-md-4 p-2">
                            <label asp-for="LastName" class="form-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span data-val-result="UserProfile.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-12 col-md-4 p-2">
                            <label asp-for="UserRoleId" class="form-label"></label>
                            <select class="form-select" asp-for="UserRoleId" asp-items="@(new SelectList(ViewBag.Roles,"Id","Title"))">
                            </select>
                            <span data-val-result="UserRoleId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-12 col-md-4 p-2">
                            <label class="form-label">@Language.GetString("DefaultLanguage")</label>
                            <select class="form-select form-select-sm" asp-for="DefaultLanguageId" asp-items="@(new SelectList(ViewBag.LangList,"Value","Text"))">
                            </select>
                            <span data-val-result="DefaultLanguageId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4 col-12 pt-4 pb-2">
                            <div class="form-check m-auto d-inline-block pt-3">
                                <input class="form-check-input" type="checkbox" value="IsVendor" asp-for="IsVendor">
                                <label class="form-check-label" for="IsVendor">
                                    @Language.GetString("IsVendor")
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-4 offset-md-8 col-12">
                            <a asp-action="List" class="btn btn-secondary btnBack bg-gradient float-end m-2">@Language.GetString("btn_Back")</a>
                            <input type="submit" value="@Language.GetString("btn_Edit")" class="btn btn-warning bg-gradient float-end m-2" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts
{
    <script src="~/lib/twbs-pagination/jquery.twbsPagination.js"></script>
    <script src="~/lib/intl-tel-input/js/intlTelInput-jquery.min.js"></script>
    <script src="~/lib/intl-tel-input/js/intlTelInput.js"></script>
    <script src="~/lib/MD.BootstrapPersianDateTimePicker/dist/jquery.md.bootstrap.datetimepicker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        
        var input = document.querySelector("#PhoneNumber");
            debugger;
        window.intlTelInput(input,
            {
                initialCountry: "IR",
                placeholderNumberType: "MOBILE",
                separateDialCode: true,
                utilsScript: "../../lib/intl-tel-input/js/utils.js",
                nationalMode: true,
                hiddenInput: "FullMobile"
            });


      $("#editUserFrm").submit(function (e) {
                debugger;
             e.preventDefault();
             var frm = document.getElementById('editUserFrm');
             var form = new FormData(frm);
             /*form.append("FullMobile", $("#hidePhone").val());*/

             $.ajax({
                 url: $(this).attr('action'),
                 data: form,
                 type: 'Post',
                 processData: false,
                 contentType: false,
                 beforeSend: function () {
                   /*  AddLoading($("#editUserCard"));*/
                 },
        success: function (result) {
            debugger;
            var spanErrorList = $('#edit span[data-val-result]');
            spanErrorList.html("");
            spanErrorList.parent().removeClass("has-error");
            if (result.status === "success") {
                @*Swal.fire({
                        icon: 'success',
                        text: result.message,
                        confirmButtonText:
                        '<i class="fa fa-thumbs-up"></i> @alert',
                });*@
                 document.getElementById('mainToastBody').innerHTML = '<i class="far fa-check-circle"></i> @alert';
                 document.getElementById('mainToastBody').classList.add('alert-success');
            }
            else if (result.status === "error") {

                if (spanErrorList.length > 1) {
                    spanErrorList.each(function() {
                        $(this).html("");
                        $(this).parent().removeClass("has-error");
                    });
                }

                if (result.modelStateErrors !== null) {

                    result.modelStateErrors.forEach(function(value, index) {

                        $("#edit").find('[data-val-result=' + value.key + ']')
                            .html(value.errorMessage);
                        $("#edit").find('[data-val-result=' + value.key + ']').parent()
                            .addClass("has-error");
                    });
                } else {
                    showError('@alert');
                }
            }
        },
        error: function (xhr, ajaxoptions, thrownerror) {
            alert("@error");
            alert(xhr.status);
            alert(thrownerror);
        },
        complete: function() {
          /*  removeLoading($("#editUserCard"));*/
        }
    });
});
    });
    </script>
}
