@using Arad.Portal.DataLayer.Models.User
@model LoginViewModel
@{
    Layout = null;
    var dir = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        dir = "rtl";
    }
    else
    {
        dir = "ltr";
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Language.GetString("LoginPage")</title>
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    <!-- Theme style -->
    <link href="~/css/siteTemplate/shared/AdminLTE/adminlte.min.css" rel="stylesheet" />

    <!-- iCheck -->
    <link href="~/plugins/iCheck/all.css" rel="stylesheet" />
    <link href="~/plugins/iCheck/flat/blue.css" rel="stylesheet" />
    <!-- bootstrap rtl -->
    <link href="~/css/siteTemplate/rtl/bootstrap-rtl.min.css" rel="stylesheet" />
    <!-- template rtl version -->
    @if (dir == "rtl")
    {
        <link href="~/css/siteTemplate/rtl/custom-style.css" rel="stylesheet" />
        <style>
            .tooltip {
                font-family: IransansWeb;
            }
        </style>
    }

    @*<link href="~/Fonts/IranSans/css/fontiran.css" rel="stylesheet" />
        <link href="~/dashboardAsset/dist/css/loader-double.css" rel="stylesheet" />*@
    <style>

        .tooltip-inner {
            max-width: 200px;
            padding: 3px 8px;
            color: black;
            text-align: center;
            background-color: yellow;
            border-radius: 4px;
            border-color: black;
            border: 1px solid;
        }

        input:: placeholder {
            text-align: right;
        }

        #imgcpatcha:placeholder {
            font-size: 12px
        }

        body {
            background-color: white !important
        }

        .card {
            background-color: #eeeff1;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @if (dir == "rtl")
    {
        <script src="~/js/siteTemplate/jqueryui1.11.4/jquery-ui.min.js"></script>

    }
    else
    {
        <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.css" rel="stylesheet" />
    }

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body style="font-family: IransansWeb"  class="hold-transition login-page">
    <div class="loader loader-double" id="loading">

        @*<img style="width:50px;" src="~/25.svg" />*@

    </div>
    <div class="login-box">
        <div class="login-logo">
            <b>@Language.GetString("AlertAndMessage_SignInToSite")</b>
        </div>
        <!-- /.login-logo -->
        <div class="card" style="direction:@dir; font-family: @(dir=="ltr" ? "sans-serif" : "")">
            <div id="cardHeader" class="card-header" style="text-align: center">

                @{
                    if (!string.IsNullOrWhiteSpace(ViewBag.Message))
                    {
                        <p class="text-danger">@ViewBag.Message</p>
                    }
                    else
                    {
                        <p>@Language.GetString("AlertAndMessage_EnterUsernameAndPassword")</p>
                    }
                }
            </div>
            <form id="loginform" onsubmit="clearHeader()" asp-action="Login" asp-area="" asp-controller="Account" method="post">
                <div class="card-body login-card-body">

                    <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />

                    <div class="input-group mb-3" style="margin-bottom: 12px !important;">

                        <input dir="ltr" placeholder="@Language.GetString("User_UserName")" asp-for="Username" type="text" class="form-control" autocomplete="off">

                        <div class="input-group-append">
                            <span class="fa fa-user input-group-text"></span>
                        </div>

                    </div>
                    <div style="text-align: center">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3" style="margin-top: 15px; margin-bottom: 12px !important;">

                        <div onclick="togglePassword();" style="cursor:pointer" data-toggle="tooltip" data-placement="right" title='@Language.GetString("ShowHide")' class="input-group-append">
                            <span id="ic_span" class="fa fa-eye input-group-text"></span>
                        </div>
                        <input id="pw_element" dir="ltr" placeholder='@Language.GetString("User_Password")' asp-for="Password" type="password" class="form-control" autocomplete="new-password">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>

                    </div>

                    <div style="text-align: center">
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>

                    <div class="input-group mb-3" style="margin-top: 15px; margin-bottom: 12px !important;">
                        <div style="cursor: pointer" class="input-group-prepend">
                            <div class="input-group-text"><i onclick="refreshCaptcha()" class="fa fa-refresh"></i></div>
                        </div>
                        <input asp-for="Captcha" type="text" class="form-control" id="inlineFormInputGroup" placeholder='@Language.GetString("AlertAndMessage_EnterTheResult")'>
                        <img alt="Captcha" id="imgcpatcha" src="@Url.Action("CaptchaImage","Captcha")" style="border: 1px solid #00000033" />
                        <span id="captValidation" asp-validation-for="Captcha" class="text-danger"></span>


                    </div>

                </div>
                <div class="card-footer">
                    <div class="row">

                        <button type="submit" class="btn btn-primary btn-block btn-sm ">@Language.GetString("btn_Login")</button>

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-6">
                            @if (dir == "rtl")
                            {
                                <label>
                                    <input type="checkbox" id="RememberMe" class="minimal" >
                                    @Language.GetString("AlertAndMessage_RememberMe")
                                </label>
                            }
                            else
                            {
                                <div class="icheck-primary d-inline">
                                    <input type="checkbox" class="minimal" id="RememberMe">
                                    <label for="RememberMe" >
                                        @Language.GetString("AlertAndMessage_RememberMe")
                                    </label>
                                </div>
                            }
                        </div>
                        <div class="col-6">
                            <p class="mb-1">
                                <a style="font-size:smaller" asp-action="ResetPassword">@Language.GetString("AlertAndMessage_ForgetPassword")</a>
                            </p>
                        </div>
                    </div>


                </div>
            </form>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
   
        @if (dir == "rtl")
        {
            <script src="~/plugins/iCheck/icheck.min.js"></script>
        }
        <script>

        $(document).ready(function () {
            debugger;
                $('[data-toggle="tooltip"]').tooltip();
                //icheckboxes
                if ("@dir" == "rtl") {
                    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                        checkboxClass: 'icheckbox_minimal-blue',
                        radioClass: 'iradio_minimal-blue'
                    })
                }
            });

            function togglePassword() {
                var pw_ele = document.getElementById("pw_element");
                var icon = document.getElementById("ic_span");

                if (pw_ele.type === "password") {
                    pw_ele.type = "text";
                    icon.className = "fa fa-eye-slash input-group-text"
                } else {
                    pw_ele.type = "password";
                    icon.className = "fa fa-eye input-group-text"
                }
            }

        window.addEventListener("beforeunload",
            function(event) {
                $("#loading").addClass('is-active');
            });

        function refreshCaptcha() {

            $("#imgcpatcha").attr('src', '@Url.Action("CaptchaImage", "Captcha")' + '?' + new Date().getTime());
            $("#inlineFormInputGroup").val('');
            $("#inlineFormInputGroup").focus();
            $('#captValidation').empty();
            }



            function clearHeader() {
            $("#cardHeader").html("<p>نام کاربری و رمز عبور را وارد کنید</p>");
            }
        </script>
</body>
</html>
