@using Microsoft.Extensions.Configuration
@inject IConfiguration Config
@{
    Layout = null;
    var dir = HelpersMethods.GetDirection(CultureInfo.CurrentCulture);
    var lang = HelpersMethods.GetHtmlLang(CultureInfo.CurrentCulture);
     var baseAdd = Config["BaseAddress"];
}
<html style="height: auto;" dir="@dir" lang="@lang">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Language.GetString("AlertAndMessage_Inaccessibility")</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    @if (dir == "rtl")
    {
        <link href="@Url.Content($"~/lib/bootstrap5/css/bootstrap.min.css")" rel="stylesheet" />
    }
    else

    {
     <link href="@Url.Content($"~/lib/bootstrap5/css/bootstrap.rtl.min.css")" rel="stylesheet" />
    }
    <link href="@Url.Content($"~/lib/bootstrap-select/css/bootstrap-select.min.css")" rel="stylesheet" />
    <link href="@Url.Content($"~/css/site.css")" rel="stylesheet" />
    <link href="@Url.Content($"~/lib/font-awesome/css/all.css")" rel="stylesheet" />

</head>
<body style="height: auto;">

    <div id="loading" class="text-center">
        <div class="spinner-border text-danger" style="width: 4rem; height: 4rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="wrapper">

        <section class="content">
            <div class="error-page">
                <h2 class="headline text-danger">404</h2>

                <div class="error-content">
                    <h3><i class="fa fa-warning text-danger"></i>@Language.GetString("AlertAndMessage_NotFound")</h3>
                    @*<p>
                        صفحه یا آیتمی که درخواست کرده اید پیدا نشد با <a href="@Url.Action("Login","Account")"> این لینک </a>می توانید به صفحه اصلی برگردید..
                    </p>*@
                </div>
            </div>
            <!-- /.error-page -->
        </section>
        <!-- /.content -->
    </div>
    <script src="@Url.Content($"~/lib/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content($"~/lib/bootstrap5/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content($"~/lib/bootstrap-select/bootstrap-select.min.js")"></script>
    <script src="@Url.Content($"~/lib/bootstrap-select/js/i18n/defaults-@(CultureInfo.CurrentCulture.Name.Replace('-', '_')).js")"></script>

</body>
</html>
