@using System.Globalization
@model Arad.Portal.DataLayer.Models.User.ResetPassword
@using Microsoft.Extensions.Configuration
@inject IConfiguration Config
@inject Arad.Portal.DataLayer.Contracts.General.SystemSetting.ISystemSettingRepository _systemSettingRepository
@{
    Layout = null;
    Arad.Portal.DataLayer.Entities.General.SystemSetting.SystemSetting systemSetting
        = (await _systemSettingRepository.GetAll()).FirstOrDefault();
    
   var direction = HelpersMothods.GetDirection(CultureInfo.CurrentCulture);
    var lang = HelpersMothods.GetHtmlLang(CultureInfo.CurrentCulture);
     var baseAdd = Config["BaseAddress"];
}

<!DOCTYPE html>
<html dir="@direction" lang="@lang">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">

   
    <title>@systemSetting?.SystemTitle - @Language.GetString("AlertAndMessage_RequestChangePassword")</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    @if (direction == "ltr")
    {
        <link href="@Url.Content($"~/lib/bootstrap5/css/bootstrap.min.css")" rel="stylesheet" />
    }
    else
    {
        <link href="@Url.Content($"~/lib/bootstrap5/css/bootstrap.rtl.min.css")" rel="stylesheet" />
        
    }
    <link href="@Url.Content($"~/lib/bootstrap-select/css/bootstrap-select.min.css")" rel="stylesheet" />
    <link href="@Url.Content($"~/css/site.css")" rel="stylesheet" />
    <link href="@Url.Content($"~/lib/font-awesome/css/all.css")" rel="stylesheet" />
    <link href="@Url.Content($"~/lib/intl-tel-input/css/intlTelInput.css")" rel="stylesheet" />
    <style>
        input::placeholder { text-align: center; }

        #imgcpatcha::placeholder {
            font-size: 12px;
            text-align: center;
        }

        body {
            align-content: center;
            background-color: white !important;
            display: flex;
            font-family: @(CultureInfo.CurrentCulture.Name == "fa-IR" ? "IRANSansWeb" : null);
            font-size: 14px;
            justify-content: center;
            padding-top: 170px;
        }
    </style>
</head>

<body>

    <div class="loader loader-double"
         id="loading">
    </div>

    <div style="width: 400px;">

        <form id="ResetPasswordForm"
              asp-action="ResetPassword"
              asp-controller="Account"
              autocomplete="off">

            <div class="card">

                <div class="card-body">
                  @*  <div class="text-center">
                        <img src="~/Logo/@systemSetting?.CompanyLogoUrl"
                             height="100"
                             width="100" />
                    </div>*@
                    <br />

                    <div class="input-group mb-3"
                         style="margin-bottom: 12px !important;">
                        <input placeholder="@Language.GetString("AlertAndMessage_Username")"
                               asp-for="UserName"
                               type="text"
                               class="form-control">

                        <div class="input-group-append">
                            <span class="fa fa-user input-group-text pb-3"></span>
                        </div>

                    </div>
                    <div style="text-align: center">
                        <span asp-validation-for="UserName"
                              class="text-danger">
                        </span>
                    </div>

                    <div class="input-group mb-3"
                         style="margin-bottom: 12px !important;">
                        <input placeholder="@Language.GetString("User_CellPhoneNumber")"
                               type="tel"
                               class="form-control"
                               asp-for="CellPhoneNumber"
                               style="width: 305px !important">
                          <input  type="hidden" value="" asp-for="FullCellPhoneNumber"/>
                        <div class="input-group-append">
                            <div class="input-group-text pb-3">
                                <span class="fas fa-mobile-alt"></span>
                            </div>
                        </div>

                    </div>

                    <div style="text-align: center">
                        <span asp-validation-for="CellPhoneNumber"
                              class="text-danger">
                        </span>
                    </div>

                    <div class="input-group mb-3"
                         style="margin-bottom: 12px !important; margin-top: 15px;">

                        <img alt="Captcha"
                             id="imgcpatcha"
                             src="@Url.Action("CaptchaImage", "Captcha")"
                             style="border: 1px solid #9e9e9e" />
                        <input asp-for="Captcha"
                               type="text"
                               class="form-control"
                               id="inlineFormInputGroup"
                               placeholder="@Language.GetString("User_Captcha")"
                               style="text-align: center">

                        <div style="cursor: pointer"
                             class="input-group-prepend">
                            <div class="input-group-text pb-3">
                                <i onclick="refreshCaptcha()"
                                   class="fas fa-sync-alt">
                                </i>
                            </div>
                        </div>

                        <span id="captValidation"
                              asp-validation-for="Captcha"
                              class="text-danger">
                        </span>
                    </div>
                </div>
                <div class="card-footer">
                    <a asp-action="List" asp-controller="Account" class="btn btn-secondary btnBack bg-gradient float-end m-1">@Language.GetString("btn_Back")</a>
                    <button id="btnAnswer"
                            class="btn btn-success bg-gradient float-end m-1"
                            type="submit">
                        @Language.GetString("btn_Send")
                    </button>
                   
                </div>
            </div>
        </form>


    </div>

    <script src="@Url.Content($"~/lib/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content($"~/lib/bootstrap5/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content($"~/lib/bootstrap-select/bootstrap-select.min.js")"></script>
    <script src="@Url.Content($"~/lib/bootstrap-select/js/i18n/defaults-@(CultureInfo.CurrentCulture.Name.Replace('-', '_')).js")"></script>
    <script src="@Url.Content($"~/lib/intl-tel-input/js/intlTelInput.js")"></script>
    <script src="@Url.Content($"~/lib/intl-tel-input/js/utils.js")"></script>
    <script>

    function refreshCaptcha()
    {
        $("#imgcpatcha").attr('src', `@Url.Action("CaptchaImage", "Captcha")?${new Date().getTime()}`);
    }

    var cell = document.querySelector("#CellPhoneNumber");
    window.intlTelInput(cell,
        {
            initialCountry: "IR",
            placeholderNumberType: "MOBILE",
            separateDialCode: true,
            nationalMode: true,
            hiddenInput: "FullCellPhoneNumber"
        });

    window.addEventListener("beforeunload",
        function(event) {
            $("#loading").addClass('is-active');
        });

    $('#ResetPasswordForm')
        .submit(function(e) {
            e.preventDefault();
            const form = $(this).serialize();
            $.ajax({
                type: 'Post',
                url: $(this).attr('action'),
                data: form,
                beforeSend: function()
                {
                    $("#loading").addClass('is-active');
                },
                statusCode: {
                    200: function(resultData)
                    {
                        $("#loading").removeClass('is-active');

                        if (resultData.status === "Success") {
                            window.location.href = '@Url.Action("EnterOtp")';
                        }
                        else
                        if (resultData.status === "ModelError") {
                            const spanErrorList = $('span[data-val-result]');
                            if (spanErrorList.length > 1) {
                                spanErrorList.each(function() {
                                    $(this).html("");
                                    $(this).parent().removeClass("has-error");
                                });
                            }
                            else {
                                spanErrorList.html("");
                                spanErrorList.parent().removeClass("has-error");
                            }

                            if (resultData.modelStateErrors !== null) {
                                resultData.modelStateErrors.forEach(function(value, index) {
                                    if (value.key === 'Captcha') {
                                        refreshCaptcha();
                                    }

                                    $(`[data-val-result=${value.key}]`).html(value.errorMessage);
                                    $(`[data-val-result=${value.key}]`).parent().addClass("has-error");
                                });
                            }
                        }
                        else
                        if (resultData.status === "Error") {
                           showError(resultData.message);
                        }
                    }
                }
            });
        });

    </script>
</body>
</html>