@model Arad.Portal.DataLayer.Models.Role.RoleDTO;
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var alert = Language.GetString("AlertAndMessage_GotIt");
    var error = Language.GetString("AlertAndMessage_Error");
    var dir = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        dir = "rtl";
    }
    else
    {
        dir = "ltr";
    }
}


<link href="~/css/jquerysctipttop.css" rel="stylesheet" />
<script src="~/js/plugins/jquery/jquery.min.js"></script>
<link href="~/css/font-awesome/font-awesome.min.css" rel="stylesheet" />
<link href="~/css/jqueryTreeview/jquery.treeview.css" rel="stylesheet" />
<script src="~/js/jqueryTreeview/jquery.treeview.js"></script>

<style>
    .text-danger {
        font-size: 12px;
    }
    p.group {
        padding-right: @(dir == "rtl" ? "3%" : "0%");

    }
    .treeview .item i{
        margin : 10px;
    }
    .card-header {
        background-color: #e0dcdf;
    }
</style>


<h4>  @Language.GetString("Menu_Permissions") </h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card" id="addPermissionCard">
            <div class="card-header">
                <h3 class="card-title" data-toggle="tab">@(!string.IsNullOrWhiteSpace(Model.RoleId) ? Language.GetString("EditRolePart_Title") : Language.GetString("AddRolePart_Title"))</h3>
            </div>
            <form asp-controller="Role" role="form" asp-action="Save" id="addEditRoleFrm" method="post">
                <input type="hidden" value="@Model.RoleId" data-val="true" asp-for="@Model.RoleId">
                <div class="card-body" id="addEditPermissionCard">
                    <div class="row">
                        <div class="form-group col-md-3">

                            <label asp-for="RoleName">@Language.GetString("Role_Name")</label>
                            <input type="text" class="form-control" asp-for="RoleName" placeholder=" ">
                            <span data-val-result="RoleName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3" id="TypeSelect">
                            <label asp-for="IsActive">@Language.GetString("ActivationState")</label><br />
                            <input @(Model.IsActive ? "checked" : "") id="IsActive" name="IsActive" type="radio"
                                   value="true"><span style="margin:0 5px;">@Language.GetString("Active")</span></input>
                                <input @(!Model.IsActive ? "checked" : "") id="IsActive" name="IsActive" type="radio"
                                       value="false"><span style="margin:0 5px;">@Language.GetString("InActive")</span></input>
                                    <span data-val-result="IsActive" class="text-danger"></span>
                                </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="permissionTreeView">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @{
                            if (!string.IsNullOrWhiteSpace(Model.RoleId))
                            {
                                <div class="form-group col-md-6">
                                    <label asp-for="ModificationReason">@Language.GetString("ModificationReason")</label>
                                    <textarea dir="rtl" asp-for="ModificationReason" class="form-control" rows="3"></textarea>
                                    <span data-val-result="ModificationReason" class="text-danger"></span>
                                </div>
                            }
                        }
                    </div>
                  </div>
                        <div class="card-footer">
                            <div class="row">
                                <input type="submit" id="savebtn" value="@Language.GetString("btn_Save")" class="btn btn-block btn-success" />
                                <a asp-action="List" class="btn btn-block btn-default">@Language.GetString("btn_Back")</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        @section Scripts
{

            <script>
              
                $(document).ready(function () {
                    debugger;
                 $.ajax({
                     url: '@Url.Action("ListPermissions")' +"/"+"@Model.RoleId",
                     type: 'Get',
                     success: function (result) {
                         debugger;
                         var tw = new TreeView(
                             result,
                             { showAlwaysCheckBox: true, fold: false });
                         document.getElementById("permissionTreeView").appendChild(tw.root);
                     },
                     error: function (xhr, ajaxOptions, thrownError) {
                         alert(xhr.status);
                         alert(thrownError);
                     }
                 });



   $("#addEditRoleFrm").submit(function (e) {
            debugger;
            e.preventDefault();
               /* var form = $(this).serialize();*/
            var myform = document.getElementById('addEditRoleFrm');
                var form = new FormData(myform);
                var PermissionIds = [];
                $("#permissionTreeView span.item").each(function () {
                    var data = $(this).attr("check-value");
                    var num = parseInt(data);
                    if (num > 0) {
                        PermissionIds.push($(this).attr("data-id"));
                    }
                });
       form.append('PermissionIds', PermissionIds);
       form.append('IsActive', $("input[name='IsActive']:checked").val());
       debugger;
            $.ajax({
                url: $(this).attr('action'),
                data: form,
               /* dataType : "json",*/
                type: 'Post',
                processData: false,
                contentType:false,
               /* contentType: "application/json; charset=utf-8",*/

                beforeSend: function () {
                    debugger;
                    AddLoading($("#addEditPermissionCard"));
                },
                success: function (result) {
                    debugger;

                    if (result.status === "Success") {
                        Swal.fire({
                            icon: 'success',
                            text: result.message,
                            showConfirmButton: false,
                            timer: 3000
                        }).then(() => {
                            window.location.href = '@Url.Action("List")';
                        });
                    }else
                    if (result.status === "ModelError") {
                        var spanErrorList = $('span[data-val-result]');
                        if (spanErrorList.length > 1) {
                            spanErrorList.each(function() {
                                $(this).html("");
                                $(this).parent().removeClass("has-error");
                            });
                        } else {
                            spanErrorList.html("");
                            spanErrorList.parent().removeClass("has-error");
                        }

                        if (result.modelStateErrors !== null) {
                            result.modelStateErrors.forEach(function(value, index) {

                                $('[data-val-result=' + value.key + ']').html(value.errorMessage);
                                $('[data-val-result=' + value.key + ']').parent().addClass("has-error");
                            });
                        }
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("@error");
                    alert(xhr.status);
                    alert(thrownError);
                },
                complete: function () {
                    removeLoading($("#addEditPermissionCard"));
                }
            });
        });
        });
            </script>
        }


