@using Arad.Portal.GeneralLibrary.Utilities;
@model List<Arad.Portal.DataLayer.Models.Permission.ListPermissions>
@{
    Layout = null;
}


<ul>
    @foreach (var item in Model)
    {
        if (item.Childrens.Count != 0)
        {
    <li data-value="@item.Id">
        @Language.GetString($"PermissionTitle_{item.Title}")

        @if (item.Childrens.Count != 0)
        {
            <ul >
                @foreach (var child in item.Childrens)
                {
                <li data-value="@child.Id">
                    @Language.GetString($"PermissionTitle_{child.Title}")
                    @if (child.Childrens.Count != 0)
                    {
                        @await Component.InvokeAsync("InnerPermissions", child)
                    }

                </li>
                }
            </ul>
        }
    </li>
        }
        else
        {
                <li data-value="@item.Id">
                    @Language.GetString($"PermissionTitle_{item.Title}")
                 </li>
         
        }

    }
</ul>
