@model Arad.Portal.DataLayer.Models.Product.CompareModel
@{


}
<style>
</style>
<div class="container">

    <div class="modal" id="productSearchModal" tabindex="-1" aria-labelledby="productSearchModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">@Language.GetString("Title_Search")</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="col-12 col-md-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="txtSearch" placeholder="@Language.GetString("btn_Search")" value="@(@ViewBag.Tag != null ? @ViewBag.Tag : "" )" />
                            <button type="button" class="input-group-text" id="btnSearch">
                                <i class="fas fa-search p-1 m-1"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row" id="productResult">
                        @{
                            foreach (var pro in Model.SuggestionProducts)
                            {
                                                    <div class="col-12 col-md-3">
                                                        <div class="card" onclick="addProduct(@pro.ProductId)">
                                                            <a href="@($"/product/{pro.ProductCode}")" class="proLink" role="button">
                                                                <img src="@($"../filemanager/getScaledImageOnWidth?path={pro.ProductImageUrl}&width={150}")" class="card-img-top" alt="...">
                                                            </a>
                                                            <div class="card-body">
                                                                <a href="@($"/product/{pro.ProductCode}")" class="proLink" role="button">
                                                                    <p class="card-text text-center">@pro.ProductName</p>
                                                                </a>
                                                                <p class="card-title fs-6">
                                                                    @($"{Convert.ToInt64(pro.CurrentPrice):n0} {ViewBag.CurrencySymbol}")
                                                                </p>
                                                            </div>

                                                        </div>
                                                    </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @foreach (var pro in Model.ProductComapreList)
        {
            <div class="col-12 col-md-3">
                <div class="card">
                    <div class="card-header">  <button type="button" class="btn-close float-end"  aria-label="Close" onclick="DelPro(@(pro.ProductCode))"></button>
                      </div>
                    <a href="@($"/product/{pro.ProductCode}")" class="proLink" role="button">
                        <img src="@($"../filemanager/getScaledImageOnWidth?path={pro.ProductImageUrl}&width={150}")" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <a href="@($"/product/{pro.ProductCode}")" class="proLink" role="button">
                            <p class="card-text text-center">@pro.ProductName</p>
                        </a>
                        <p class="card-title fs-6">
                            @($"{Convert.ToInt64(pro.CurrentPrice):n0} {ViewBag.CurrencySymbol}")
                        </p>
                    </div>

                </div>
            </div>
        }
        @if (Model.ProductComapreList.Count < 4)
        {
            <div class="col-md-3 align-middle">
                <input type="button" value="@Language.GetString("btn_AddToCompareList")" data-bs-toggle="modal"
                   data-bs-target="#productSearchModal" id="btnAddToCampareList" class="btn btn-outline-secondary" />
            </div>
        }
    </div>

    <div class="row">
        @if (Model.ProductComapreList.Count != 0 && Model.UnionSpecifications.Count != 0)
        {
            <table class="table table-hover my-3 border border-1 rounded">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        @{
                            foreach (var pro in Model.ProductComapreList)
                            {
                                                    <th scope="col">@pro.ProductName</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var spec in Model.UnionSpecifications)
                        {
                                                <tr>
                                                    <th scope="row">@spec.Text</th>
                                                    @foreach (var pro in Model.ProductComapreList)
                                {
                                                        <td>@(pro.Specifications.Any(_=>_.SpecificationId == spec.Value) ? pro.Specifications.FirstOrDefault(_=>_.SpecificationId == spec.Value).Values : "-")</td>
                                }
                                                </tr>

                        }
                    }
                </tbody>
            </table>
        }
        else if (Model.ProductComapreList.Count == 0)
        {
            <div class="col-12"><p>@Language.GetString("AlertAndMessage_NoProductWereAddedToCompare")</p></div>

        }
        else if (Model.UnionSpecifications.Count == 0)
        {
            <div class="col-12"><p>@Language.GetString("AlertAndMessage_NoSpecificationsToCompare")</p></div>
        }

    </div>

</div>

<script>
    $(document).ready(function() {
        var currentCount = '@Model.ProductComapreList.Count';

        $("#btnSearch").click(function() {

            var filter = $("#txtSearch").val();
            $.ajax({
                url: `/'@ViewBag.LanIcon'/Product/Search?filter=${filter}`,
                contentType: 'application/json',
                type: 'Get',
                dataType: 'json',
                beforeSend: function() { },
                success: function(result) {
                    if (result.status == "success") {
                        $("#productResult").html("");
                        for (var i = 0; i <= result.dataType.length; i++) {

                            var pro = result.dataType[i];

                            var html = `<div class="col-12 col-md-3"><div class="card" onclick="addProduct(${pro.ProductCode})">
                                            <a href="/product/${pro.ProductCode}" class="proLink" role="button">
                                                <img src="../filemanager/getScaledImageOnWidth?path=${pro.ProductImageUrl}&width=80")" class="card-img-top" alt="...">
                                            </a>
                                            <div class="card-body">
                                                <a href=$"/product/${pro.ProductCode}" class="proLink" role="button">
                                                    <p class="card-text text-center">${pro.ProductName}</p>
                                                </a>
                                                <p class="card-title fs-6">
                                                    ${pro.FormattedPrice} ${'@ViewBag.CurrencySymbol'}
                                                </p>
                                            </div></div></div>`;
                            $("#productResult").append(html);
                        }
                    } else {
                        $("#productResult").html("");
                    }
                },
            })
        });
    });
    function addProduct(code) {
        window.location.href = '@Url.Action("AddToComparePage", "Product")' + "?code=" + code;
    }

    function DelPro(code) {
        window.location.href = '@Url.Action("DeleteProductFromCompareList", "Product")' + "?code=" + code;
    }
</script>