@model Arad.Portal.DataLayer.Models.Product.ProductOutputDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dir = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        dir = "rtl";
    }
    else
    {
        dir = "ltr";
    }
    var price = Model.Prices.Any(_ => _.StartDate <= DateTime.UtcNow && _.CurrencyId == ViewBag.CurCurrencyId && _.IsActive && _.EndDate == null) ?
                                        Model.Prices.First(_ => _.StartDate <= DateTime.UtcNow && _.CurrencyId == ViewBag.CurCurrencyId && _.IsActive && _.EndDate == null) : null;
    var realPrice = price.PriceValue;
}
@section Styles
{
    <link href="~/lib/slick-carousel/slick.css" rel="stylesheet" />
    <link href="~/lib/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/ImageSlider/ImageSlider.css" rel="stylesheet" />
    <style>
    .card-title{
       text-align : @(@dir == "rtl" ? "right" : "left") ;
    }
    .txtAlign{
         text-align : @(@dir == "rtl" ? "right" : "left") ;
    }
    .smlImg{
        border-radius : 10%;
    }
    .card {
        position: relative;
        display: flex;
        padding: 20px;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #d2d2dc;
        border-radius: 11px;
        -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
        -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
        box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
    }

    .media img {
        width: 60px;
        height: 60px
    }

    .reply a {
        text-decoration: none
    }
    </style>
}

@section Scripts{
    @*<script src="~/ImageSlider/slick.min.js"></script>*@
    <script src="~/lib/slick-carousel/slick.min.js"></script>
    @*<script src="~/ImageSlider/jquery.fancybox.min.js"></script>*@
    <script src="~/lib/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/ImageSlider/ImageSlider.js"></script>
   
}
<div class="row">
    <div class="col-6" style="direction:ltr;">
        <div id="detail">
            <div class="product-images demo-gallery">
                <div class="main-img-slider">
                    @foreach (var item in Model.Images)
                    {
                        <a data-fancybox="gallery" href=@($"../filemanager/getscaledimage?path={item.Url}&height={1000}")>
                            <img src=@($"../filemanager/getscaledimage?path={item.Url}&height={800}") class="img-fluid">
                        </a>
                    }
                </div>

                <ul class="thumb-nav">
                    @foreach (var item in Model.Images)
                    {
                        <li><img class="smlImg" src=@($"../filemanager/getscaledimage?path={item.Url}&height={75}")></li>
                    }
                </ul>
            </div>
        </div>
        <div class="sold_stars ml-auto">
            @for (int i = 1; i <= Model.LikeRate; i++)
            {
                <a href="#"
                   role="button" aria-expanded="false" onclick="Rate(i, @Model.ProductId);">
                    <i class="fas fa-star"></i>
                </a>
            }
            @if (Model.halfLikeRate)
            {
                <a href="#"
                   role="button" aria-expanded="false" onclick="Rate(Model.LikeRate+1, @Model.ProductId);">
                    <i class="fas fa-star-half-alt"></i>
                </a>
            }
            @for (int i = (Model.halfLikeRate ? Model.LikeRate + 2 : Model.LikeRate + 1); i <= Model.DisikeRate; i++)
            {
                <a href="#"
                   role="button" aria-expanded="false" onclick="Rate(i, @Model.ProductId);">
                    <i class="far fa-star"></i>
                </a>
            }
        </div>
    </div>
    <div class="col-6">
        <div class="card" style="border: none;">
            <div class="card-header"></div>
            <div class="card-body">
                <h5 class="card-title">
                    @(Model.MultiLingualProperties.Any(_ => _.LanguageId == ViewBag.CurLanguageId) ?
                    Model.MultiLingualProperties.First(_ => _.LanguageId == ViewBag.CurLanguageId).Name : "")
                </h5>
                <p class="card-text txtAlign">
                    @*text-truncate*@
                    @(Model.MultiLingualProperties.Any(_ => _.LanguageId == ViewBag.CurLanguageId) ?
                            Model.MultiLingualProperties.First(_ => _.LanguageId == ViewBag.CurLanguageId).Description : "")
                </p>
                @{
                    if (Model.Inventory > 0)
                    {
                                    <div class="row">
                                        <div class="col-md-2">
                                            <span>@Language.GetString("PriceValue")</span>
                                            <span> : </span>
                                        </div>
                                        @if (realPrice == Model.PriceValWithPromotion && Model.GiftProduct == null)
                                        {
                                            <div class="col-md-3">
                                                <p>
                                                    <mark>
                                                        @($"{@Model.PriceValWithPromotion} {@price.Prefix}")
                                                    </mark>
                                                <p>
                                            </div>
                                        }
                                        else
                                        {
                                            @if (Model.GiftProduct == null)
                                            {
                                                <div class="col-md-2">
                                                    <p>
                                                        <mark>
                                                            @Model.PriceValWithPromotion + @price.Prefix;
                                                        </mark>
                                                    </p>
                                                </div>
                                                <div class="col-md-2">
                                                    <p>
                                                        <s>
                                                            @realPrice + @price.Prefix ;
                                                        </s>
                                                    </p>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-2">
                                                    <p>
                                                        <mark>
                                                            @Model.PriceValWithPromotion + @price.Prefix;
                                                        </mark>
                                                    </p>
                                                </div>
                                                <div class="col-md-3">
                                                    <p>@Language.GetString("byBuying")</p>
                                                    <span>@Model.Promotion.BoughtCount.Value</span>
                                                    <p>@Language.GetString("AsGift")</p>
                                                    <span>@Model.Promotion.PromotedCountofUnit.Value</span>
                                                    <a class="bbb_deals_item_name" href="/product/@Model.GiftProduct.ProductCode">
                                                        @(Model.GiftProduct.MultiLingualProperties.Any(_ => _.LanguageId == ViewBag.CurLanguageId) ?
                                                            Model.GiftProduct.MultiLingualProperties.First(_ => _.LanguageId == ViewBag.CurLanguageId).Name :
                                                            Model.GiftProduct.MultiLingualProperties.First().Name )
                                                    </a>
                                                </div>
                                            }

                                        }

                                        <div class="col-md-3 txtAlign">
                                            <span>@Language.GetString("InventoryInStore")</span>
                                            <span>@Model.Inventory</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 offset-3">
                                            <button class="btn btn-light">@Language.GetString("btn_AddToShoppingCard")</button>
                                        </div>
                                    </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-3 offset-3">
                                <button class="btn btn-light" disabled>@Language.GetString("UnAvailable")</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-danger">@Language.GetString("btn_InformMe")</button>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
 </div>
<div class="row">
    <div class="col-md-6">
        <div class="mb-5 mt-5">
            <div class="row">
                <div class="col-md-12">

                    @foreach (var item in Model.Comments)
                    {
                        @await Component.InvokeAsync("CommentSection", item)
                    }

                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6 txtAlign">
        @*text-truncate*@
        @{
            if (Model.MultiLingualProperties.Any(_ => _.LanguageId == ViewBag.CurLanguageId) &&
                !string.IsNullOrEmpty(Model.MultiLingualProperties.First(_ => _.LanguageId == ViewBag.CurLanguageId).BodyContent))
            {
                @Html.Raw(Model.MultiLingualProperties.First(_ => _.LanguageId == ViewBag.CurLanguageId).BodyContent)
            }
        }
    </div>
</div>

<script src="~/js/CommentSection/cmt.js"></script>
<script type="text/javascript">
    function Rate(score, id) {
        if ('@ViewBag.LoggedUser' == 'True') {
            $.ajax({
                url: "/Product/RateProduct?productId=" + id + "&score=" + score,
                contentType: 'application/json',
                type: 'Post',
                dataType: 'json',
                beforeSend: function () {
                },
                success: function (result) {
                    if (result.status == "Success") {
                       //refresh rate part with attribute disabled 
                    }
                }
            });
        }
    }

</script>
