@model PagedItems<Arad.Portal.DataLayer.Models.Product.ProductOutputDTO>
@using Arad.Portal.DataLayer.Models.Shared
@using Arad.Portal.UI.Shop.ViewComponents;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    @*<link href="~/lib/owlCarousel/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/owlCarousel/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/lib/owlCarousel/css/CarouselCustomArrowKeys.css" rel="stylesheet" />*@
    <link href="~/css/SpecialProduct.css" rel="stylesheet" />
    <link href="~/lib/noUiSlider//nouislider.css" rel="stylesheet" />

}


    @*<div class="card mt-2 border-0">
    <div class="card-body">
        <div id="productSection">
            @await Component.InvokeAsync("SpecialProduct", new { count = 10, productType = ProductOrContentType.Newest })
        </div>
    </div>
</div>*@
    <div class="row">
        <div class="col-lg-3">
           @await Component.InvokeAsync("DynamicFilter", new { filter = @ViewBag.FilterModel})
        </div>
        <div class="col-lg-9">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <div class="col-12">
                            <ul class="list-group list-group-flush list-group-horizontal-sm">
                                <li class="list-group-item">
                                    <button type="button" class="m-2 btn btn-outline-success sortingType" value="1">@Language.GetString("EnumDesc_Newest")</button>
                                </li>
                                <li class="list-group-item">
                                    <button type="button" class="m-2 btn btn-outline-success sortingType" value="2">@Language.GetString("EnumDesc_MostVisited")</button>
                                </li>
                                <li class="list-group-item">
                                    <button type="button" class="m-3 btn btn-outline-success sortingType" value="3">@Language.GetString("EnumDesc_MostPopular")</button>
                                </li>
                                <li class="list-group-item">
                                    <button type="button" class="m-2 btn btn-outline-success sortingType" value="4">@Language.GetString("EnumDesc_BestSelling")</button>
                                </li>
                                <li class="list-group-item">
                                    <button type="button" class="m-2 btn btn-outline-success sortingType" value="5">@Language.GetString("EnumDesc_MostExpensive")</button>
                                </li>
                                <li class="list-group-item">
                                    <button type="button" class="m-2 btn btn-outline-success sortingType" value="6">@Language.GetString("EnumDesc_Cheapest")</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body"></div>
                    <div class="card-footer">
                    @await Component.InvokeAsync("Pagination", new PageViewModel
                        {
                        CurrentPage = Model.CurrentPage,
                        ItemsCount = Model.ItemsCount,
                        PageSize = Model.PageSize,
                        Navigation = Url.Action("Filter", "Product"),
                        QueryParams = Model.QueryString,
                        Filters = @ViewBag.Filter
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{

    <script src="~/lib/noUiSlider/nouislider.min.js"></script>

    <script>
        $(document).ready(function() {
            $(".likeLink i").click(function() {
                if ($(this).hasClass("far fa-heart")) {
                    $(this).removeClass("far fa-heart");
                    $(this).addClass("fas fa-heart");
                } else {
                    $(this).removeClass("fas fa-heart");
                    $(this).addClass("far fa-heart");
                }
            });
           
        })
    </script>

}