@model Arad.Portal.DataLayer.Models.Product.ProductOutputDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var alert = Language.GetString("AlertAndMessage_GotIt");
    var error = Language.GetString("AlertAndMessage_Error");
    var dir = "";
    var lan = "";

    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        dir = "rtl";
    }
    else
    {
        dir = "ltr";
    }
    if (CultureInfo.CurrentCulture.Name == "fa-IR")
    {
        lan = "fa";
    }
    else
    {
        lan = "en";
    }
    var count = @Model.MultiLingualProperties.Count + 1;
}

@section Styles{
    <style>
        .text-danger {
            font-size: 12px;
        }

        .card-header {
            background-color: #e0dcdf;
        }

        .removeImage {
            display: inline-block;
            position: absolute;
            top: -7px;
            right: -5px;
            width: 20px;
            height: 21px;
            background: #dc3545;
            text-align: center;
            border-radius: 50%;
            color: white !important;
            cursor: pointer;
        }

        .divCenter {
            text-align: center;
            border: 1px solid;
        }

        table tr {
            text-align: center;
        }

        tbody tr td {
            vertical-align: middle;
        }

        .valign {
            vertical-align: middle;
        }
    </style>

    <link href="~/lib/cropperjs/cropper.css" rel="stylesheet" />
    <link href="~/plugins/select2/css/select2.css" rel="stylesheet" />
    <link href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/ckeditor/prism_1.0.1/prism/lib/prism/prism_patched.min.css" rel="stylesheet" />
    @if (CultureInfo.CurrentCulture.Name == "fa-IR")
    {
        <link href="~/plugins/datePicker/kamadatepicker.css" rel="stylesheet" />
    }
}
<h4>@Language.GetString("Menu_Products")</h4>

<div class="modal fade" id="uploadModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content col-md-12">
            <div class="modal-header">
                <div class="col-md-1">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-md-11" style="text-align: center">
                    <h5 class="modal-title align-content-center" id="exampleModalLongTitle">@Language.GetString("CropImage")</h5>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-body" id="upload-modal-body">
                    <div id="rowContainer" class="row justify-content-center align-items-center">
                        <div id="container" style="position: relative;display: inline; height: 400px; width: 400px;max-width:100%;">
                            <img onchange="getURL(this)" class="img-fluid" hidden="hidden" id="blah" alt="your image" style="max-width: 100%;width: 356px;height: 356px;border: 1px solid black" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center align-items-center">
                <div>
                    <button class="btn btn-success bg-gradient" id="send_pic" type="button"><i style="margin-left: 5px;font-size:13px" class="fas fa-check"></i>@Language.GetString("btn_Approve")</button>
                    <button class="btn btn-primary bg-gradient" id="crop_button"><i style="margin-left: 5px;font-size:13px" class="fas fa-cut"></i>@Language.GetString("btn_Crop")</button>
                    <button class="btn btn-primary bg-gradient" style="background-color: crimson;color: white;border: 1px solid crimson" onclick="rotatePic()"> <i style="margin-left: 5px;font-size:13px" class="fas fa-retweet"></i> @Language.GetString("btn_Rotate")</button>

                </div>
            </div>
        </div>
    </div>
</div>


<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card" id="addProductCard">
            <div class="card-header">
                <h3 class="card-title" data-toggle="tab">
                    @(!string.IsNullOrWhiteSpace(Model.ProductId) ?
                     Language.GetString("EditProductPart_Title") : Language.GetString("AddProductPart_Title"))
                </h3>
            </div>

            <div class="card-body" id="addEditProductCard">
                <input type="hidden" value="@Model.ProductId" asp-for="ProductId" />

                <div class="row">
                    <div class="form-group col-md-3">
                        <label>@Language.GetString("tbl_ProductGroup")</label>
                        <select class="form-control select2" multiple="multiple" asp-for="@Model.GroupIds" asp-items="@(new SelectList(ViewBag.ProductGroupList,"Value","Text"))">
                        </select>
                        <span data-val-result="GroupIds" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label>@Language.GetString("tbl_UniqeCode")</label>
                        <input type="text" class="form-control" asp-for="@Model.UniqueCode" value="@Model.UniqueCode" />
                        <span data-val-result="UniqueCode" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label>@Language.GetString("tbl_Inventory")</label>
                        <input type="number" class="form-control" asp-for="@Model.Inventory" value="@Model.Inventory" min="0" />
                        <span data-val-result="Inventory" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label>@Language.GetString("Menu_ProductUnit")</label>
                        <select class="form-control" asp-for="@Model.Unit.ProductUnitId" asp-items="@(new SelectList(ViewBag.ProductUnitList,"Value","Text"))">
                        </select>
                        <span data-val-result="productUnitId" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <lable> @Language.GetString("AlertAndMessage_NotifyWhenCountIsLessThan")</lable>
                        <input type="number" class="form-control" asp-for="@Model.MinimumCount" value="@Model.MinimumCount" min="0" />

                    </div>
                    <div class="form-group col-md-3" style="text-align:center;margin:auto;">
                        @if (dir == "rtl")
                        {
                            <label style="font-weight:700;">
                                <input type="checkbox" id="chbNotifyInventory" class="minimal">
                                @Language.GetString("ShowInLackOfInventory")
                            </label>
                        }
                        else
                        {
                            <div class="icheck-primary d-inline">
                                <input type="checkbox" id="chbNotifyInventory">
                                <label for="chbNotifyInventory">
                                    @Language.GetString("ShowInLackOfInventory")
                                </label>
                            </div>
                        }
                    </div>
                    <div class="form-group col-md-3">
                        @if (ViewBag.Vendors != "-1")
                        {
                            <label>@Language.GetString("ProductVendor")</label>
                            <select class="form-control" asp-for="@Model.SellerUserId" asp-items="@(new SelectList(ViewBag.Vendors,"Value","Text"))">
                            </select>
                            <span data-val-result="sellerUserId" class="text-danger"></span>
                        }
                    </div>
                    <div class="form-group col-md-3" style="text-align:center;margin:auto;">
                        @if (dir == "rtl")
                        {
                            <label>
                                <input type="checkbox" id="chbIsPublishedOnMainDomain" class="minimal">
                                @Language.GetString("AlertAndMessage_IsPublishedOnMainDomain")
                            </label>
                        }
                        else
                        {
                            <div class="icheck-primary d-inline">
                                <input type="checkbox" id="chbIsPublishedOnMainDomain">
                                <label for="chbIsPublishedOnMainDomain">
                                    @Language.GetString("AlertAndMessage_IsPublishedOnMainDomain")
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label>@Language.GetString("tbl_ProductCode")</label>
                        <input type="text" class="form-control" asp-for="@Model.ProductCode" value="@Model.ProductCode" placeholder=" " disabled>
                        <span data-val-result="ProductCode" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label>@Language.GetString("Promotion")</label>
                        <select class="form-control" id="PromotionId" asp-items="@(new SelectList(ViewBag.PromotionList,"Value","Text"))">
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">@Language.GetString("Menu_ProductSpecifications")</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label>@Language.GetString("LanguageName")</label>
                                        <select class="form-control" id="languageId" asp-items="@(new SelectList(ViewBag.LangList,"Value","Text"))">
                                        </select>
                                        <span data-val-result="languageId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>@Language.GetString("SpecificationGroup")</label>
                                        <select class="form-control" id="specGroupId" asp-items="@(new SelectList(ViewBag.SpecificationGroupList,"Value","Text"))">
                                        </select>
                                        <span data-val-result="specGroupId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>@Language.GetString("tbl_SpecificationName")</label>
                                        <select class="form-control" id="specificationId">
                                        </select>
                                        <span data-val-result="specificationId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>@Language.GetString("tbl_SpecificationValues")</label>
                                        <select class="form-control select2" multiple="multiple" id="specValues">
                                        </select>
                                        <span data-val-result="specValues" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-1" style="text-align:center;margin:auto;">
                                        <div style="margin:auto;display:inline-block;">
                                            <button type="button" class="btn btn-info rounded-circle bg-gradient" onclick="addSpecToList();">
                                                <i class="fa fa-plus" style="position: relative;padding: 3px;"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 offset-md-3">
                                        <span data-val-result="specifications" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:1%;">
                                    <div class="col-md-12">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr style="text-align:center;">
                                                    <th>@Language.GetString("LanguageName")</th>
                                                    <th style="display:none;"></th>
                                                    <th>@Language.GetString("SpecificationGroup")</th>
                                                    <th style="display:none;"></th>
                                                    <th>@Language.GetString("tbl_SpecificationName")</th>
                                                    <th style="display:none"></th>
                                                    <th>@Language.GetString("tbl_SpecificationValues")</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="specificationList">
                                                @if (Model.Specifications.Any())
                                                {
                                                    @foreach (var item in Model.Specifications)
                                                    {
                                                        <tr style="text-align:center;">
                                                            <td>@item.LanguageName</td>
                                                            <td style="display:none;">@item.LanguageId</td>
                                                            <td>@item.SpecificationGroupName</td>
                                                            <td style="display:none;">@item.SpecificationGroupId</td>
                                                            <td>@item.SpecificationName</td>
                                                            <td style="display:none;">@item.SpecificationId</td>
                                                            <td>@item.Values</td>
                                                            <td>
                                                                <button type="button" class="btn btn-danger rounded-circle bg-gradient" onclick="deleteFromSpecList(this)">
                                                                    <i class="fa fa-minus" style="position: relative;padding:3px;"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr style="text-align:center;">
                                                        <td colspan="6">@Language.GetString("AlertAndMessage_NoDataToShow")</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">@Language.GetString("MultiLingualProperty")</div>
                            </div>
                            <div class="card-body">
                                <div class="row" style="background-color: #f0f0f5;">
                                    <div class="form-group col-md-12">
                                        <label>@Language.GetString("ProductSpecs")</label>
                                        <textarea id="editorCk" name="editorCk" class="form-control" rows="30"></textarea>

                                        <script src="~/lib/ckeditor/ckeditor.js"></script>
                                        <script>
                                                var config = {
                                                    filebrowserImageUploadUrl: 'Image/ProductFileUpload',
                                                    language: '@lan'
                                                }
                                                CKEDITOR.replace("editorCk", config);
                                        </script>
                                    </div>
                                </div>
                                <div class="row" style="background-color: #f0f0f5;">
                                    <div class="form-group col-md-2">
                                        <label>@Language.GetString("LanguageName")</label>
                                        <select class="form-control" id="multiLangId" asp-items="@(new SelectList(ViewBag.LangList,"Value","Text"))">
                                        </select>
                                        <span data-val-result="multiLangId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>@Language.GetString("tbl_ProductName")</label>
                                        <input type="text" class="form-control" id="productName" placeholder="" @*onblur="BuildUrlFriend();"*@>
                                        <span data-val-result="productName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>@Language.GetString("UrlFriend")</label>
                                        <input type="text" class="form-control" id="urlFriend" readonly placeholder=" " />

                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>@Language.GetString("SeoTitle")</label>
                                        <input type="text" class="form-control" id="seoTitle" placeholder=" ">

                                    </div>
                                </div>
                                <div class="row" style="background-color: #f0f0f5;">
                                    <div class="form-group col-md-3">
                                        <label>@Language.GetString("SeoDescription")</label>
                                        <input type="text" class="form-control" id="seoDescription" placeholder=" ">

                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>@Language.GetString("Description")</label>
                                        <input type="text" class="form-control" id="description" placeholder=" ">

                                    </div>
                                    <div class="form-group col-md-3">
                                        <span data-val-result="multiLinguals" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3" style="text-align:center;margin:auto;">
                                        <div style="margin:auto;display:inline-block;">
                                            <button type="button" class="btn btn-info rounded-circle bg-gradient" onclick="addToTable();">
                                                <i class="fa fa-plus" style="position: relative;padding: 3px;"></i>
                                            </button>
                                        </div>
                                    </div>

                                </div>



                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr style="text-align:center;">
                                                    <th>@Language.GetString("LanguageName")</th>
                                                    <th style="display:none;"></th>
                                                    <th>@Language.GetString("tbl_ProductName")</th>
                                                    <th>@Language.GetString("SeoTitle")</th>
                                                    <th>@Language.GetString("SeoDescription")</th>
                                                    <th>@Language.GetString("Description")</th>
                                                    <th>@Language.GetString("UrlFriend")</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="multiLingualList">
                                                @if (Model.MultiLingualProperties.Count != 0)
                                                {
                                                    @foreach (var item in Model.MultiLingualProperties)
                                                    {
                                                        <tr style="text-align:center;">
                                                            <td>@item.LanguageName</td>
                                                            <td style="display:none;">@item.LanguageId</td>
                                                            <td>@item.Name</td>
                                                            <td>@item.SeoTitle</td>
                                                            <td>@item.SeoDescription</td>
                                                            <td>@item.Description</td>
                                                            <td>@item.UrlFriend</td>
                                                            <td>
                                                                <button type="button" class="btn btn-danger rounded-circle btnDel bg-gradient" cnt="@item.Tag" onclick="deleteFromTable(this);">
                                                                    <i class="fa fa-minus" style="position: relative;padding:3px;"></i>
                                                                </button>
                                                            </td>
                                                        </tr>

                                                    }
                                                }
                                                else
                                                {
                                                    <tr style="text-align:center;">
                                                        <td colspan="8">@Language.GetString("AlertAndMessage_NoDataToShow")</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">@Language.GetString("PriceHistory")</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label>@Language.GetString("Currency")</label>
                                        <select class="form-control" id="currencyId" asp-items="@(new SelectList(ViewBag.CurrencyList,"Value","Text"))">
                                        </select>
                                        <span data-val-result="currencyId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>@Language.GetString("PriceValue")</label>
                                        <input type="number" class="form-control" id="priceValue" />
                                        <span data-val-result="priceValue" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>@Language.GetString("StartDate")</label>
                                        @if (CultureInfo.CurrentCulture.Name == "fa-IR")
                                        {
                                            <div class="input-group-prepend ">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input autocomplete="off" id="dtpStartDate" type="text" class="form-control" />
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="input-group date" id="dtpStartDate" data-target-input="nearest">
                                                <input type="text" class="form-control datetimepicker-input" />
                                                <div class="input-group-append" data-toggle="datetimepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        }
                                        <span data-val-result="startDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-md-1" style="text-align:center;margin:auto;">
                                        <div style="margin:auto;display:inline-block;">
                                            <button type="button" class="btn btn-info rounded-circle bg-gradient" onclick="addPriceToList();">
                                                <i class="fa fa-plus" style="position: relative;padding: 3px;"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <span data-val-result="priceList" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr style="text-align:center;">
                                                    <th>@Language.GetString("Currency")</th>
                                                    <th style="display:none;"></th>
                                                    <th>@Language.GetString("PriceValue")</th>
                                                    <th>@Language.GetString("StartDate")</th>
                                                    <th>@Language.GetString("EndDate")</th>
                                                    <th>@Language.GetString("ActivationState")</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="priceList">
                                                @if (Model.Prices.Count != 0)
                                                {
                                                    @foreach (var price in Model.Prices)
                                                    {
                                                        <tr style="text-align:center;">
                                                            <td>@price.CurrencyName</td>
                                                            <td style="display:none;">@price.CurrencyId</td>
                                                            <td>@price.PriceValue</td>
                                                            <td style="direction:ltr;">@price.StartDate</td>
                                                            <td>@price.EndDate</td>
                                                            <td>@(price.IsActive ? Language.GetString("Active") : Language.GetString("InActive")) </td>
                                                            <td>
                                                                <button type="button" class="btn btn-danger rounded-circle bg-gradient" onclick="deleteFromPriceList(this);">
                                                                    <i class="fa fa-minus" style="position: relative;padding:3px;"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr style="text-align:center;">
                                                        <td colspan="6">@Language.GetString("AlertAndMessage_NoDataToShow")</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">@Language.GetString("tbl_ProductImages")</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="custom-file">
                                            <input accept="image/x-png,image/jpeg"
                                                   type="file" class="btn btn-sm bg-gradient" name="image" id="image" onchange="getURL(this)">
                                            <label class="custom-file-label" for="image">@Language.GetString("btn_UploadImage")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="proGallery" style="padding:1%;">
                                    <div class="col-md-12">
                                        <table class="table table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>@Language.GetString("Image")</th>
                                                    <th style="display:none;"></th>
                                                    <th>@Language.GetString("Title")</th>
                                                    <th>@Language.GetString("Description")</th>
                                                    <th>@Language.GetString("MainPhoto")</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody id="imageList">
                                                @foreach (var pic in Model.Images)
                                                {
                                                    <tr>
                                                        <td><img src="@pic.Url" width="120" height="120" /></td>
                                                        <td style="display:none;">@pic.ImageId</td>
                                                        <td><input type="text" class="form-control txtTitle" value="@pic.Title" /></td>
                                                        <td><input type="text" class="form-control txtDesc" value="@pic.Description" /></td>
                                                        <td>
                                                            @if (dir == "rtl")
                                                            {
                                                                <input type="radio" name="isMainImage" checked="@pic.IsMain" class="minimal rdbIsMain">
                                                            }
                                                            else
                                                            {
                                                                <div class="icheck-primary d-inline">
                                                                    <input type="radio" checked="@pic.IsMain" name="isMainImage" class="rdbIsMain">
                                                                </div>
                                                            }
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn btn-danger rounded-circle bg-gradient" imgId="@pic.ImageId" onclick="deleteFromImageList(this);">
                                                                <i class="fa fa-minus" style="position: relative;padding:3px;"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-4 offset-md-8 col-12">
                        <a asp-action="List" class="btn btn-primary bg-gradient float-end m-2">@Language.GetString("btn_Back")</a>
                        <input type="button" id="btnAddProduct" value="@Language.GetString("btn_Save")" class="btn btn-success bg-gradient float-end m-2" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="confirmModalLabel" class="modal fade" id="confirmModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="confirmModalLabel">
                </h5>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body" id="confirmModalBody">
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="onClickYes()" type="button">
                    @Language.GetString("btn_Confirm")
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                    @Language.GetString("btn_NotConfirm")
                </button>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed h-100 w-100 p-5 bg-dark" id="toastAlert" style="display: block; left: 0; top: 0; z-index: 11;">
    <div aria-atomic="true" aria-live="assertive" class="toast" id="notificationToast" role="alert">
        <div class="toast-body p-3 fs-5 rounded-3 text-center" style="top: 40%; left: 200px;position: absolute;width: calc(100% - 400px);" id="notificationToastBody">
        </div>
    </div>
</div>

@await Component.InvokeAsync("ConfirmDelete", new ConfirmDeleteDTO { Url = Url.Action("Delete") })

<script src="~/lib/cropperjs/cropper.js"></script>
<script src="~/plugins/select2/js/select2.js"></script>
@if (dir == "rtl")
{
    <script src="~/plugins/iCheck/icheck.min.js"></script>
}
@if (CultureInfo.CurrentCulture.Name == "fa-IR")
{
    <script src="~/plugins/datePicker/kamadatepicker.min.js"></script>
}
else
{
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/siteTemplate/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js"></script>
}

<script>
    var fileName;
    var fileContent;
    var cropper;
    var currentFileSize;
    var currentFileName;
    var images = [];
    var cnt = @count ;
    var multiLingualArr = [];
    var counter = 1000;
    var active = '@Language.GetString("Active")';
    var inActive = '@Language.GetString("InActive")';
    $(document).ready(function () {
        $("#toastAlert").hide();

        var urlFriend = "product/" + '@Model.ProductCode';
        $("#urlFriend").val(urlFriend);
        var multiLingualList = @Json.Serialize(@Model.MultiLingualProperties);
        for (var i = 0; i < multiLingualList.length; i++) {
            debugger;
            var obj = {};
            obj.Tag = multiLingualList[i].tag;
            obj.MultiLingualPropertyId = multiLingualList[i].multiLingualPropertyId;
            obj.Name = multiLingualList[i].name;
            obj.LanguageId = multiLingualList[i].languageId;
            obj.LanguageName = multiLingualList[i].languageName;
            obj.SeoTitle = multiLingualList[i].seoTitle;
            obj.SeoDescription = multiLingualList[i].seoDescription;
            obj.Description = multiLingualList[i].description;
            obj.UrlFriend = multiLingualList[i].urlFriend;
            obj.BodyContent = multiLingualList[i].bodyContent;

            multiLingualArr.push(obj);
        }

        //$("#multiLangId").change(function () {
        //    var lan = $("multiLangId option:selected").text();
        //    if (lan == "فارسی") {
        //        lan = "fa";
        //          var config = {
        //                filebrowserImageUploadUrl: 'Image/ProductFileUpload',
        //                language: lan
        //          }
        //          CKEDITOR.replace("editorCk", config);
        //    } else {
        //        //if just we have two language english and persian
        //        lan = "en";
        //        var config = {
        //            filebrowserImageUploadUrl: 'Image/ProductFileUpload',
        //            language: lan
        //        }
        //        CKEDITOR.replace("editorCk", config);
        //    }
        //});


         //icheckboxes radiobuttons
            if ("@dir" == "rtl") {
                $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                    checkboxClass: 'icheckbox_minimal-blue',
                    radioClass: 'iradio_minimal-blue'
                });
            }
         //datetimepicker
            if ("@CultureInfo.CurrentCulture.Name" === "fa-IR")
            {
                kamaDatepicker('dtpStartDate', { buttonsColor: "red", forceFarsiDigits: true, markToday: true, gotoToday: true });
            }
            else
            {
                $('#dtpStartDate').datetimepicker({
                    format: 'L'
                });
            }
       //multiselect
        $("#GroupIds").select2({ dir: '@dir', theme: 'bootstrap4' });
        $("#specValues").select2({ dir: '@dir', theme: 'bootstrap4' });
        if ('@Model.Images.Any()' == 'True') {

            var serverImages = @Json.Serialize(@Model.Images);
            for (var i = 0; i < serverImages.length; i++) {
                var model = {};
                model.ImageId = serverImages[i].imageId;
                model.Title = serverImages[i].title;
                model.Description = serverImages[i].description;
                model.Content = serverImages[i].content;
                model.IsMain = serverImages[i].isMain;
                model.Url = serverImages[i].url;

                images.push(model);
            }
        }

        $("#languageId").val('@ViewBag.LangId');
        $("#multiLangId").val('@ViewBag.LangId');
        $("#currencyId").val('@ViewBag.DefCurrency');
        if ("@ViewBag.ActivePromotionId" != "-1") {
            $("#promotionId").val("@ViewBag.ActivePromotionId");
        }

        $("#btnAddProduct").click(function () {
            debugger;
            var flag = false;
            if ($("#GroupIds").val().length == 0) {
                $("span[data-val-result='GroupIds']").html('@Language.GetString("AlertAndMessage_SelectAtLeastOneItem")');
                flag = true;
            }

            if ($("#Inventory").val() == "0")
            {
                $("span[data-val-result='UniqueCode']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#Unit_ProductUnitId").val() == "-1" || $("#Unit_ProductUnitId").val() == "" )
            {
                $("span[data-val-result='productUnitId']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ('@ViewBag.Vendors' != "-1" && $("#SellerUserId").val() == "-1") {

                $("span[data-val-result='sellerUserId']").html('@Language.GetString("AlertAndMessage_FillEssentialFields")');
                flag = true;
            }
            if ($("#specificationList tr").length == 0) {
                $("span[data-val-result='specifications']").html('@Language.GetString("AlertAndMessage_Specifications")');
                flag = true;
            }
            if ($("#multiLingualList tr").length == 0) {
                $("span[data-val-result='multiLinguals']").html('@Language.GetString("AlertAndMessage_FillMultiLingualProperty")');
                flag = true;
            }
            if ($("#priceList tr").length == 0) {
                 $("span[data-val-result='priceList']").html('@Language.GetString("AlertAndMessage_FillPriceList")');
                flag = true;
            }

            var dto = FillDataToSend();
            console.log(dto);


                if (!flag) {
                    $.ajax({
                        url: "@Model.ProductId" != "" ? "/Product/Edit" : "/Product/Add",
                        contentType: 'application/json',
                        data:  JSON.stringify(dto),
                        type: 'Post',
                        dataType:'json',
                        beforeSend: function () {
                            AddLoading($("#addProductCard"));
                        },
                        success: function (result) {

                            if (result.status === "Success") {
                                Swal.fire({
                                    icon: 'success',
                                    text: result.message,
                                    showConfirmButton: false,
                                    timer: 3000
                                }).then(() => {
                                    window.location.href = '@Url.Action("List")';
                                });
                            }else
                            if (result.status === "ModelError") {
                                var spanErrorList = $('span[data-val-result]');
                                if (spanErrorList.length > 1) {
                                    spanErrorList.each(function() {
                                        $(this).html("");
                                        $(this).parent().removeClass("has-error");
                                    });
                                } else {
                                    spanErrorList.html("");
                                    spanErrorList.parent().removeClass("has-error");
                                }
                                if (result.modelStateErrors !== null) {
                                        $('[data-val-result=' + value.key + ']').html(value.errorMessage);
                                        $('[data-val-result=' + value.key + ']').parent().addClass("has-error");
                                    }
                                }
                            },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert("@error");
                            alert(xhr.status);
                            alert(thrownError);
                        },
                        complete: function () {
                            removeLoading($("#addProductCard"));
                        }
                });
                }
      });

        $("#send_pic").click(function () {

            $("#uploadModal").modal("hide");
            var url = $("#galleryPic").attr("src");
            var model = {};
            model.ImageId = counter;
            model.Content = url;
            images.push(model);
            var tr = "";
            if ('@dir' == "rtl") {
                tr = "<tr><td><img imgId='img_" + counter + "' src='" + model.Content +
                    "' width='120' height='120'/></td><td style='display:none;'>" + model.ImageId +
                    "</td><td style='vertical-align:middle;'><input type='text' class='form-control txtTitle' value='' placeHolder='" + '@Language.GetString("Title")' +
                    "'/></td><td style='vertical-align:middle;'><input type='text' class='form-control txtDesc' value='' placeHolder='" + '@Language.GetString("Description")' +
                    "'/></td><td style='vertical-align:middle;'><input type='radio'  name='isMainImage' class='minimal rdbIsMain'></td><td style='vertical-align:middle;'><button type='button' class='btn btn-danger rounded-circle bg-gradient' onclick='deleteFromImageList(this);'><i class='fa fa-minus' style='position:relative;padding: 3px;'></i></button></td></tr>";
            } else {
                 tr = "<tr><td><img imgId='img_" + counter + "' src='" + model.Content +
                    "' width='120' height='120'/></td><td style='display:none;'>" + model.ImageId +
                    "</td><td style='vertical-align:middle;'><input type='text' class='form-control txtTitle' value='' placeHolder='" + '@Language.GetString("Title")' +
                    "'/></td><td style='vertical-align:middle;'><input type='text' class='form-control txtDesc' value='' placeHolder='" + '@Language.GetString("Description")' +
                    "'/></td><td style='vertical-align:middle;'><div class='icheck-primary d-inline'><input type='radio'  name='isMainImage' class='rdbIsMain'></div></td><td style='vertical-align:middle;'><button type='button' class='btn btn-danger rounded-circle bg-gradient' onclick='deleteFromImageList(this);'><i class='fa fa-minus' style='position:relative;padding: 3px;'></i></button></td></tr>";

            }
            $("#imageList").append(tr);
            counter = counter + 1;
            if ("@dir" == "rtl") {
                $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                    checkboxClass: 'icheckbox_minimal-blue',
                    radioClass: 'iradio_minimal-blue'
                });
            }
        });

        $("#languageId").change(function () {

                var langId = $("#languageId").val();
                $.ajax({
                    url: "/ProductSpecification/GetSpecificationGroupList/" + langId,
                    type: 'Get',
                    dataType : 'json',
                    success: function (result) {

                        var options = "<option value='-1'> " +'@Language.GetString("AlertAndMessage_Choose")'+" </option>";
                        if (result.status === "success") {

                            if (result.data.length != 0) {
                                (result.data).forEach(function (item) {
                                    var op = "<option value='" + item.value + "'>" + item.text + "</option>";
                                    options += op;
                                });

                                $("#specGroupId").html(options);
                            }
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("@error");
                        alert(xhr.status);
                        alert(thrownError);
                    }
            });
       });

        $("#specGroupId").change(function () {

        var langId = $("#languageId").val();
        var groupId = $("#specGroupId").val();
        if (groupId != "") {
            $.ajax({
                url: "/ProductSpecification/GetSpecificationInGroupAndLang?groupId=" + groupId + "&langId=" + langId,
                type: 'Get',
                dataType : 'json',
                success: function (result) {

                    var options = "<option value='-1'> " +'@Language.GetString("AlertAndMessage_Choose")'+" </option>";
                    if (result.status === "success") {

                        if (result.data.length != 0) {
                            (result.data).forEach(function (item) {
                                var op = "<option value='" + item.value + "'>" + item.text + "</option>";
                                options += op;
                            });

                            $("#specificationId").html(options);
                        }
                    }
                },
                error: function (xhr, thrownError) {
                    alert("@error");
                    alert(xhr.status);
                    alert(thrownError);
                }
        });
        }
    });

        $("#specificationId").change(function () {
            var langId = $("#languageId").val();
            var specId = $("#specificationId").val();
            if (specId != "-1") {
                $.ajax({
                    url: "/ProductSpecification/GetSpecificationValuesInLanguage?specId=" + specId + "&langId=" + langId,
                    type: 'Get',
                    dataType : 'json',
                    success: function (result) {

                        var options = "<option value='-1'> " +'@Language.GetString("AlertAndMessage_Choose")'+" </option>";
                        if (result.status === "success") {

                            if (result.data.length != 0) {
                                (result.data).forEach(function (item) {
                                    var op = "<option value='" + item.value + "'>" + item.text + "</option>";
                                    options += op;
                                });
                                $("#specValues").empty();
                                $("#specValues").html(options);
                            }
                        }
                    },
                    error: function (xhr, thrownError) {
                        alert("@error");
                        alert(xhr.status);
                        alert(thrownError);
                    }
            });
            }
        });
    });



    function deleteFromImageList(sender) {

        var id = $(sender).attr("imgId");
        //removeFromArray
        var item = images.find(_ => _.ImageId === id);
        var index = images.indexOf(item);
        images.splice(index, 1);
        //remove in view
        $(sender).parent().parent().remove();
     }

    function addPriceToList() {

        var flag = false;
        $("span[data-val-result='priceValue']").html("");
        $("span[data-val-result='startDate']").html("");
        $("span[data-val-result='endDate']").html("");
        if ($("#priceValue").val() == "") {
            $("span[data-val-result='priceValue']").html('@Language.GetString("AlertAndMessage_FieldEssential")');
            flag = true;
        }
        if ($("#dtpStartDate").val() == "") {
            $("span[data-val-result='startDate']").html('@Language.GetString("AlertAndMessage_FieldEssential")');
            flag = true;
        }

        if (!flag) {
            var currencyId = $('#currencyId').val();

            var tr = "";
            if ($("#priceList").find("td:eq(1)").length > 0) {
                $("#priceList").find("td:eq(1)").each(function () {

                    if ($(this).text() == currencyId && $(this).parent().find("td:eq(4)").text() == "" &&
                        $(this).parent().find("td:eq(5)").text() == active) {
                        /*confirm = false;*/
                        Swal.fire({
                            title: '@Language.GetString("AlertAndMessage_AreYouSure")',
                            text: '@Language.GetString("AlertAndMessage_PricePerCurrencyUniqueness")',
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#d51c1c',
                            cancelButtonColor: '#009c09db',
                            confirmButtonText: '@Language.GetString("btn_Confirm")',
                            cancelButtonText: '@Language.GetString("btn_NotConfirm")'
                        }).then((result) => {
                            if (result.isConfirmed) {

                                /*confirm = true;*/
                                $(this).parent().find("td:eq(5)").text(inActive);
                                appendToPriceList(tr);
                            }
                        });
                    }
                });
            } else {
                appendToPriceList(tr);
            }
        }
    }
    function appendToPriceList(tr) {
         tr = "<tr style='text-align:center;'><td>" + $("#currencyId option:selected").text() +
                    "</td><td style='display:none;'>" + $('#currencyId').val() +
                    "</td><td>" + $('#priceValue').val() +
                    "</td><td style='direction:ltr;'>" + $("#dtpStartDate").val() +
                    "</td><td></td><td>" + active +
                    "</td><td><button type='button' class='btn btn-sm btn-danger rounded-circle bg-gradient' onclick='deleteFromPriceList(this);'>" +
                    "<i class='fa fa-minus' style='position: relative;padding:3px;'></i></button></td></tr>";
                if ($("#priceList tr").length == 1 && $("#priceList tr")[0].children.length == 1) {
                       $("#priceList tr")[0].remove();
                     }
                    $("#priceList").append(tr);
                    $("#currencyId").val('@ViewBag.DefCurrency');
                    $("#priceValue").val("0");
                    $("#dtpStartDate").val("");
    }

    function deleteFromPriceList(sender) {
        var tr = $(sender).parent().parent();
        $(tr).remove();
    }

    function addSpecToList() {
        var flag = false;
        $("span[data-val-result='languageId']").html("");
        $("span[data-val-result='specGroupId']").html("");
        $("span[data-val-result='specificationId']").html("");
        $("span[data-val-result='specValues']").html("");


        if ($("#languageId").val() == "-1") {
            $("span[data-val-result='languageId']").html('@Language.GetString("AlertAndMessage_FieldEssential")');
            flag = true;
        }
        if ($("#specGroupId").val() == "-1") {
            $("span[data-val-result='specGroupId']").html('@Language.GetString("AlertAndMessage_FieldEssential")');
            flag = true;
        }
        if ($("#specificationId").val() == "-1") {
            $("span[data-val-result='specificationId']").html('@Language.GetString("AlertAndMessage_FieldEssential")');
            flag = true;
        }
        if ($("#specValues").val().length == 0) {
            $("span[data-val-result='specValues']").html('@Language.GetString("AlertAndMessage_SelectAtLeastOneItem")');
            flag = true;
        }

        if (!flag) {
            var vals = "";
            for (var i = 0; i < $("#specValues").select2("data").length; i++) {

                vals += $("#specValues").select2("data")[i].text + "|";
            }
            //remove last '|'
            vals = vals.substring(0, vals.length - 1);

            var tr = "<tr style='text-align:center;'><td>" + $("#languageId option:selected").text() +
                "</td><td style='display:none;'>" + $('#languageId').val() +
                "</td><td>" + $('#specGroupId option:selected').text() +
                "</td><td style='display:none;'>" + $('#specGroupId').val() +
                "</td><td>" + $("#specificationId option:selected").text() +
                "</td><td style='display:none;'>" + $("#specificationId").val() +
                "</td><td>" + vals
                "</td><td><button type='button' class='btn btn-sm btn-danger rounded-circle bg-gradient' onclick='deleteFromSpecList(this)'>" +
                "<i class='fa fa-minus' style='position: relative;padding:3px;'></i></button></td></tr>";


            if ($("#specificationList tr").length == 1 && $("#specificationList tr")[0].children.length == 1) {
                $("#specificationList tr")[0].remove();
            }

            $("#specificationList").append(tr);
            $("#languageId").val("@ViewBag.LangId");
            $("#specGroupId").val("-1");
            $("#specificationId").val("-1");

            $("#specValues").empty();
            /*$('#specValues').select2('data', null);*/
        }
        }

    function deleteFromSpecList(sender) {
        var tr = $(sender).parent().parent();
        $(tr).remove();
    }

    function FillDataToSend() {

        var dto = {};
        dto.GroupNames = [];
        dto.GroupIds = [];
        dto.MultiLingualProperties = [];
        dto.Specifications = [];
        dto.Pictures = [];
        dto.Prices = [];
        dto.ProductId = $("#ProductId").val();
        dto.IsActive = true;
        dto.ProductCode = Number($("#ProductCode").val());

        //groupIds
        for (var i = 0; i < $("#GroupIds").val().length; i++) {
            dto.GroupIds.push($("#GroupIds").val()[i]);
        }

        //GroupNames
        for (var i = 0; i < $("#GroupIds").select2("data").length; i++) {

            dto.GroupNames.push($("#GroupIds").select2("data")[i].text);
        }

        //multilingualProperties
        debugger;
        dto.MultiLingualProperties = multiLingualArr;

        //prices
        $("#priceList tr").each(function () {

            var innerModel = {};
            innerModel.CurrencyId = $(this).find("td:eq(1)").text();
            innerModel.CurrencyName = $(this).find("td:eq(0)").text();
            innerModel.PriceValue = parseFloat($(this).find("td:eq(2)").text());
            innerModel.StartDate = $(this).find("td:eq(3)").text();
            innerModel.EndDate = $(this).find("td:eq(4)").text();
            if ($(this).find("td:eq(5)").text() == active)
                innerModel.IsActive = true;
            else
                innerModel.IsActive = false;
            innerModel.PriceId = "";
            innerModel.Symbol = "";
            innerModel.Prefix = "";

            dto.Prices.push(innerModel);

        });

        //specifications
        $("#specificationList tr").each(function () {
            var innerModel = {};
            innerModel.LanguageName = $(this).find("td:eq(0)").text();
            innerModel.LanguageId = $(this).find("td:eq(1)").text();
            innerModel.SpecificationGroupName = $(this).find("td:eq(2)").text();
            innerModel.SpecificationGroupId = $(this).find("td:eq(3)").text();
            innerModel.SpecificationName = $(this).find("td:eq(4)").text();
            innerModel.SpecificationId = $(this).find("td:eq(5)").text();
            innerModel.Values = $(this).find("td:eq(6)").text();

            dto.Specifications.push(innerModel);
        });

        //pictures
        $("#imageList tr").each(function () {

            var id = $(this).find("td:eq(1)").text();
            var item = images.find(_ => _.ImageId == id);
            index = images.indexOf(item);

            item.IsMain = $(this).find("td:eq(4) .rdbIsMain").prop("checked") == true;
            item.Title = $(this).find("td:eq(2) .txtTitle").val();
            item.Description = $(this).find("td:eq(3) .txtDesc").val();
            item.ImageId = item.ImageId.toString();
            images[index] = item;
            dto.Pictures.push(images[index]);
        });

        dto.UniqueCode = $("#UniqueCode").val();
        dto.Inventory = parseInt($("#Inventory").val());
        dto.MinimumCount = parseInt($("#MinimumCount").val());
        dto.ShowInLackOfInventory = $("#chbNotifyInventory").prop("checked");
        if ("@ViewBag.Vendors" != "-1") {
            dto.SellerUserId = $("#SellerUserId").val();
            dto.SellerUserName = $("SellerUserId option:selected").text();
        }
        dto.UnitId = $("#Unit_ProductUnitId").val();
        dto.PromotionId = $("#PromotionId").val();
        dto.IsPublishedOnMainDomain = $("#chbIsPublishedOnMainDomain").prop("checked");

        return dto;
    }

    function deleteFromTable(sender) {
        var tag = $(sender).attr("cnt");
        var item = multiLingualArr.find(_ => _.Tag == tag);
        var index = multiLingualArr.indexOf(item);
        multiLingualArr.splice(index, 1);

        var tr = $(sender).parent().parent();
        $(tr).remove();
    }

    function addToTable() {

        var flag = false;
        $("span[data-val-result='multiLangId']").html("");
        $("span[data-val-result='productName']").html("");


        if ($("#multiLangId").val() == "") {
            $("span[data-val-result='multiLangId']").html('@Language.GetString("AlertAndMessage_FieldEssential")');
            flag = true;
        }
        if ($("#productName").val() == "") {
                $("span[data-val-result='productName']").html('@Language.GetString("AlertAndMessage_FieldEssential")');
            flag = true;
        }
        if (!flag) {
            var obj = {};
            obj.LanguageId = $('#multiLangId').val();
            obj.LanguageName = $("#multiLangId option:selected").text();
            obj.Name = $('#productName').val();
            obj.SeoTitle = $("#seoTitle").val();
            obj.SeoDescription = $("#seoDescription").val();
            obj.Description = $("#description").val();
            obj.UrlFriend = $("#urlFriend").val();
            obj.BodyContent = CKEDITOR.instances.editorCk.getData();
            obj.Tag = cnt.toString();

            multiLingualArr.push(obj);

            var tr = "<tr style='text-align:center;'><td>" + $("#multiLangId option:selected").text() +
                "</td><td style='display:none;'>" + $('#multiLangId').val() +
                "</td><td>" + $('#productName').val() +
                "</td><td>" + $("#seoTitle").val() +
                "</td><td>" + $("#seoDescription").val() +
                "</td><td>" + $("#description").val() +
                "</td><td>" + $("#urlFriend").val() +
                "</td><td><button type='button' class='btn btn-sm btn-danger rounded-circle bg-gradient' cnt='" + obj.Tag + "' onclick='deleteFromTable(this);'>" +
                "<i class='fa fa-minus' style='position: relative;padding:3px;'></i></button></td></tr>";

            if ($("#multiLingualList tr").length == 1 && $("#multiLingualList tr")[0].children.length == 1) {
                $("#multiLingualList tr")[0].remove();
            }

            $("#multiLingualList").append(tr);
            cnt = cnt + 1;
            $("#multiLangId").val("@ViewBag.LangId");
            $("#productName").val("");
            $("#seoTitle").val("");
            $("#seoDescription").val("");
            $("#description").val("");
           /* $("#urlFriend").val("");*/
        }
       }

    $('#uploadModal').on('hidden.bs.modal',
        function () {

            cropper.destroy();
            document.getElementById("image").value = "";
            $("#cropped_result").remove();
        });

    function rotatePic() {
        cropper.rotate(90);
    }

    function upRiseModal() {
    $("#send_pic").attr("disabled", true);
    $("#uploadModal").modal("show");
    }

    function initCropper() {

        var image = document.getElementById('blah');
        if (cropper !== null && cropper !== undefined) {
            cropper.destroy();
        }

        cropper = new Cropper(image,
            {
                background: true,
                aspectRatio: 1,
                viewMode: 2,
                responsive: true,
                rotatable: true
            });

        document.getElementById('crop_button').addEventListener('click',
            function () {
                var imgUrl = cropper.getCroppedCanvas().toDataURL('image/jpeg');
                var img = document.createElement("img");
                img.setAttribute("id", "galleryPic");
                img.setAttribute("class", "img-fluid");
                var height = document.getElementById("container").getAttribute("width");
                var croppedContainer = document.createElement("div");
                croppedContainer.setAttribute("id", "cropped_result");
                croppedContainer.setAttribute("style", "max-width:100%; max-height:100%; width: 400px; height:" + height + "; border: none");
                document.getElementById("rowContainer").appendChild(croppedContainer);
                img.setAttribute("style", "max-width:100%;max-height:100%;width: 400px;height: " + height + ";position: relative;left: 0px;border: 1px solid black");
                img.src = imgUrl;
                document.getElementById("cropped_result").innerHTML = "";
                document.getElementById("cropped_result").appendChild(img);
                $("#send_pic").attr("disabled", false);
            });
    }

    function getURL(input)
    {
     $("#cropped_result").remove();
     if (input.files && input.files[0]) {
        var file = input.files[0];
        currentFileName = file.name;
        currentFileSize = file.size;

        if (currentFileSize <= @ViewBag.PicSize) {
            var reader = new FileReader();
            try {
                reader.readAsDataURL(file);
            } catch (e) {

            }
            reader.onload = function (e) {
                var content = e.target.result;
                //if file format is incorrect, then the 'content' won't have any src.
                if (content !== "data:") {
                    var reducedContent = content.slice(5);

                    if (reducedContent.startsWith("image")) {
                        $('#blah').attr('src', content);
                        setTimeout(upRiseModal, 100);
                        setTimeout(initCropper, 500);
                    } else {

                        Swal.fire({
                            position: 'top-end',
                            icon: 'error',
                            title: '@Language.GetString("AlertAndMessage_InvalidFormat")',
                            showConfirmButton: false,
                            timer: 1500
                        });

                        document.getElementById("image").value = "";
                        $("#cropped_result").remove();
                    }
                } else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: '@Language.GetString("AlertAndMessage_InvalidFormat")',
                        showConfirmButton: false,
                        timer: 1500
                    });

                    document.getElementById("image").value = "";
                    $("#cropped_result").remove();
                }
            };
        }
        else
        {
            Swal.fire({
                icon: 'error',
                title: '@Language.GetString("AlertAndMessage_InvalidFileSize")',
                showConfirmButton: false,
                timer: 1500
            });
            document.getElementById("image").value = "";
            $("#cropped_result").remove();
        }
    }
    }
</script>





