@model List<Arad.Portal.DataLayer.Models.User.UserFavoritesDTO>
@{

}
<ul class="list-group list-group-flush">
    @foreach (var item in Model)
    {
        <li class="list-group-item">

            <div class="row">
                @if(!item.NoImage)
                {
                    <div class="col-4">
                    <a href="@(item.Url)" role="button">
                        <img class="pt-lg-1 ps-lg-1 mb-lg-0  ps-md-1 imgSmall mb-sm-1 ms-sm-0 me-sm-0 rounded-3"
                         src="@Url.Content($"~/GetScaledImageOnWidth?path={item.ImagePath}&width={100}")">
                    </a>
                </div>
                <div class="col-8 d-flex justify-content-start">
                    <a href="@item.Url" role="button" style="text-decoration: none;">
                        <span>@item.Name</span>
                    </a>
                    </div>
                }else
                {
                     <div class="col-12 d-flex justify-content-center">
                    <a href="@item.Url" role="button" style="text-decoration: none;">
                        <span>@item.Name</span>
                    </a>
                    </div>
                }
                
            </div>
        </li>
    }
</ul>
