@model List<Arad.Portal.DataLayer.Models.Transaction.TransactionDTO>
@{

}
<style>
    .pInTb {
        display: inline-block;
    }

    .basket th {
        text-align: center;
    }

    .basket td {
        text-align: center;
    }
</style>

<div class="card">
    <div class="card-body">
        @if (@Model.Any())
        {
            @foreach (var item in @Model)
            {
                <div class="card m-3 border-1 rounded-3">
                    <div class="card-header bg-success bg-opacity-10">
                        <div class="row gy-2 align-middle pt-2">
                            <div class="col-4 offset-2 col-md-2  offset-4">
                                <label class="form-label"> @Language.GetString("OrderDate") : </label>
                            </div>
                            <div class="col-4 col-md-2">
                                <p><strong dir="ltr">@item.RegisteredDate</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex overflow-scroll">
                            <div class="col-6 col-md-2 text-center border-end">
                                <label class="form-label"> @Language.GetString("InvoiceNumber") : </label> <br />
                                <label class="form-label"> @item.MainInvoiceNumber </label>
                            </div>
                            <div class="col-6 col-md-2 text-center border-end">
                                <label class="form-label"> @Language.GetString("OrderItemCount") : </label> <br />
                                <label class="form-label"> @item.OrderItemsCount </label>
                            </div>
                            <div class="col-6 col-md-2 text-center border-end">
                                <label class="form-label"> @Language.GetString("PaymentStatus") : </label> <br />
                                <label class="form-label"> @item.PaymentStage.GetDescription() </label>
                            </div>
                            <div class="col-6 col-md-2 text-center border-end">
                                <label class="form-label"> @Language.GetString("OrderStatus") : </label> <br />
                                <label class="form-label">@(@item.OrderStatus != null ? @item.OrderStatus.Value.GetDescription() : "")</label>

                            </div>
                            <div class="col-6 col-md-2 text-center border-end">
                                <label class="form-label"> @Language.GetString("OrderAmount") : </label> <br />
                                <label class="form-label">@item.FinalPriceToPay</label>
                            </div>
                            <div class="col-6 col-md-2 text-center border-end align-middle">
                                <button type="button" class="btn btn-success btn-sm" data-bs-toggle="collapse" data-bs-target="@($"#colSec_{item.MainInvoiceNumber.Replace("-", "")}")"
                                role="button" aria-expanded="false" aria-controls="@item.MainInvoiceNumber">
                                    @Language.GetString("btn_Detail")
                                </button>
                                <a type="button" class="btn btn-outline-success btn-sm" asp-controller="basket" asp-action="Reorder"
                           id="btnReorder">@Language.GetString("btn_reorder")</a>
                            </div>
                        </div>
                        <div class="row collapse" id="@($"colSec_{item.MainInvoiceNumber.Replace("-", "")}")">
                            @foreach (var detail in item.Details)
                            {
                                <div class="card m-2 border border-secondary rounded border-1">
                                    <div class="card-header">
                                        <div class="row justify-content-center">
                                            <div class="col-6">
                                                <label class="form-label d-inline-block"> @Language.GetString("SellerName") : </label>
                                                <label class="form-label d-inline-block">@detail.SellerUserName</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body border-bottom">
                                        @for (var i =0; i < detail.Products.Count; i++)
                                        {
                                            <div class="row border-top border-bottom">
                                                <div class="col-1 align-middle">
                                                    <span class="fs-6">@(i+1)</span>
                                                </div>
                                                <div class="col-6 col-md-4 align-middle">
                                                    <label class="form-label d-inline-block"> @Language.GetString("tbl_ProductName") : </label>
                                                    <a class="d-inline-block link-secondary text-decoration-none" asp-controller="product" asp-action="Details"
                                       asp-route-slug="@detail.Products[i].ProductCode">
                                                        <label class="form-label ">@detail.Products[i].ProductName</label>
                                                    </a>
                                                </div>
                                                <div class="col-6 col-md-2 align-middle">
                                                    <label class="form-label d-inline-block"> @Language.GetString("OrderCnt") : </label>
                                                    <label class="form-label d-inline-block">@detail.Products[i].OrderCount</label>
                                                </div>

                                                <div class="col-6 col-md-3 align-middle">
                                                    <label class="form-label d-inline-block"> @Language.GetString("PricePerUnitWithDiscount") : </label>
                                                    <label class="form-label d-inline-block">@detail.Products[i].PriceWithDiscountPerUnit</label>
                                                </div>
                                                <div class="col-6 col-md-2 align-middle">
                                                    @if (detail.Products[i].IsDownloadable)
                                                    {
                                                        <a class="btn btn-outline-primary btn-sm pe-3 mt-3" id="btnDownload" asp-controller="Product" asp-action="Download" asp-route-code="@detail.Products[i].ProductCode">
                                                            <i class="fas fa-file-download px-1 mt-1">
                                                            </i>@Language.GetString("Download")
                                                        </a>
                                                    }

                                                </div>
                                            </div>


                                        }
                                    </div>
                                </div>
                            }

                        </div>

                    </div>

                </div>

            }



        }
        else
        {
            <div class="row">
                <p class="text-center m-1 p-1"><strong>@Language.GetString("AlertAndMessage_NoOrderToShow")</strong></p>
            </div>
        }
    </div>
</div>


