@using System.Globalization
@model Arad.Portal.DataLayer.Models.User.LoginDTO
@inject Arad.Portal.DataLayer.Contracts.General.SystemSetting.ISystemSettingRepository _systemSettingRepository
@{
    var dir = "";
    var langList = new List<string>() { "fa", "en" };
    string lang = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        dir = "rtl";
        ViewBag.dir = "rtl";
    }
    else
    {
        dir = "ltr";
        ViewBag.dir = "ltr";
    }
    switch (CultureInfo.CurrentCulture.Name)
    {
        case "fa-IR":
            lang = "fa";
            break;
        case "en-US":
            lang = "en";
            break;
    }
    Arad.Portal.DataLayer.Entities.General.SystemSetting.SystemSetting systemSetting
        = (await _systemSettingRepository.GetAll()).FirstOrDefault();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta property="og:title"
          content="@systemSetting?.SystemTitle - @Language.GetString("TextAndPlaceholder_LogIn")" />
    <meta property="og:type"
          content="website" />


    <meta name="apple-mobile-web-app-title" content=">@(systemSetting == null ? "Arad Portal" : systemSetting.SystemTitle)">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="~/@(string.IsNullOrWhiteSpace(systemSetting?.SystemIcon) ? " favicon.ico" : $"SystemIcon/{systemSetting.SystemIcon}")">

    <link rel="shortcut icon"
          href="~/@(string.IsNullOrWhiteSpace(systemSetting?.CompanyLogoUrl) ? "favicon.ico" : $"SystemIcon/{systemSetting.SystemIcon}")"
          type="image/x-icon" />
    <title>@systemSetting?.SystemTitle - @Language.GetString("TextAndPlaceholder_LogIn")</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="~/lib/intl-tel-input/css/intlTelInput.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    @if (dir == "rtl")
    {
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    }
    else

    {
        <link href="~/css/siteTemplate/rtl/bootstrap-rtl.min.css" rel="stylesheet" />
        <link href="~/Fonts/IranSans/css/fontiran.css" rel="stylesheet" />
    }
    <link rel="stylesheet" href="~/css/Menu/Bootstrap4MegaMenu.css" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <style>
        input::placeholder { text-align: center; }

        input { border-color: #9e9e9e !important; }

        #imgcpatcha::placeholder {
            font-size: 12px;
            text-align: center;
        }

        body {
            background-color: white !important;
            font-family: @(CultureInfo.CurrentCulture.Name == "fa-IR" ? "IRANSansWeb" : null);
            font-size: 14px;
        }

        .loginSignUpSeparator {
            border-top: 1px solid #cbd2d6;
            margin: 25px 0 10px;
            position: relative;
            text-align: center;
        }

        .loginSignUpSeparator .textInSeparator {
            background-color: #fff;
            color: #6c7378;
            padding: 0 .5em;
            position: relative;
            top: -.7em;
        }

        .intentFooter .localeSelector .localeLink {
            display: flex;
            list-style: none;
            margin: 0;
        }

        .intentFooter .localeSelector a,
        .intentFooter .localeSelector a:link,
        .intentFooter .localeSelector a:visited,
        .intentFooter .localeSelector a:hover {
            color: #666;
            font-size: 11px;
            white-space: nowrap;
        }
    </style>

</head>

<body>


    <main class="container"
          style="padding-top: 150px;">
        <div class="d-flex justify-content-center">
            <div style="width: 400px;">

                <!-- /.login-logo -->
                <div class="card card-outline">

                    <div class="card-body">

                        <div class="text-center">
                            <img src="@(string.IsNullOrWhiteSpace(systemSetting?.CompanyLogoUrl)
                            ? "/imgs/logo.png" : $"~/Logo/{systemSetting.CompanyLogoUrl}")"
                                 height="100"
                                 width="100" alt="CompanyLogo" />
                        </div>
                        <br />
                        <input asp-for="ReturnUrl"
                               type="hidden"
                               value="@Model.ReturnUrl" />
                        <form id="loginform"
                              onsubmit="clearHeader()"
                              asp-action="Login"
                              asp-controller="Account"
                              method="post">
                            <div class="input-group mb-3"
                                 style="margin-bottom: 12px !important;">
                                <input placeholder="@Language.GetString("TextAndPlaceholder_UserName_Mobile_Email")"
                                       asp-for="Username"
                                       type="text"
                                       class="form-control">

                                <div class="input-group-append">
                                    <span class="fa fa-user input-group-text"></span>
                                </div>

                            </div>
                            <div style="text-align: center">
                                <span asp-validation-for="Username"
                                      class="text-danger">
                                </span>
                            </div>
                            <div class="input-group mb-3"
                                 style="margin-bottom: 12px !important; margin-top: 15px;">
                                <input placeholder="@Language.GetString("TextAndPlaceholder_Password")"
                                       asp-for="Password"
                                       type="password"
                                       class="form-control">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>

                            <div style="text-align: center">
                                <span asp-validation-for="Password"
                                      class="text-danger">
                                </span>
                            </div>

                            <div class="mb-1"
                                 style="text-align: @(dir == "rtl" ? "right" : "left");">
                                <a asp-action="ResetPassword">@Language.GetString("Action_ResetPassword")</a>
                            </div>

                            <div class="input-group mb-3"
                                 style="margin-bottom: 12px !important; margin-top: 15px;">

                                <img alt="Captcha"
                                     id="imgcpatcha"
                                     src="@Url.Action("CaptchaImage", "Captcha")"
                                     style="border: 1px solid #9e9e9e" />
                                <input asp-for="Captcha"
                                       type="text"
                                       class="form-control"
                                       id="inlineFormInputGroup"
                                       placeholder="@Language.GetString("TextAndPlaceholder_Captcha")"
                                       style="text-align: center">

                                <div style="cursor: pointer"
                                     class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i onclick="refreshCaptcha()"
                                           class="fas fa-sync-alt">
                                        </i>
                                    </div>
                                </div>

                                <span id="captValidation"
                                      asp-validation-for="Captcha"
                                      class="text-danger">
                                </span>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <button type="submit"
                                            class="btn btn-primary bg-gradient">
                                        @Language.GetString("Action_SignIn")
                                    </button>
                                </div>
                            </div>
                        </form>
                        <div class="loginSignUpSeparator">
                            <span class="textInSeparator">@Language.GetString("TextAndPlaceholder_Or")</span>
                        </div>

                        <a asp-action="Register"
                           class="btn btn-primary bg-gradient">
                            @Language.GetString("Action_Register")
                        </a>

                    </div>

                    <!-- /.login-card-body -->
                </div>
                <div class="intentFooter"
                     style="@(CultureInfo.CurrentCulture.Name == "fa-IR" ? "float: left" : "float:right")">
                    <div class="localeSelector ">
                        <ul class="localeLink">
                            <li>
                                <a href=""
                                   onclick="changeCulture('fa-IR')">
                                    فارسی
                                </a>&nbsp;|&nbsp;
                            </li>
                            <li>
                                <a href=""
                                   onclick="changeCulture('en-US')">
                                    English
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- /.login-box -->
    <!-- jQuery -->
    @*<script src="~/js/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/js/plugins/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- iCheck -->
    @if (dir == "rtl")
    {
        <script src="~/js/siteTemplate/jqueryui1.11.4/jquery-ui.min.js"></script>

    }
    else
    {
        <link href="~/plugins/icheck-bootstrap/icheck-bootstrap.css" rel="stylesheet" />
    }
    @if (dir == "rtl")
    {
        <script src="~/plugins/iCheck/icheck.min.js"></script>
    }

    <script>
        $(document).ready(function () {
            debugger;
                $('[data-toggle="tooltip"]').tooltip();
                //icheckboxes
                if ("@dir" == "rtl") {
                    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                        checkboxClass: 'icheckbox_minimal-blue',
                        radioClass: 'iradio_minimal-blue'
                    })
                }
            });
    $(function()
    {
        $('input')
            .iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
    });


    function refreshCaptcha()
    {
        $("#imgcpatcha").attr('src', `@Url.Action("CaptchaImage", "Captcha")?${new Date().getTime()}`);
        $("#inlineFormInputGroup").val('');
        $("#inlineFormInputGroup").focus();
        $('#captValidation').empty();
    }

    function clearHeader()
    {
        $("#cardHeader").html("<p>@Language.GetString("AlertAndMessage_InputUserNameAndPassword")</p>");
    }

    function changeCulture(selectedLangId)
    {
        $.ajax({
            type: "GET",
            url: `/Home/changeLang?langId=${selectedLangId}`,
            success: function()
            {
                window.location.reload();
            }
        });
    }
    </script>
</body>
</html>