@using System.Globalization
@model Arad.Portal.DataLayer.Models.User.LoginDTO
@inject Arad.Portal.DataLayer.Contracts.General.SystemSetting.ISystemSettingRepository _systemSettingRepository
@{
    var dir = HelpersMothods.GetDirection(CultureInfo.CurrentCulture);
    var lang = HelpersMothods.GetHtmlLang(CultureInfo.CurrentCulture);
    Arad.Portal.DataLayer.Entities.General.SystemSetting.SystemSetting systemSetting
        = (await _systemSettingRepository.GetAll()).FirstOrDefault();
    Layout = null;
}
<!DOCTYPE html>
<html dir="@dir" lang="@lang">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta property="og:title"
          content="@systemSetting?.SystemTitle - @Language.GetString("TextAndPlaceholder_LogIn")" />
    <meta property="og:type"
          content="website" />


    <meta name="apple-mobile-web-app-title" content="@(systemSetting == null ? "Arad Portal" : systemSetting.SystemTitle)">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>@systemSetting?.SystemTitle - @Language.GetString("TextAndPlaceholder_LogIn")</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <link href="~/lib/intl-tel-input/css/intlTelInput.css" rel="stylesheet" />
   
    @if (dir == "ltr")
    {
       <link href="~/lib/bootstrap5/css/bootstrap.min.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/lib/bootstrap5/css/bootstrap.rtl.min.css" rel="stylesheet" />
         <link href="~/Fonts/IranSans/css/fontiran.css" rel="stylesheet" />
    }
   
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
  
</head>
<body style="font-family: IransansWeb" class="hold-transition login-page">
    <main class="container mt-5">
          
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card shadow  mt-5 p-4">
                    <img alt=""
                         src="~/imgs/Logo.png"
                         style="align-self: center"
                         width="110" />

                    <div class="card-body">
                        <form asp-action="Login" class="row g-3" id="loginForm" method="post">
                            <input asp-for="ReturnUrl" type="hidden" />
                            <div class="col-12 input-group p-0 mb-1">
                                <span class="input-group-text"
                                      id="basic-addon1">
                                    <i class="fas fa-user"></i>
                                </span>
                                <input aria-describedby="basic-addon1" asp-for="Username" class="form-control" placeholder="@Language.GetString("AlertAndMessage_Username")" type="text">
                            </div>
                            <span asp-validation-for="Username" class="text-danger form-validation-alert"></span>
                            <div class="col-12 input-group p-0 mb-1">
                                <span class="input-group-text" id="basic-addon2">
                                    <i class="fas fa-lock"></i>
                                </span>

                                <input aria-describedby="basic-addon2" asp-for="Password" class="form-control" id="pw_element" placeholder="@Language.GetString("AlertAndMessage_Password")" type="password">
                                
                                <button class="btn btn-outline-secondary" onclick="togglePassword()" type="button">
                                    <i class="fas fa-eye-slash" id="ic_span"> </i>
                                </button>
                            </div>
                            <span asp-validation-for="Password" class="text-danger form-validation-alert"></span>

                            <a class="link-primary small fs-6" asp-controller="account" asp-action="ChangePassword" style="text-decoration: none">@Language.GetString("AlertAndMessage_ForgetPassword")</a>

                            <div class="input-group p-0 mb-1">

                                @if (dir == "rtl")
                                {
                                    <button class="btn btn-outline-secondary" onclick="refreshCaptcha()" type="button">
                                        <i class="fas fa-sync"></i>
                                    </button>
                                    <input asp-for="Captcha" class="form-control" id="Captcha" placeholder="@Language.GetString("User_ResultOfSum")" type="text" value="">
                                    <span class="form-control p-0">
                                       
                                        <img alt="Captcha" id="imgCpatcha" src="@ViewBag.Captcha" style="height: 100% !important; width: 100% !important;">
                                    </span>
                                }
                                else
                                {
                                    <span class="form-control p-0">
                                       
                                        <img alt="Captcha" id="imgCpatcha" src="@ViewBag.Captcha" style="height: 100% !important; width: 100% !important;">
                                    </span>

                                    <input asp-for="Captcha" class="form-control" id="Captcha"  placeholder="@Language.GetString("User_ResultOfSum")" type="text" value="" />
                                    <button class="btn btn-outline-secondary" onclick="refreshCaptcha()" type="button">
                                        <i class="fas fa-sync"></i>
                                    </button>
                                }

                            </div>
                            <span asp-validation-for="Captcha"
                                  class="text-danger form-validation-alert">
                            </span>

                            <div class="col-12 p-0">
                                <button class="btn btn-outline-primary text-bold  w-100" type="submit">@Language.GetString("btn_Login")</button>
                            </div>

                            <div class="loginSignUpSeparator">
                                <span class="textInSeparator">@Language.GetString("Or")</span>
                            </div>
                            <div class="col-12 p-0">
                                <a class="mt-0 btn btn-outline-secondary  text-bold w-100" asp-controller="account" asp-action="register">
                                    <span class="text-bold">@Language.GetString("User_Signup")</span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
                <ul class="nav mt-3">
                    <li>
                        <span class="nav-link p-0 text-secondary small"
                              style="cursor: pointer;"
                              onclick="setLang('en-US')">
                            English
                        </span>
                    </li>
                    <li class="nav-link p-0 text-secondary small">&nbsp;|&nbsp;</li>
                    <li>
                        <span class="nav-link p-0 text-secondary small"
                              style="cursor: pointer;"
                              onclick="setLang('fa-IR')">
                            فارسی
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </main>
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap5/js/bootstrap.bundle.js"></script>
    <script>
    function refreshCaptcha()
    {
        debugger;
        $("#imgCpatcha").attr('src', `@Url.Action("CaptchaImage", "Captcha")?${new Date().getTime()}`);
        $("#inlineFormInputGroup").val('');
        $("#inlineFormInputGroup").focus();
        $('#captValidation').empty();
    }

    function togglePassword()
    {
        const pwEle = document.getElementById("pw_element");
        const btn = document.getElementById("ic_span");

        if (pwEle.type === "password")
        {
            pwEle.type = "text";
            btn.className = "fas fa-eye-slash";
        }
        else
        {
            pwEle.type = "password";
            btn.className = "fas fa-eye";
        }
    }

    function setLang(lang)
    {
        debugger;
        const currentCulture = '@CultureInfo.CurrentCulture.Name';
        if (currentCulture !== lang)
        {
            $.ajax({
                type: "GET",
                url: `@Url.Action("ChangeLang")?langId=${lang}`,
                success: function()
                {
                    window.location.reload();
                }
            });
        }
    }
    </script>
</body>
</html>