@model Arad.Portal.DataLayer.Models.User.UserProfile
@{
    ViewData["Title"] = @Language.GetString("Menu_Profile");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    @*<link href="~/css/edit-address.css" rel="stylesheet" />*@
}

<div class="container-fluid container-body address">
    <section class="section-full">
        <div class="head head-address col-xs-12">
            <h5>
                <span class="pt-2">@Language.GetString("Menu_ProfileInfoes")</span>
            </h5>
        </div>
        <div class="row pt-5">
            <div class="col-md-12 col-lg-6 m-auto">
                <form class="form-profile row text-right">

                    <div class="col-xs-12 col-md-3 rtl">
                        <label class="form-label"> @Language.GetString("User_FirstName") :</label>
                    </div>
                    <div class="col-xs-12 col-md-9 rtl">
                        <div class="form-group textPlaceholder rtl">
                            <input id="Name" name="Name" class="form-control" type="text" dir="rtl" value="@Model.Name">
                            <span class="field-validation-error" data-val-result="Name"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-3 rtl">
                        <label class="form-label">@Language.GetString("User_LastName") :</label>
                    </div>
                    <div class="col-xs-12 col-md-9 rtl">
                        <div class="form-group textPlaceholder rtl">
                            <input id="LastName" name="LastName" class="form-control" type="text" dir="rtl" value="@Model.LastName">
                            <span class="field-validation-error" data-val-result="LastName"></span>
                        </div>
                    </div>

                    <div class="col-lg-12 text-center pt-5">
                        <button id="profileBtn" type="submit" class="btn btn-success btn-block">@Language.GetString("User_ProfileApprove") </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
<div class="container-fluid container-body address">
    <section class="section-full">
        <div class="head head-address col-xs-12">
            <h5>
                <span class="pt-2">@Language.GetString("btn_ChangePass")</span>
            </h5>
        </div>
        <div class="row pt-5">
            <div class="col-md-12 col-lg-6 m-auto">
                <form class="form-password row text-right">
                    <div class="col-xs-12 col-md-3 rtl">
                        <label class="form-label"> @Language.GetString("User_CurrentPass") : </label>
                    </div>

                    <div class="col-xs-12 col-md-9">
                        <div class="form-group textPlaceholder rtl">
                            <input id="Password" name="Password" class="form-control" type="password" dir="rtl" placeholder="  ">
                            <span class="field-validation-error" data-val-result="Password"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-3 rtl">
                        <label class="form-label"> @Language.GetString("AlertAndMessage_NewPassword") : </label>
                    </div>
                    <div class="col-xs-12 col-md-9 rtl">
                        <div class="form-group textPlaceholder rtl">
                            <input id="NewPassword" name="NewPassword" class="form-control" type="password" dir="rtl" placeholder="  ">
                            <span class="field-validation-error" data-val-result="NewPassword"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 rtl">
                        <label class="form-label">  @Language.GetString("User_PasswordRepetition") : </label>
                    </div>
                    <div class="col-xs-12 col-md-9 rtl">
                        <div class="form-group textPlaceholder rtl">
                            <input id="ReNewPassword" name="ReNewPassword" class="form-control" type="password" dir="rtl" placeholder="  ">
                            <span class="field-validation-error" data-val-result="ReNewPassword"></span>
                        </div>
                    </div>

                    <div class="col-lg-12 text-center pt-5">
                        <button id="passwordBtn" type="submit" class="btn btn-success btn-block"> @Language.GetString("btn_ChangePass") </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

@section Scripts{

<script>
    $(document).ready(function() {
        $(".form-profile").submit(function(e) {
            e.preventDefault();
            debugger;
            var spanErrorList = $(this).find('span[data-val-result]');
            spanErrorList.html("");
            spanErrorList.parent().removeClass("has-error");

            $.ajax({
                url: "@Url.Action("EditProfile", "Account", new {area = ""})",
                type: 'POST',
                data: $(this).serialize(),
                beforeSend: function() {
                    
                },
                success: function(result) {
                    if (result.status === "success") {
                        document.getElementById('mainToastBody').innerHTML = '<i class="far fa-check-circle"></i>'+result.message;
                        document.getElementById('mainToastBody').classList.add('alert-success');
                        var bsAlert = new bootstrap.Toast($("#mainToast"));
                        bsAlert.show();
                    } else if (result.status === "error") {
                        if (result.modelStateErrors.length !== 0) {
                            result.modelStateErrors.forEach(function(value, index) {
                                $('[data-val-result=' + value.key + ']').html(value.errorMessage);
                                $('[data-val-result=' + value.key + ']').parent().addClass("has-error");
                            });
                        } 
                        else 
                        {
                           
                            document.getElementById('mainToastBody').innerHTML = `<i class="fas fa-exclamation-triangle"></i> ${result.message}`;
                            document.getElementById('mainToastBody').classList.add('alert-danger');
                            var toastDiv = $("#mainToast");
                            $("#toastPanel").show();
                            var toast = new bootstrap.Toast(toastDiv);
                            toast.show();
                        }
                    }
                },
                error: function() {

                }
            });
        });

        $(".form-password").submit(function(e) {
            e.preventDefault();
            var spanErrorList = $(this).find('span[data-val-result]');
            spanErrorList.html("");
            spanErrorList.parent().removeClass("has-error");
            if($("#NewPassword").val() != $("ReNewPassword").val())
            {
                 $('[data-val-result="ReNewPassword"]').html('@Language.GetString("AlertAndMessage_PasswordandRepeatIsNotEqual")');
                 $('[data-val-result=""ReNewPassword]').parent().addClass("has-error");
                 return;
            }

            $.ajax({
                url: "@Url.Action("ChangePassword", "Account", new {area = ""})",
                type: 'POST',
                data: $(this).serialize(),
                beforeSend: function() {
                    $("#loadingShop").removeClass("hidden");
                },
                success: function(result) {
                    if (result.status === "success") {

                       document.getElementById('mainToastBody').innerHTML = '<i class="far fa-check-circle"></i>'+result.message;
                        document.getElementById('mainToastBody').classList.add('alert-success');
                        var bsAlert = new bootstrap.Toast($("#mainToast"));
                        bsAlert.show();

                    } else if (result.status === "error") {
                        if (result.modelStateErrors.length !== 0) {
                            result.modelStateErrors.forEach(function(value, index) {
                                $('[data-val-result=' + value.key + ']').html(value.errorMessage);
                                $('[data-val-result=' + value.key + ']').parent().addClass("has-error");
                            });
                        } else {
                             document.getElementById('mainToastBody').innerHTML = `<i class="fas fa-exclamation-triangle"></i> ${result.message}`;
                            document.getElementById('mainToastBody').classList.add('alert-danger');
                            var toastDiv = $("#mainToast");
                            $("#toastPanel").show();
                            var toast = new bootstrap.Toast(toastDiv);
                            toast.show();
                        }
                    }
                }
            });
        });
    });
</script>
}