@using System.ComponentModel.Design
@using Arad.Portal.GeneralLibrary.Utilities;
@using System.Globalization;
@model Arad.Portal.DataLayer.Models.Shared.MenuLinkModel
@{
    Layout = null;
}
@{

//var chevron = "";
//if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
//{
//    chevron = "fa fa-chevron-left";
//}
//else
//{
//    chevron = "fa fa-chevron-right";
// }
}

@if (Model.Children.Count != 0)
{
   
<a class="nav-link @(Model.IsActive ? "active": null)" href="#" data-id="@Model.MenuId">
    @if (!string.IsNullOrWhiteSpace(Model.Icon))
    {
        <i class="nav-icon @Model.Icon"></i>
    }
    <p>
        @Language.GetString(Model.MenuTitle)
        <i class="right fa fa-angle-left"></i>
    </p>
</a>
<ul class="nav nav-treeview">
    @foreach (var menu in Model.Children)
    {
        <li class="nav-item">
            @await Component.InvokeAsync("InnerMenu", menu)
        </li>
    }
</ul>
}
else
{
<a class="nav-link" href="/@Model.Link" data-id="@Model.MenuId">
    @if (!string.IsNullOrWhiteSpace(Model.Icon))
    {
        <i class="nav-icon @Model.Icon"></i>
    }
    <p>
        @Language.GetString(Model.MenuTitle)
    </p>
</a>

}