@using Arad.Portal.DataLayer.Models.Shared; 
@model Arad.Portal.DataLayer.Models.Shared.MenuLinkModel
@{
    Layout = null;
}

@if (Model.Children != null && Model.Children.Any())
{
    <h2 class="accordion-header py-2"
        id="@($"heading{Model.MenuId}")">
        <button aria-controls="@($"collapse{Model.MenuId}")"
                aria-expanded="false"
                class="accordion-button collapsed py-2 px-2"
                data-bs-target="@($"#collapse{Model.MenuId}")"
                data-bs-toggle="collapse"
                type="button">
            <i class="@Model.Icon"></i>
            @Model.MenuTitle
        </button>
    </h2>

    <div aria-labelledby="@($"heading{Model.MenuId}")"
         class="accordion-collapse collapse"
         id="@($"collapse{Model.MenuId}")">

        <div class="accordion-body">

            <div class="accordion"
                 id="@($"subMenu{Model.MenuId}")">

                @foreach (MenuLinkModel child in Model.Children.OrderBy(c => c.Priority))
                {
                    <div class="accordion-item border-0">
                        @await Component.InvokeAsync("InnerMenu", child)
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="accordion-item  border-0">
        <h2 class="accordion-header py-1 px-2"
            id="@($"heading{Model.MenuId}")">
            <a href="@Model.Link"
               class="btn btn-sm bg-gradient text-start @(Model.IsActive ? "text-primary" : "")">
                <i class="@Model.Icon"></i>
                @Model.MenuTitle
            </a>
        </h2>
    </div>
}