@*https://bbbootstrap.com/snippets/bootstrap-nested-comment-section-reply-72244546*@
@model Arad.Portal.DataLayer.Models.Shared.CommentVM
<div class="media mt-4">
    <div class="media-body">
        <div class="row">
            <div class="col-md-8 d-flex">
                <h5>
                    @Model.CreatorUserName
                </h5>
                <span>@Model.CreationDate</span>
            </div>
            <div class="col-md-1">
                <div class="pull-right reply">
                    <a data-toggle="collapse" href="@($"#bx_{Model.CommentId}")"
                       role="button" aria-expanded="false" aria-controls="@($"bx_{Model.CommentId}")"><i class="fa fa-reply"></i></a>
                </div>
            </div>
            <div class="col-md-1">
                <div>
                    @if (Model.userStatus != Arad.Portal.DataLayer.Models.Shared.userStatus.UnAuthorized)
                    {
                        @if (Model.userStatus != Arad.Portal.DataLayer.Models.Shared.userStatus.Like)
                        {
                            <a href="#"
                               role="button" aria-expanded="false" onclick="likeDisLike(this,  @Model.CommentId, true);"><i class="far fa-thumbs-up"></i><i class="d-none fas fa-thumbs-up"></i></a>
                        }
                        else//like
                        {
                            <a href="#" role="button" aria-expanded="false"><i class="fas fa-thumbs-up"></i></a>
                        }
                    }
                    else //unauthorize
                    {
                        <a href="#"
                           role="button" aria-expanded="false" ><i class="far fa-thumbs-up"></i></a>
                    }

                    <span class="statistics">@Model.LikeCount</span>
                </div>
            </div>
            <div class="col-md-1">
                <div>
                    @if (Model.userStatus != Arad.Portal.DataLayer.Models.Shared.userStatus.UnAuthorized)
                    {
                        @if (Model.userStatus != Arad.Portal.DataLayer.Models.Shared.userStatus.Dislike)
                        {
                            <a href="#"
                               role="button" aria-expanded="false" onclick="likeDisLike(this, @Model.CommentId, false);"><i class="far fa-thumbs-down"></i><i class="d-none fas fa-thumbs-down"></i></a>
                        }
                        else//dislike
                        {
                            <a href="#"
                               role="button" aria-expanded="false" ><i class="fas fa-thumbs-down"></i></a>

                        }

                    }
                    else//unauthorize
                    {
                        <a href="#"
                           role="button" aria-expanded="false"><i class="far fa-thumbs-down"></i></a>
                    }
                    <span class="statistics">@Model.DislikeCount</span>
                </div>
            </div>
        </div>
        @Model.Content
        <div class="row collapse" id="@($"bx_{Model.CommentId}")">
            <div class="col-md-10">
                <input type="text" class="cmt form-control" value="" />
            </div>
            <div class="col-md-2">
                <a href="#"
                   role="button" aria-expanded="false" onclick="submitComment(this, @Model.ReferenceId, '@ViewBag.LoggedUser');"><i class="fas fa-check"></i></a>
            </div>
        </div>
        @foreach (var item in Model.Childrens)
        {
            @await Component.InvokeAsync("CommentSection", item)
        }

    </div>
</div>
@*<i class="far fa-thumbs-up"></i> empty
  <i class="fas fa-thumbs-up"></i> full
  <i class="far fa-thumbs-down"></i> empty
  <i class="fas fa-thumbs-down"></i> full*@