@model ConfirmDeleteDTO
@{
	Layout = null;
}

<div aria-hidden="true" aria-labelledby="confirmDeleteModalLabel" class="modal fade" id="confirmDeleteModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-light">
				<h5 class="modal-title" id="confirmDeleteModalLabel">
					@Language.GetString("Delete")
				</h5>
				<button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
				</button>
			</div>
			<div class="modal-body">
				@Language.GetString("AlertAndMessage_DeleteEntity")
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" onclick="deleteEntity()" type="button">
					@Language.GetString("btn_Confirm")
				</button>
				<button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
					@Language.GetString("btn_NotConfirm")
				</button>
			</div>
		</div>
	</div>
</div>

<div class="position-fixed h-100 w-100 p-5 bg-dark" id="deleteToast" style="display: block; left: 0; top: 0; z-index: 11;">
	<div aria-atomic="true" aria-live="assertive" class="toast" id="liveToast" role="alert">
		<div class="toast-body p-3 fs-5 rounded-3 text-center" style="top: 40%; left: 200px;position: absolute;width: calc(100% - 400px);" id="toastBody">
		</div>
	</div>
</div>

<script>
	
	var entityId;
	
	function deleteConfirmed(id)
	{
		entityId = id;
		$('#confirmDeleteModal').modal('show');
	}

	function deleteEntity()
	{
		$('#confirmDeleteModal').modal('hide');
		$("#deleteToast").show();
        const bsAlert = new bootstrap.Toast(document.getElementById('liveToast'));
		
		$.ajax({
			type: 'Delete',
			url: `@Model.Url?id=${entityId}`,
			statusCode: {
				200: function(resultData)
				{
					console.log(resultData);
					if (resultData.result)
					{
						const msg = !resultData.message ? '@Language.GetString("AlertAndMessage_OperationDoneSuccessfully")' : resultData.message;
						document.getElementById('toastBody').innerHTML = `<i class="far fa-check-circle"></i> ${msg}`;
						document.getElementById('toastBody').classList.add('alert-success');
						setTimeout(function()
							{
								window.location.reload();
							},
							2000);
					}
					else
					{
						const msg = !resultData.message ? '@Language.GetString("AlertAndMessage_ErrorOccurrence")' : resultData.message;
                        showError(msg);
					}
                    bsAlert.show();
				},
				404: function()
				{
                    showError('@Language.GetString("AlertAndMessages_UserNotFound")');
                    bsAlert.show();
				},
				403: function()
                {
                    showError('@Language.GetString("AlertAndMessages_NotAllowed")');
                    bsAlert.show();
                }
			}
		});
	}
	
    function showError(msg)
    {
        document.getElementById('toastBody').innerHTML = `<i class="fas fa-exclamation-triangle"></i> ${msg}`;
        document.getElementById('toastBody').classList.add('alert-danger');
        setTimeout(function()
            {
                $("#deleteToast").hide();
            },
            2000);
    }

</script>