@using Arad.Portal.DataLayer.Models.Content;
@model Arad.Portal.DataLayer.Models.Content.ContentDTO
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dir = HelpersMethods.GetDirection(CultureInfo.CurrentCulture);
   
    List<ContentGlance> sidebarContents = (List<ContentGlance>)ViewBag.Sidbars;
    var like = User.Identity.IsAuthenticated && ViewBag.Like ? true : false;
}
@section Styles
{
<link href="~/lib/slick-carousel/slick.css" rel="stylesheet" />
<link href="~/lib/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
<link href="~/ImageSlider/ImageSlider.css" rel="stylesheet" />
<style>

    .smlImg {
        border-radius: 10%;
    }

    
    .sidebarContent {
        background: #fff;
        border-radius: 6px;
        position: relative;
        box-shadow: 1px 3px 4px 2px rgb(0 0 0 / 10%);
    }

    .reply a {
        text-decoration: none
    }

    .sold_stars i {
        color: orange
    }

    .lblMdl {
        padding: 0.5rem 0rem;
    }
</style>
}

@section Scripts{

   
<script src="~/lib/slick-carousel/slick.min.js"></script>
   
<script src="~/lib/fancybox/jquery.fancybox.min.js"></script>
    @if (dir == "rtl")
    {
<script src="~/ImageSlider/ImageSlider-rtl.js"></script>
    }
    else
    {
<script src="~/ImageSlider/ImageSlider-ltr.js"></script>
    }

}

<div class="container">
<div class="row">

    @if (Model.IsSliderShowing)
    {
        @if (Model.Images.Count > 1)
        {
            <div id="carouselImages" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    @foreach (var img in Model.Images)
                    {
                        <div class="carousel-item active">
                            <img src="@Url.Content($"~/getscaledimageOnWidth?path={img.Url}&width={1000}")" class="d-block w-100" alt="@img.Title">
                        </div>
                    }
                </div>
           
                <a class="carousel-control-prev" href="#carouselImages" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">@Language.GetString("tbl_PreviousPage")</span>
                </a>
                <a class="carousel-control-next" href="#carouselImages" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">@Language.GetString("tbl_NextPage")</span>
                </a>
        </div>
        }
    }

</div>

    <div class="row g-0">
       @if (@Model.IsRateBoxShowing)
        {
            <div class="sold_stars ratePart col-10 col-md-4 px-1">
                @for (int i = 1; i <= Model.LikeRate; i++)
                {
                    <a href="#"
                          role="button" aria-expanded="false" title="@Language.GetString("ContentScore")" onclick="Rate(@i);">
                        <i class="fas fa-star"></i>
                    </a>
                }
                @if (Model.HalfLikeRate)
                {
                    <a href="#"
                           role="button" aria-expanded="false" title="@Language.GetString("ContentScore")" onclick="Rate(@Model.LikeRate+1);">
                        <i class="fas fa-star-half-alt"></i>
                    </a>
                }
                @for (int i = (Model.HalfLikeRate ? Model.LikeRate + 2 : Model.LikeRate + 1); i <= Model.DisikeRate; i++)
                {
                    <a href="#"
                              role="button" aria-expanded="false" onclick="Rate(@i);" title=@($"{@Language.GetString("ContentScore")}_{i}")>
                        <i class="far fa-star"></i>
                    </a>
                }
            </div>
             <div class="col-1 offset-1 col-md-4 offset-md-4 px-3">
              <a href="#" role="button" class="float-end fs-4" data-bs-toggle="tooltip" onclick="AddToFavoriteList('@Model.ContentCode');"
                         data-bs-placement="bottom" title="@Language.GetString("AlertAndMessage_AddToFavoriteList")">
                         @if(!like)
                        {
                             <i class="far fa-heart"></i>
                        }else
                        {
                            <i class="fas fa-heart"></i>
                        }
                       
              </a>
            </div>
        }else
        {
            <div class="col-1 offset-11 px-3">
              <a href="#" role="button" class="float-end fs-4" data-bs-toggle="tooltip" onclick="AddToFavoriteList('@Model.ContentCode');"
                         data-bs-placement="bottom" title="@Language.GetString("AlertAndMessage_AddToFavoriteList")">
                         @if(!like)
                        {
                             <i class="far fa-heart"></i>
                        }else
                        {
                            <i class="fas fa-heart"></i>
                        }
                       
              </a>
            </div>
        }

    </div>

<div class="row">
    @if (!Model.IsSidebarContentsShowing)
    {
        @Html.Raw(Model.Contents);
    }
    else
    {
        <div class="col-12 col-md-8">
            @Html.Raw(Model.Contents);
        </div>
        <div class="col-12 col-md-4">
            <div class="card sidebarContent">
                <ul class="m-0 list-group border-0" style="list-style: none;">
                    @foreach (var content in sidebarContents)
                    {
                        <li class="pb-10 list-group-item border-0">
                            <div class="w-100 mb-5">
                                <a href="@(!string.IsNullOrWhiteSpace(content.UrlFriend) ? content.UrlFriend : $"/blog/{content.ContentCode}")" class="d-block h-100 text-decoration-none" style="position: relative;color: #777;">
                                    <img src="@Url.Content($"~/GetScaledImageOnWidth?path={content.DesiredImageUrl}&width={300}")" class="w-100" >
                                    <div class="">
                                        <h5 class="fs-6" >@content.Title</h5>
                                    </div>
                                </a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }

</div>
@if (Model.IsCommentBoxShowing)
{
    <div class="row">
        <form class="w-100 mt-2">
            <textarea class="form-control dir w-100 bg-light" id="commentPart" rows="3" placeholder="@Language.GetString("AlertAndMessage_WriteComment")"></textarea>
            <input type="button" class="btn btn-info bg-gradient mt-2 float-end" id="btnAddComment" value="@Language.GetString("btn_Insert")" />
        </form>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-5 mt-5">
                <div class="row">
                    <div class="col-md-12">
                        @foreach (var item in Model.Comments)
                        {
                            @await Component.InvokeAsync("CommentSection", item)
                            ;
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>
<script src="~/js/CommentSection/cmt.js"></script>
<script type="text/javascript">
     $(document).ready(function () {
         $("#btnAddComment").click(function () {
             debugger;
             if ('@ViewBag.LoggedUser' == 'True') {
                 if ($("#commentPart").val() != "") {
                     var obj = {};
                     obj.ReferenceId = '@Model.ContentId';
                     obj.Content = $("#commentPart").val();
                     obj.ParentId = null;
                     $.ajax({
                         url: "/Comment/SubmitComment",
                         contentType: 'application/json',
                         data: JSON.stringify(dto),
                         type: 'Post',
                         dataType: 'json',
                         beforeSend: function () {
                         },
                         success: function (result) {
                             if (result.status === "Success") {
                                 $("#commentPart").val("@Language.GetString("AlertAndMessage_SubmitComment")");
                                 location.reload();
                             }else 
                             {
                                 showError(result.message);
                             }
                         }
                     });
                 }
             }
         });
     });
    function AddToFavoriteList(contentCode)
    {
        debugger;
        if ('@like' == "True") {
            window.location.href = '@Url.Action("GetUserFavList", "Comment")';
        }
        else if ('@User.Identity.IsAuthenticated' == "True") {
            $.ajax({
                url: '@Url.Action("AddToFavList", "Comment")' + `?code=${contentCode}&name=content`,
                contentType: "application/json",
                type: "Get",
                beforeSend: function() {
                },
                success: function(result) {
                    debugger;
                    if (result.status == "Succeed") {

                        window.location.reload();
                    }
                }
            });
        } else
            window.location.href = '@Url.Action("Login", "Account")' + `?returnUrl=${'@ViewBag.LanIcon'}/blog/${contentCode}`;

    }
     function Rate(score) {
         debugger;
         var isAllow = false;
         if ('@ViewBag.LoggedUser' == 'True') {
             if ('@ViewBag.HasRateBefore' == 'True') {
                 if (score != parseInt('@ViewBag.PreRate'))
                     isAllow = true;
             }
             else {
                 isAllow = true;
             }
         }
         if (isAllow)
         {
             $.ajax({
                 url: "/Content/Rate?contentId=" +
                     '@Model.ContentId' + "&score=" + score + '&hasrate=' + '@ViewBag.HasRateBefore',
             contentType: 'application/json',
             type: 'Post',
             dataType: 'json',
             beforeSend: function () {
             },
             success: function (result) {
                 if (result.status == "Success") {
                     //refresh rate part
                     $("div.ratePart").html("");
                     for (var i = 1; i <= result.like; i++) {
                         $("div.ratePart")
                         .append('<a href="#" role = "button" aria-expanded="false" onclick="Rate('+i+');"><i class="fas fa-star"></i></a>');
                     }
                     if (result.half == 'True') {
                         $("div.ratePart")
                             .append('<a href="#" role="button" aria-expanded="false" onclick="Rate(' + result.like + 1+');"><i class="fas fa-star-half-alt"></i></a>');
                     }
                     var initiali = result.half == 'True' ? result.like + 2 : result.like + 1;
                     for (var i = initiali; i <= result.dislike; i++) {
                         $("div.ratePart")
                             .append('<a href="#" role="button" aria-expanded="false" onclick="Rate('+i+');"><i class="far fa-star"></i></a>');
                     }
                 }
             }
             });
         }
    }

</script>
