@using Microsoft.Extensions.Configuration;
@inject IConfiguration _configuration;
@{
    Layout = null;
     var baseAdd = _configuration["BaseAddress"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>File Browser</title>
    <link rel="stylesheet" href="@Url.Content($"~{baseAdd}/lib/bootstrap5/css/bootstrap.min.css")" />
    <style>
        #form {
            width: 600px;
        }

        #folderExplorer {
            float: left;
            width: 100px;
        }

        #fileExplorer {
            float: left;
            width: 680px;
            border-left: 1px solid #dff0ff;
        }

        .thumbnail {
            float: left;
            margin: 3px;
            padding: 3px;
            border: 1px solid #dff0ff;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            padding: 0;
        }
    </style>

    <script src="@Url.Content($"~{baseAdd}/js/plugins/jquery/jquery.min.js")"></script>
    <script src="@Url.Content($"~{baseAdd}/lib/ckeditor/ckeditor.js")"></script>
    <script>
        $(document).ready(function() {
            //var funcNum = '@(Context.Request.Query["CKEditorFuncNum"])';
            ////console.log("gggg");
            //$('#fileExplorer').on('click',
            //    'img',
            //    function() {
            //        var fileUrl = `${@ViewBag.Location}/ckEditorProductImages/` + $(this).attr('title');
            //        window.opener.CKEDITOR.tools.callFunction(funcNum, fileUrl);
            //        window.close();
            //    }).hover(function() {
            //    $(this).css('cursor','pointer');
            //});
        });

        
    </script>
</head>

<body>
<div id="fileExplorer w-100">
    @foreach (var fileInfo in ViewBag.fileInfos)
    {
        <div class="thumbnail">
            <img  src="@Url.Content($"../filemanager/getscaledimageOnWidth?path=ckEditorProductImages/{fileInfo.Name}&width={100}")" alt="thumb" title="@fileInfo.Name" />
            <br />
            @fileInfo.Name
        </div>
    }
</div>
</body>
</html>