@using System.Globalization;
@using Arad.Portal.GeneralLibrary.Utilities;
@model List<Arad.Portal.DataLayer.Models.Shared.MenuLinkModel>
@{
    Layout = null;
}
@{

    var chevron = "";
    var dir = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        chevron = "fa fa-chevron-left";
        dir = "rtl";
    }
    else
    {
        chevron = "fa fa-chevron-right";
        dir = "ltr";
    }
}
<style>
    .dirClassRtl {
        direction: rtl;
    }

    .dirClassLtr {
        direction: ltr;
    }
</style>

@*<div class="sidebar @(dir== "rtl" ? "dirClassLtr" : "")" >
    <div class="@(dir == "rtl" ? "dirClassRtl" : "")">*@
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        @foreach (var item in @Model)
        {

            <li class="nav-item @(item.IsActive ? "menu-open" : "")">
                <a href="#" class="nav-link @(item.IsActive ? "active": "")">
                    @if (!string.IsNullOrWhiteSpace(item.Icon))
                    {
                        <i class="nav-icon @item.Icon"></i>
                    }
                    <p>
                        @item.MenuTitle
                        <i class="right @(dir =="rtl" ? "fa" : "fas") fa-angle-left"></i>
                    </p>
                </a>
                @if (item.Children.Count != 0)
                {
                    <ul class="nav nav-treeview">
                        @foreach (var menu in item.Children)
                        {
                            <li class="nav-item @(menu.Children.Count != 0 ? "menu-open" : "")">
                                @await Component.InvokeAsync("InnerMenu", menu)
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</nav>
@*</div>
    </div>*@


