@using System.ComponentModel.Design
@using Arad.Portal.GeneralLibrary.Utilities; 
@model List<Arad.Portal.DataLayer.Models.Shared.MenuLinkModel>
@{
    Layout = null;
}
<style>
    .list-group-item {
        background-color: inherit;
    }
</style>

<div class="sidebar ">
    <div class="sidebar-nav">
        <div class="navigation">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                            <a href="#">
                                <span class="btn btn-success" style="width: 100%;border-radius: 0;padding: .5em;">
                                    @Language.GetString("Menu_Dashboard_HomeTitle");
                                </span>
                            </a>
                        </div>
                    </div>
                </li>
               
                    @foreach (var item in @Model)
                    {
                        <li class="list-group-item @(item.Children.Count > 0 ? "has-sub" : "")">
                            @if (item.Children.Count != 0)
                            {
                                var hrefcollapse = "menu"+item.MenuId;
                                <a class="nav-link @(item.IsActive ? "active":"notactive")" data-toggle="collapse" href="#@hrefcollapse" >
                                    <i class="nav-icon @item.Icon"></i> 
                                        @item.MenuTitle
                                    <span class="expand-state pull-left">
                                       <i class="fa fa-chevron-down pull-left"></i>
                                    </span>
                                </a>
                                <ul class="list-group @(item.IsActive ? "show":"")" id="@hrefcollapse">
                                    @foreach (var menu in item.Children)
                                    {
                                        <li class="list-group-item">
                                           @await Component.InvokeAsync("InnerMenu", menu.MenuId);
                                        </li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <a class="nav-link @(item.IsActive ? "active":"notActive")" href="/Admin/@item.Link">
                                    <i class="nav-icon @item.Icon"></i> @item.MenuTitle
                                </a>
                            }
                        </li>
                    }
              
            </ul>
        </div>
    </div>
</div>

