@using System.Globalization;
@using Arad.Portal.GeneralLibrary.Utilities;
@model List<Arad.Portal.DataLayer.Models.Shared.MenuLinkModel>
@{
    Layout = null;
}
@{

    var chevron = "";
    var dir = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        chevron = "fa fa-chevron-left";
        dir = "rtl";
    }
    else
    {
        chevron = "fa fa-chevron-right";
        dir = "ltr";
    }
}


<div class="sidebar">
    <div class="sidebar-nav">
        <div @*class="navigation"*@>
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                <li>
                    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                            <a href="#">
                                <span class="btn btn-success" style="width: 100%;border-radius: 0;padding: .5em;">
                                    @Language.GetString("Menu_Dashboard_HomeTitle")
                                </span>
                            </a>
                        </div>
                    </div>
                </li>

                @foreach (var item in @Model)
                {
                    @*@(item.Children.Count > 0 ? "has-sub" : "")*@
                    <li class="nav-item">
                        @if (item.Children.Count != 0)
                        {
                            var hrefcollapse = "menu" + item.MenuId;
                        <a class="nav-link @(item.IsActive ? "active":"notactive")" data-toggle="collapse" href="#@hrefcollapse" aria-expanded="false">
                            @if (!string.IsNullOrWhiteSpace(@item.Icon))
                            {
                                <i class="nav-icon @item.Icon"></i>
                            }
                                @Language.GetString(item.MenuTitle)
                                <span class="expand-state pull-left">
                                    <i class="@chevron pull-left"></i>
                                </span>
                            </a>
                            <ul class="sub unstyle collapse @(item.IsActive ? "show":"")" id="@hrefcollapse">
                                @foreach (var menu in item.Children)
                                {
                                    <li class="nav-item">
                                        @await Component.InvokeAsync("InnerMenu", menu);
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <a class="nav-link @(item.IsActive ? "active":"notActive")" href="/@item.Link">
                                @if (!string.IsNullOrWhiteSpace(@item.Icon)) { <i class="nav-icon @item.Icon"></i> } 
                                @Language.GetString(item.MenuTitle)
                            </a>
                        }
                    </li>
                }

            </ul>
        </div>
    </div>
</div>

