@using Arad.Portal.GeneralLibrary.Utilities;
@using Arad.Portal.DataLayer.Models.Shared; 
@{
    Layout = null;
}

<div id="add" class="box-container collapse">
    <div class="box-head">
        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
        @Language.GetString("Menu_AddNewPermission")
    </div>
    <div class="box-body ">
       @* <form id="addPer" class="sm" asp-action="AddPermission" asp-controller="Permission"
              method="post" autocomplete="off" asp-antiforgery="true">
            <div class="form-row text-right ">
                <div class=" col-md-12">
                    <div class="row">
                        <div class="form-group col-md-4 col-lg-3">
                            <label class="form-label" for="Title">@Language.GetString("Menu_PermissionName")</label>
                            <input type="text" class="form-control" id="Title" name="Title" placeholder=" ">
                            <span class="field-validation-error" data-val-result="Title"></span>
                        </div>
                        <div id="typeSelect" class="form-group col-md-4 col-lg-3">
                            <label class="form-label" for="Type">@Language.GetString("Menu_PermissionType")</label>
                            <select id="Type" class="form-control selectpicker" name="Type" data-live-search="true" asp-items="Html.GetEnumSelectList<Enums.PermissionType>()">
                            </select>
                            <span class="field-validation-error" data-val-result="Type"></span>
                        </div>
                        <div id="RoutePer" class="form-group col-md-4 col-lg-3">
                            <label class="form-label" for="Routes">@Language.GetString("Menu_Routes")</label>
                            <input type="text" class="form-control" id="Routes" name="Routes"
                                   dir="ltr" placeholder="@Language.GetString("Menu_RoutePlaceHolder")">
                            <span class="field-validation-error" data-val-result="Routes"></span>
                        </div>
                        <div id="keySelect" class="form-group col-md-4 col-lg-3">
                            <label class="form-label" for="Method">@Language.GetString("Menu_PermissionMethod")</label>
                            <select id="Method" data-live-search="true" class="form-control selectpicker" name="Method" asp-items="Html.GetEnumSelectList<Enums.PermissionMethod>()">
                            </select>
                            <span class="field-validation-error" data-val-result="Method"></span>
                        </div>
                        <div id="MenuIdOfModule" class="form-group col-md-4 col-lg-3">
                            <label class="form-label" for="MenuIdOfModule">@Language.GetString("Menu_MenuIdOfModule")</label>
                            <select id="MenuIdOfModule" class="form-control selectpicker" name="MenuIdOfModule" data-live-search="true">
                            </select>
                            <span class="field-validation-error" data-val-result="MenuIdOfModule"></span>
                        </div>
                        <div id="parentMenuSelect" class="form-group col-md-4 col-lg-3" style="display: none;">
                            <label class="form-label" for="ParentMenuId">@Language.GetString("Menu_ParentMenuId")</label>
                            <select id="ParentMenuId" class="form-control selectpicker" name="ParentMenuId" data-live-search="true">
                            </select>
                            <span class="field-validation-error" data-val-result="ParentMenuId"></span>
                        </div>
                        <div id="icon" class="form-group col-md-4 col-lg-3" style="display: none;">
                            <label class="form-label" for="Icon">@Language.GetString("Menu_Icon")</label>
                            <input type="text" class="form-control" id="Icon" name="Icon" dir="ltr">
                            <span class="field-validation-error" data-val-result="Icon"></span>
                        </div>
                        <div id="priority" class="form-group col-md-4 col-lg-3" style="display: none;">
                            <label class="form-label" for="Priority">@Language.GetString("Menu_Priority")</label>
                            <input type="number" class="form-control" id="Priority" name="Priority" dir="ltr" value="1" min="1">
                            <span class="field-validation-error" data-val-result="Priority"></span>
                        </div>
                       
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-xs bg-gradient">
                <i class="fa fa-check" aria-hidden="true"></i>@Language.GetString("btn_Add")
            </button>
        </form>*@
    </div>
</div>