@model Arad.Portal.DataLayer.Models.Shared.PagedItems<Arad.Portal.DataLayer.Models.SlideModule.SlidesListGridView>
@{
    Layout = null;
}

@{
    <div id="page-data" data-current="@Model.CurrentPage" data-total="@Model.ItemsCount" data-size="@Model.PageSize">
        @{
            if (Model.Items.Count() != 0)
            {
                int i = (Model.CurrentPage - 1) * Model.PageSize;

                @foreach (var item in Model.Items)
                {
                    <div class="table-row">
                        <div class="card-table">
                            <div class="row m-0">
                                <div class="table-col col-xs-12 col-md-1 d-none d-lg-block">
                                    <span>@(++i)</span>
                                </div>
                                <div class="table-col col-xs-12 col-lg-1">
                                    <span class="mo-title">تصویر:</span>
                                    <span>
                                        <img src="@item.ImageUrl" style="width: 50px; height: 50px;" />
                                    </span>
                                </div>
                                <div class="table-col col-xs-12 col-lg-2">
                                    <span class="mo-title">عنوان:</span>
                                    <span>@item.Title</span>
                                </div>
                                <div class="table-col col-xs-12 col-lg-1">
                                    <span class="mo-title">رنگ پس زمینه:</span>
                                    
                                    <span style="background-color: @item.ColoredBackground; width: 25px; height: 10px;"></span>
                                    
                                </div>
                                <div class="table-col col-xs-12 col-lg-1">
                                    <span class="mo-title"> لینک:</span>
                                    <span>@item.Link</span>
                                </div>
                                <div class="table-col col-xs-12 col-lg-1">
                                    <span class="mo-title">تاریخ انتشار:</span>
                                    <span>@item.StartDate</span>
                                </div>
                                <div class="table-col col-xs-12 col-lg-1">
                                    <span class="mo-title"> تاریخ انقضا:</span>
                                    <span>@item.ExpireDate</span>
                                </div>
                                <div class="table-col col-xs-12 col-lg-1">
                                    <label class="switch">
                                      
                                        <input type="checkbox" class="checkbox" id="active" checked="@item.IsActive" data-id="@item.Id" value="@item.IsActive">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                                <div class="table-col col-xs-12 col-lg-3">
                                    <div class="">
                                        <a class="btn btn-outline-secondary btn-xs" asp-action="Layers" asp-controller="Slider" asp-area="Admin" asp-route-sliderId="@ViewBag.SliderId" asp-route-slideId="@item.Id">
                                             لایه ها   
                                        </a>
                                       

                                        <a id="editRecord" data-id="@item.Id" class="btn btn-outline-primary btn-xs">
                                            جزییات
                                        </a>

                                       
                                        <button id="deleteRecord" data-id="@item.Id" href="#" data-toggle="modal" type="button" class="btn btn-outline-danger btn-xs">
                                            حذف
                                        </button>
                                       
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            }
            else
            {
                <div class="empty text-center">اطلاعاتی برای نمایش وجود ندارد.</div>
            }
        }
    </div>
}