@model Arad.Portal.DataLayer.Models.Shared.PagedItems<Arad.Portal.DataLayer.Models.SlideModule.SlidesListGridView>
@{
    Layout = null;
}

@{
    //<div id="page-data" data-current="@Model.CurrentPage" data-total="@Model.ItemsCount" data-size="@Model.PageSize">
      
            if (Model.Items.Count() != 0)
            {
                int i = (Model.CurrentPage - 1) * Model.PageSize;

                @foreach (var item in Model.Items)
                {
                     var img = $"<img class='smlImg' src='{$"../../filemanager/getscaledimageOnWidth?path={item.ImageUrl}&width={50}"}'>";
                    <tr class="page-data" data-current="@Model.CurrentPage" data-total="@Model.ItemsCount" data-size="@Model.PageSize">
                    <td class="ListCell">@(++i)</td>
                    <td class="ListCell">@Html.Raw(img)</td>
                    <td class="ListCell">@item.Title</td>
                    <td class="ListCell">
                         <label style="background-color: @item.ColoredBackground; width: 25px; height: 15px;"></label>
                    </td>
                    <td class="ListCell">@item.Link</td>
                    <td class="ListCell">@(@CultureInfo.CurrentCulture.Name == "fa-IR" ? @item.PersianStartDate : @item.StartDate)</td>
                    <td class="ListCell">@(@CultureInfo.CurrentCulture.Name == "fa-IR" ? @item.PersianExpireDate : @item.ExpireDate)</td>
                    <td class="ListCell">
                        @{
                            if (item.IsActive)
                            {
                                <button onclick='changeActivation("@item.Id")' class="btn-sm btn btn-success bg-gradient">@Language.GetString("Active")</button>
                            }
                            else
                            {
                                <button onclick='changeActivation("@item.Id")' class="btn-sm btn btn-danger bg-gradient">@Language.GetString("InActive")</button>
                            }
                        }
                    </td>
                    <td class="ListCell">
                        <a class="btn btn-outline-secondary btn-xs" asp-action="Layers" asp-controller="Slider"  asp-route-sliderId="@ViewBag.SliderId" asp-route-slideId="@item.Id">
                        @Language.GetString("design_Layers")  
                    </a>
                                       

                    <a id="editRecord" data-id="@item.Id" class="btn btn-outline-primary btn-xs">
                        @Language.GetString("btn_Detail")
                    </a>

                                       
                    <button  data-id="@item.Id"  type="button" onclick="SlideDelete(this, '@item.Id')" class="deleteRecord btn btn-outline-danger btn-xs">
                        @Language.GetString("btn_Delete")
                    </button>
                    </td>
                    </tr>
                   
                }
            }
            else
            {
                <tr ><td colspan="9" class="text-center"><h6>@Language.GetString("AlertAndMessage_NoDataToShow").</h6></td></tr>
            }
        
    //</div>
}