@model Arad.Portal.DataLayer.Models.Shared.CommonViewModel
@using Arad.Portal.DataLayer.Models.Shared;
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dir = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        dir = "rtl";
    }
    else
    {
        dir = "ltr";
    }
}

@section Styles{
    @*<link href="~/lib/Swiper/swiper-bundle.min.css" rel="stylesheet" />*@

}

@section Scripts{
    @*<script src="~/lib/Swiper/swiper-bundle.min.js"></script>*@

        }
<div class="row">
    @foreach (var item in Model.Groups)
    {
    <div class="col col-md-4">

        @*<img class="rounded-circle" src='@Url.Content(item.GroupImage.Url)' />

        <h3>@(item.MultiLingualProperties.First(_=>_.LanguageId == ViewBag.CurLangId).Name)</h3>*@

        <div class="card" style="width: 18rem;">
            <img class="card-img-top rounded-circle" @*src="@Url.Content(item.GroupImage.Url)"*@ src ="https://www.w3schools.com/bootstrap4/cinqueterre.jpg" alt="@item.GroupImage.Title">
            <div class="card-body">
                <a href="/group/@item.GroupCode" class="btn btn-primary">
                    <h5 class="card-title">@(item.MultiLingualProperties.First(_=>_.LanguageId == ViewBag.CurLangId).Name)</h5>
                </a>
            </div>
        </div>

    </div>
    }
</div>