<!DOCTYPE html>
@using System.Globalization;
@using Arad.Portal.GeneralLibrary.Utilities;
@{
    var direction = "";
    var bodyClass = "";
    var ulNavbarLinkClass = "";
    var bellCls = "";
    var faCls = "";
    var floatlr = "";
    var chevron = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        direction = "rtl";
        ViewBag.dir = "rtl";
        bodyClass = "hold-transition sidebar-mini";
        ulNavbarLinkClass = "navbar-nav mr-auto";
        floatlr = "float-sm-left";
        bellCls = "fa fa-bell-o";
        faCls = "fa";
        chevron = "fa fa-chevron-left";

    }
    else
    {
        direction = "ltr";
        ViewBag.dir = "ltr";
        bodyClass = "hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed";
        ulNavbarLinkClass = "navbar-nav ml-auto";
        floatlr = "float-sm-right";
        bellCls = "far fa-bell";
        faCls = "fas";
        chevron = "fa fa-chevron-right";
    }

}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Arad.Portal.UI.Shop</title>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    @if (direction == "rtl")
    {
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    }
    else

    {
        <link href="~/css/siteTemplate/rtl/bootstrap-rtl.min.css" rel="stylesheet" />
    }
    <link rel="stylesheet" href="~/css/Menu/Bootstrap4MegaMenu.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .lan {
            border: none;
            padding: 0.5rem 0.25rem;
        }

        .profile {
            border: none;
            padding: 0.5rem 1rem;
        }
    </style>
    @if (direction == "rtl")
    {
        <link href="~/fonts/IranSans/css/persianfonts.css" rel="stylesheet" />
        @*<link href="~/fonts/IranSans/css/style.css" rel="stylesheet" />*@
    }
    @RenderSection("Styles", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>


<body dir="@direction">
    <header>
        <div class="row">
            @*<div class="logo"></div>
                <div class="searchBar"></div>*@
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="offset-9"></div>
                <div class="col-md-1">
                    @*<div class="profile m-2">
                            <div class="row">
                                <div class="col-3">
                                    <a href="/account/login" title="@Language.GetString("btn_Login")">
                                        <i class="fas fa-sign-in-alt"></i>
                                    </a>
                                </div>
                                <div class="col-3">
                                    <a href="/account/register" title="@Language.GetString("btn_Register")" >
                                        <i class="fas fa-user-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>*@

                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item profile">
                            <a href="/account/login" title="@Language.GetString("btn_Login")">
                                <i class="fas fa-sign-in-alt"></i>
                            </a>
                        </li>
                        <li class="list-group-item profile">
                            <a href="/account/register" title="@Language.GetString("btn_Register")" @*data-toggle="tooltip" data-placement="bottom"*@>
                                <i class="fas fa-user-plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="offset-8"></div>
                <div class="col-md-2">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item profile">
                            <a href="/account/Profile" title="@Language.GetString("User_Profile")">
                                <i class="far fa-user"></i>
                            </a>
                        </li>
                        <li class="list-group-item profile">
                            <a href="/bascket/userbascket" title="@Language.GetString("ShoppintCart")">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            }
            <div class="col-md-2  language">
                <ul class="langUl list-group list-group-horizontal">
                    <li class="list-group-item lan">
                        <a title="@Language.GetString("Persian")">
                            <img src="~/imgs/IRAN.png" onclick="setLang('fa-IR')" />
                        </a>

                    </li>
                    <li class="list-group-item lan">
                        <a title="@Language.GetString("English")">
                            <img src="~/imgs/USA.png" onclick="setLang('en-US')" />
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="navbarMenu">
        @await Component.InvokeAsync("StoreMenu")
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        //$(document).ready(function () {
        //    $('[data-toggle="tooltip"]').tooltip();
        //});
    function setLang(lang)
    {
        debugger;
        var currentCulture = '@CultureInfo.CurrentCulture.Name';
        if (currentCulture !== lang) {
            $.ajax({
                type: "GET",
                url: '/Account/changeLang?langId=' + lang,
                success: function () {
                    debugger;
                    window.location.reload();
                }
            });
        }
    }
    </script>
</body>
</html>
