<!DOCTYPE html>
@using System.Globalization;
@using Arad.Portal.GeneralLibrary.Utilities;
@{
    var direction = "";
    var langList = new List<string>() { "fa", "en" };
    string lang = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        direction = "rtl";
        ViewBag.dir = "rtl";
    }
    else
    {
        direction = "ltr";
        ViewBag.dir = "ltr";
    }
    switch (CultureInfo.CurrentCulture.Name)
    {
        case "fa-IR":
            lang = "fa";
            break;
        case "en-US":
            lang = "en";
            break;
    }

}
<html dir="@direction" lang="@lang">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Arad Portal" name="description">
    <title>@ViewData["Title"] - Arad.Portal.UI.Shop</title>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    @if (direction == "ltr")
    {
        <link href="~/lib/bootstrap5/css/bootstrap.min.css" rel="stylesheet" />
        
    }
    else
    {
       
        <link href="~/lib/bootstrap5/css/bootstrap.rtl.min.css" rel="stylesheet" />
        <link href="~/Fonts/IranSans/css/fontiran.css" rel="stylesheet" />
    }
    <link rel="stylesheet" href="~/css/Menu/Bootstrap4MegaMenu.css" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <style>
        .lan {
            padding: 1rem 0.25rem;
        }

        .profile {
            padding: 1rem 0.5rem;
        }

        .notifyBadge {
            border: 1px solid rgba(0, 0, 0, 0.1);
            background-color: transparent;
            color: black;
        }
        .dropdown-menu {
            padding-right: @(ViewBag.dir == "rtl" ? "1.5rem" : "0") !important;
            padding-left: @(ViewBag.dir == "ltr" ? "1.5rem" : "0") !important;
        }
        .userPart i{
           /* font-size : larger;*/
            color : black;
        }
    </style>
    @await RenderSectionAsync("Styles", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap-select/js/i18n/defaults-@(CultureInfo.CurrentCulture.Name.Replace('-', '_')).js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</head>


<body>
    <div id="loading" class="text-center">
        <div class="spinner-border text-danger" style="width: 4rem; height: 4rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <header>
        <div class="row">
             <div class="col-4 col-md-2 col-lg-1">
                 <div class="m-1 ms-4">
                    <ul class="langUl list-group list-group-horizontal">
                        <li class="list-group-item lan border-0 pt-2">
                            <a title="@Language.GetString("Persian")" role="button"  data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <img src="~/imgs/IRAN.png" onclick="setLang('fa-IR')" />
                            </a>

                        </li>
                        <li class="list-group-item lan border-0 pt-2">
                            <a title="@Language.GetString("English")" role="button"  data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <img src="~/imgs/USA.png" onclick="setLang('en-US')" />
                            </a>

                        </li>
                    </ul>   
                </div>
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="offset-4 col-4 offset-md-8 col-md-2 offset-lg-9 col-lg-2">
                    <div class="rounded border-0 float-end mt-2 me-4">
                    <ul class="list-group list-group-horizontal userPart">
                        <li class="list-group-item ps-3 pe-2 border-0 bg-secondary bg-opacity-10">
                            <a href="/account/login" title="@Language.GetString("btn_Login")" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <i class="fas fa-sign-in-alt"></i>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pb-0 bg-secondary bg-opacity-10">
                            <div class="vr" style="min-height:1.5em;"></div>
                        </li>
                        <li class="list-group-item ps-2 pe-3 border-0 bg-secondary bg-opacity-10">
                           
                            <a href="/account/register" title="@Language.GetString("btn_Register")" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <i class="fas fa-user-plus"></i>
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
            }
            else
            {
                <div class="offset-4 col-4 offset-md-8 col-md-2 offset-lg-10 col-lg-1">
                    <div class="rounded border-0 float-end mt-2 me-4">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item profile">
                            <a href="/account/Profile" id="userProfileId" role="button" title="@Language.GetString("User_Profile")" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <i class="far fa-user"></i>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pb-0 bg-secondary bg-opacity-10">
                            <div class="vr" style="min-height:1.5em;"></div>
                        </li>
                        <li class="list-group-item profile">
                            <a href="/basket/get" id="userBasketId" role="button" title="@Language.GetString("ShoppingCart")" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="badge notifyBadge"></span>
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>

            }

           

        </div>
    </header>
    <div class="navbarMenu">
        @await Component.InvokeAsync("StoreMenu")
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
  
    <script>
    function setLang(lang)
    {
        debugger;
        var currentCulture = '@CultureInfo.CurrentCulture.Name';
        if (currentCulture !== lang) {
            $.ajax({
                type: "GET",
                url: '/Account/changeLang?langId=' + lang,
                success: function () {
                    debugger;
                    window.location.reload();
                }
            });
        }
    }
    function setProductCountInCart(number) {
       $("#userBasketId .notifyBadge").html(number);
    }

    function changeScreen() {
        var windowSize = $(window).width();
        console.log(windowSize);
        if (windowSize <= 974) {
            $(".nascr").removeClass("d-none").addClass("d-block");
            $(".wiscr").removeClass("d-block").addClass("d-none");
        } else {
            $(".nascr").removeClass("d-block").addClass("d-none");
            $(".wiscr").removeClass("d-none").addClass("d-block");
        }
    }
        $(document).ready(function () {
            changeScreen();
            $(window).resize(changeScreen);

            $(".menu-area").mouseover(function () {
                    var windowSize = $(window).width();
                    if (windowSize > 975) {
                        $(this).addClass("show");
                        $(this).find(".dropdown-toggle").addClass("text-primary");
                        $(this).find(".mega-area").addClass("show");
                    }
            });

            $(".menu-area").mouseleave(function () {
                var windowSize = $(window).width();
                if (windowSize > 975) {
                    $(this).removeClass("show");
                    $(this).find(".dropdown-toggle").removeClass("text-primary");
                    $(this).find(".mega-area").removeClass("show");
                }
            });

            $(".nav-item .nav-link").mouseover(function () {
                    $(this).addClass("text-primary");
            });
            $(".nav-item .nav-link").mouseleave(function () {
                    $(this).removeClass("text-primary");
            });

            $(".custmDrp").click(function () {
                debugger;
                var item = $(this).parent().parent().siblings(".mega-area")
                if (item.hasClass("show")) {
                    item.removeClass("show");
                } else {
                    item.addClass("show");  
                }
            })
        });
    </script>
</body>
</html>

