@using System.Drawing.Text
@using Microsoft.AspNetCore.Html

@{
    Layout = null;
}
@inject Arad.Portal.UI.Shop.Helpers.LayoutContentProcess process

<div class="top-nav">
    <div class="row gx-0">
        <div class="col-4 offset-1 offset-md-1 col-md-2 offset-lg-1 col-lg-1 ">
            @{
                if (process.LayoutModel.IsMultiLingual)
                {
                    <div class="ms-2">
                        <ul class="langUl list-group list-group-horizontal">
                            <li class="list-group-item lan border-0 pt-2 px-1">
                                <a title="@Language.GetString("Persian")" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                    <img src="~/imgs/IRAN.png" onclick="setLang('fa-IR')" />
                                </a>

                            </li>
                            <li class="list-group-item lan border-0 pt-2 px-1">
                                <a title="@Language.GetString("English")" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                    <img src="~/imgs/USA.png" onclick="setLang('en-US')" />
                                </a>

                            </li>
                        </ul>
                    </div>
                }
            }

        </div>
        <div class="offset-2 col-4 offset-md-3 col-md-3 offset-lg-7 col-lg-2">
            <div class="account-wrapper pt-2">
                <ul>
                    @{
                        if (process.LayoutModel.IsShop)
                        {
                            <li class="shopping_cart home_cart">
                                <a asp-action="Get" asp-controller="Basket" asp-area="" title="" class="r-cart">

                                    <span class="head-shoppings">
                                        <i class="fa fa-shopping-basket shopping-basket"></i>
                                        <span class="display-none count-basket" data-count="0">@($"{@ViewBag.BasketCount?? 0} {@Language.GetString("Stuff")}") </span>
                                    </span>
                                </a>
                            </li>
                        }

                    }

                    <li class="login">
                        @{

                            @if (!@User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Account" asp-action="Login" asp-area="" class="openLoginModal">
                                    <span class="title">
                                        <i class="fa fa-user"></i>
                                        <span class="display-none ">@Language.GetString("User_LoginRegister")</span>

                                    </span>
                                </a>
                            }
                            else
                            {
                                <div class="dropdown" id="myUserProfile">
                                    <a class="openLoginModal btn dropdown-toggle" role="button" id="drpUserProfile" placement="bottom right" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="title">
                                            <i class="fa fa-user"></i>
                                            <span class="display-none">@User.Identity.Name</span>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="drpUserProfile">
                                        <li>

                                            <a asp-controller="Home" asp-action="Index">@Language.GetString("User_ManagementPanel")</a>

                                        </li>
                                        <li>

                                            <a asp-controller="Account" asp-action="Profile">@Language.GetString("Menu_Profile")</a>

                                        </li>
                                        @{
                                           @if (process.LayoutModel.IsShop)
                                            {
                                                <li> 
                                                     <a asp-controller="Payment" asp-action="ListPayments">@Language.GetString("Menu_MyOrders")</a>
                                                </li>
                                            }
                                        }
                                        <li>
                                            <a asp-controller="Account" asp-action="Logout">@Language.GetString("Exit")</a>
                                        </li>
                                    </ul>
                                </div>

                            }
                        }
                    </li>

                </ul>

            </div>
        </div>
    </div>

</div>

