<div class="row par mx-2" id="templateSection">
     <label class="form-label" >@Language.GetString("ViewTemplate")</label><br/>
    @foreach(SelectImageListModel option in ViewBag.ContentTemplateList)
    {
        <div class="col-12 @(@ViewBag.ColCnt == 1 || @ViewBag.ColCnt == 2 ? "col-md-3" : "")">
            <input class="form-check-input" name="rdbContentTemplateList" type="radio" value="@(option.Text)" /><br/>
            <img class="img-fluid m-2" src="@($"../filemanager/GetScaledImageOnWidth?path={option.ImageUrl}&width=180")" />
        </div>
    }
</div>
<div class="row mx-2">
    <div class="col-12">
          <label class="form-label" >@Language.GetString("Type")</label><br/>
          <select class="form-control selectpicker par typeList" data-live-search="true" id="typeList"  asp-items ="@(new SelectList(ViewBag.ProductOrContentTypeList,"Value","Text"))" >
          </select>
    </div>
    <div class="col-12 countSection d-none" >
          <label class="form-label" >@Language.GetString("CountToShow")</label><br/>
          <input type="number" id="countToShow" class="form-control par" value="" />
    </div>
    <div class="col-12">
        <button id="btnAddModuleWithParameters" onclick="addModulesWithParams(this);"
        class="btn btn-success bg-gradient btn-sm float-end m-1" type="button">@Language.GetString("btn_Add")</button>
    </div>
    
</div>


<script>
    $(document).ready(function(){
        //var cnt ="";
        $("input[name='rdbContentTemplateList']").change(function () {
             var selectedRadio = $("input[name='rdbContentTemplateList']:checked").val();
             
             switch(selectedRadio)
             {
                 case "First":
                 $(".countSection").removeClass("d-block").addClass("d-none");
                 //cnt = 6;
                 break;
                 case "Second":
                  $(".countSection").removeClass("d-block").addClass("d-none");
                 //cnt = 4;
                 break;
                 case "Third":
                  $(".countSection").removeClass("d-block").addClass("d-none");
                 //cnt = 8;
                 break;
                 case "Forth":
                 case "Fifth":
                 if($(".countSection").hasClass("d-none"))
                 {
                     $(".countSection")
                     .removeClass("d-none").addClass("d-block");
                 }
                 break;
             }

        });
    });
</script>