@using Arad.Portal.DataLayer.Entities.General.SliderModule;
@using Arad.Portal.DataLayer.Models.DesignStructure;
<div class="row par mx-2" parid="templateSection">
     <label class="form-label" >@Language.GetString("ViewTemplate")</label><br/>
    @foreach(SelectImageListModel option in ViewBag.ContentTemplateList)
    {
        <div class="col-12 @(@ViewBag.ColCnt == 1 || @ViewBag.ColCnt == 2 ? "col-md-3" : "")">
            <input class="form-check-input" name="rdbContentTemplateList" type="radio" value="@(option.Text)" cn="@ViewBag.ColNumber" rn="@ViewBag.RowNumber" sec="@ViewBag.Section" /><br/>
            <img class="img-fluid m-2" src="@($"../filemanager/GetScaledImageOnWidth?path={option.ImageUrl}&width=180")" />
        </div>
    }
</div>
<div class="row mx-2">
    <div class="col-12">
          <label class="form-label" >@Language.GetString("Type")</label><br/>
          <select class="form-control selectpicker par typeList" cn="@ViewBag.ColNumber" rn="@ViewBag.RowNumber" sec="@ViewBag.Section" data-live-search="true" parid="typeList"  asp-items ="@(new SelectList(ViewBag.ProductOrContentTypeList,"Value","Text"))" >
          </select>
    </div>
    <div class="col-12 countSection d-none" cn="@ViewBag.ColNumber" rn="@ViewBag.RowNumber" sec="@ViewBag.Section" >
          <label class="form-label" >@Language.GetString("CountToShow")</label><br/>
          <input type="number" parid="countToShow" class="form-control par" value="" cn="@ViewBag.ColNumber" rn="@ViewBag.RowNumber" sec="@ViewBag.Section" />
    </div>
    <div class="col-12 text-center loadAnimate">
        <label class="form-label" for="loadAnimation">@Language.GetString("design_loadAnimation")</label>
        <select parid="loadAnimation" class="form-control selectpicker mt-2 par" cn="@ViewBag.ColNumber" rn="@ViewBag.RowNumber" sec="@ViewBag.Section" asp-items="Html.GetEnumSelectList<TransActionType>()"></select>
        <span class="field-validation-error" data-val-result="LoadAnimation"></span>
    </div>
     <div class="col-12 text-center loadAnimationType">
          <label class="form-label" for="loadAnimationType">@Language.GetString("design_loadAnimationType")</label>
           <select parid="loadAnimationType" class="form-control selectpicker mt-2 par" cn="@ViewBag.ColNumber" rn="@ViewBag.RowNumber" sec="@ViewBag.Section" asp-items="Html.GetEnumSelectList<LoadAnimationType>()"></select>
        <span class="field-validation-error" data-val-result="LoadAnimation"></span>
     </div>
    <div class="col-12">
        <button btnid="btnAddModuleWithParameters" onclick="addModulesWithParams(this);" cn="@ViewBag.ColNumber" rn="@ViewBag.RowNumber" sec="@ViewBag.Section"
        class="btn btn-success bg-gradient btn-sm float-end m-1" type="button">@Language.GetString("btn_Add")</button>
    </div>
    
</div>


<script>
    $(document).ready(function(){
        //var cnt ="";
        $("[parid='typeList'][cn='@ViewBag.ColNumber'][rn='@ViewBag.RowNumber'][sec='@ViewBag.Section']").selectpicker();
        $("[parid='loadAnimation'][cn='@ViewBag.ColNumber'][rn='@ViewBag.RowNumber'][sec='@ViewBag.Section']").selectpicker();
        $("[parid='loadAnimationType'][cn='@ViewBag.ColNumber'][rn='@ViewBag.RowNumber'][sec='@ViewBag.Section']").selectpicker();

        $("input[name='rdbContentTemplateList'][cn='@ViewBag.ColNumber'][rn='@ViewBag.RowNumber'][sec='@ViewBag.Section']").change(function () {
             var selectedRadio = $("input[name='rdbContentTemplateList'][cn='@ViewBag.ColNumber'][rn='@ViewBag.RowNumber'][sec='@ViewBag.Section']:checked").val();
             
             switch(selectedRadio)
             {
                 case "First":
                 $(".countSection[cn='@ViewBag.ColNumber'][rn='@ViewBag.RowNumber'][sec='@ViewBag.Section']").removeClass("d-block").addClass("d-none");
                 //cnt = 6;
                 break;
                 case "Second":
                  $(".countSection[cn='@ViewBag.ColNumber'][rn='@ViewBag.RowNumber'][sec='@ViewBag.Section']").removeClass("d-block").addClass("d-none");
                 //cnt = 4;
                 break;
                 case "Third":
                  $(".countSection[cn='@ViewBag.ColNumber'][rn='@ViewBag.RowNumber'][sec='@ViewBag.Section']").removeClass("d-block").addClass("d-none");
                 //cnt = 8;
                 break;
                 case "Forth":
                 case "Fifth":
                 if($(".countSection[cn='@ViewBag.ColNumber'][rn='@ViewBag.RowNumber'][sec='@ViewBag.Section']").hasClass("d-none"))
                 {
                     $(".countSection[cn='@ViewBag.ColNumber'][rn='@ViewBag.RowNumber'][sec='@ViewBag.Section']") .removeClass("d-none").addClass("d-block");
                 }
                 break;
             }

        });
    });
</script>