<div class="row">
    <div class="col-12">
         <label class="form-label">@Language.GetString("Template_ContentType")</label>
        <br />
        <select class="form-control selectpicker drpContentType" onchange="selectDrpContentType(this);"  data-live-search="true">
            <option value="1">@Language.GetString("Template_SystemModules")</option>
            <option value="2">@Language.GetString("Template_Editor")</option>
        </select>
    </div>
</div>
<div class="row parent" data-tag="@ViewBag.UniqueCounter">
    <div class="col-12 modulePart d-none">
         <select class="form-control selectpicker moduleList" data-live-search="true" asp-items="@(new SelectList(ViewBag.ModuleList,"Value","Text"))">
         </select>
         <br />
        <div class="d-flex justify-content-end">
            <button  class="btn btn-success bg-gradient btn-sm float-end btnAddModule m-1" 
            type="button">@Language.GetString("btn_Select")</button>
        </div>
        <br/>
        <div class="paramsDiv" data-tag="@ViewBag.UniqueCounter"></div>
    </div>
    <div class="col-12 editorPart d-none" >

    </div>
</div>

<script>
    $(document).ready(function(){
          $(".moduleList").selectpicker();

        $("#btnAddModule").click(function(){
            var parentDiv = $(this).closest(".parent");
             var selectedModuleName = $(parentDiv).find(".moduleList").find("option:selected").text();
            var selectedModuleId = $(parentDiv).find(".moduleList").find("option:selected").val();
            var targetDiv = $(parentDiv).find(".paramsDiv");
            $.ajax({
                 url:"@Url.Action("GetSpecificModule","Domain")"+"?moduleName="+selectedModuleName+"&id="+'@ViewBag.DomainId',
                 type:'Get',
                 statusCode:{
                     200:function(data){
                         debugger;
                         var paramDiv="#"+targetDiv
                          $(paramDiv).html(data);
                     }
                 }
               });
        });
    });
    function selectDrpContentType(sender)
    {
        var val = $(".drpContentType").val();
        switch(val)
        {
            case "1":
            break;
            case "2":
            break;
        }
    }
    function addModulesWithParams(sender)
   {
       debugger;
        var selectedTemplate ="";
              var selectedType ="";
              var count = null;
              debugger;
             
              var targetParamsDiv = $(sender).closest(".paramDiv");
              var targetDivId ="";
              if(targetParamsDiv != undefined)
              {
                  var templatePart = $(sender).closest(".templatePart");
                  var 
              obj = {};
              obj.ParamsValue = {};
              obj.ModuleId = $(templatePart).find(".moduleList option:selected").val();
               var selectedModuleName = $(templatePart).find(".moduleList option:selected").text();
              var section = templatePart;
              if(section.hasClass("firstHeaderTemplate"))
              {
                  obj.Place ="[0]";
                  targetDivId = "firstDiv";
              }
              else if(section.hasClass("middleHeaderTemplate"))
              {
                   obj.Place ="[1]";
                    targetDivId = "middleDiv";
              }
              else if(section.hasClass("LastHeaderTemplate"))
              {
                   obj.Place ="[2]";
                    targetDivId = "lastDiv";
              }
            
              $(targetParamsDiv).find(".par").each(function(){
                 var id = $(this).attr("id");
                
                 switch(selectedModuleName)
                 {
                   
                      case "ProductList":
                       switch(id)
                       {
                          
                           case "templateSection":
                           selectedTemplate = $("input[name='rdbProductTemplateList']:checked").val();
                           break;
                           case "typeList":
                           selectedType = $(`#${id}`).val();
                           break;
                           case "countToShow":
                           count = $(`#${id}`).val();
                           break;
                       }
                      break;
                      case "ContentList":
                      switch(id)
                       {
                           case "templateSection":
                            selectedTemplate = $("input[name='rdbContentTemplateList']:checked").val();
                            switch(selectedTemplate)
                            {
                                case "First":
                                count = 6;
                                break;
                                case "Second":
                                count = 4;
                                break;
                                case "Third":
                                count = 8;
                                break;
                            }
                           break;
                           case "typeList":
                            selectedType = $(`#${id}`).val();
                           break;
                           case "countToShow":
                             selectedType = $(`#${id}`).val();
                           break;
                       }
                      break;
                 }
             });
             var url = "";
             if(selectedModuleName.toLowerCase() =="productlist")
             {
                 url = "@Url.Action("GetProductModuleViewComponent", "Domain")"+"?productType="+ selectedType +"&selectionTemplate="+selectedTemplate+"&count="+ count;
                 obj.ParamsValue.Count = count;
                 obj.ParamsValue.ProductOrContentType = selectedType;
                 obj.ParamsValue.ProductTemplateDesign = selectedTemplate;
             }
             else if(selectedModuleName.toLowerCase() == "contentlist")
             {
                 url = "@Url.Action("GetContentModuleViewComponent", "Domain")"+"?contentType="+ selectedType +"&selectionTemplate="+selectedTemplate+"&count="+ count;
                 obj.ParamsValue.Count = count;
                 obj.ParamsValue.ProductOrContentType = selectedType;
                 obj.ParamsValue.ContentTemplateDesign = selectedTemplate;
             }
             moduleParams.push(obj);
              $.ajax({
                    type: "Get",
                    dataType: "html",
                    url: url,
                    success: function (result) {
                        if (result != "") {
                            $(`#${targetDivId}`).append(result);
                        }
                    },
                });
              }
   }
</script>