@model Arad.Portal.DataLayer.Models.DesignStructure.ColContent
@{
    var lan = "";
    if (CultureInfo.CurrentCulture.Name == "fa-IR")
    {
        lan = "fa";
    }
    else
    {
        lan = "en";
    }

}

<div class="row justify-content-center">
    <div class="offset-8 col-4 offset-md-10 col-md-2">
        <button class='btn btn-sm m-2 pt-2 btn-primary columnStyles float-end' data-bs-toggle="tooltip" data-bs-placement="top" title="@Language.GetString("design_ColumnStyles")" sec="@Model.Section" cn="@Model.ColNumber" guid="@Model.RowGuid" rn="@ViewBag.RowNumber"><i class='fs-6 fa fa-cog'></i></button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <label class="form-label">@Language.GetString("Template_ContentType")</label>
        <br />
        <select class="form-control selectpicker drpContentType" onchange="selectDrpContentType(this);" cn="@Model.ColNumber" rn="@ViewBag.RowNumber" sec="@Model.Section" data-live-search="true">
            <option value="0">@Language.GetString("AlertAndMessage_Choose")</option>
            <option value="1">@Language.GetString("Template_SystemModules")</option>
            <option value="2">@Language.GetString("Template_Editor")</option>
        </select>
    </div>
</div>

<div class="row parent" cn="@Model.ColNumber" rn="@ViewBag.RowNumber" sec="@Model.Section" style="min-height:300px;">
    <div class="col-12 modulePart d-none">
        <select class="form-control selectpicker moduleList" data-live-search="true" asp-items="@(new SelectList(ViewBag.ModuleList,"Value","Text"))">
        </select>
        <br />
        <div class="d-flex justify-content-end">
            <button class="btn btn-success bg-gradient btn-sm float-end btnAddModule m-1" onclick="addModule(this);" cn="@Model.ColNumber" rn="@ViewBag.RowNumber" sec="@Model.Section"
                    type="button">
                @Language.GetString("btn_Select")
            </button>
        </div>
        <br />
        <div class="paramsDiv" cn="@Model.ColNumber" rn="@ViewBag.RowNumber" sec="@Model.Section"></div>
    </div>
    <div class="col-12 editorPart d-none">
        <textarea id='@($"editor_{Model.ColNumber}_{ViewBag.RowNumber}")' name='@($"editor_{Model.ColNumber}_{ViewBag.RowNumber}")' class="form-control" rows="40"></textarea>
        <script>

            editorId = `editor_${'@Model.ColNumber'}_${'@ViewBag.RowNumber'}`;
            var config =
                     {
                     height: 300,
                     filebrowserUploadUrl: '/Image/DomainImageUpload',
                     // filebrowserBrowseUrl: '/Image/ContentFileBrows',
                     language: '@lan',
                     scayt_sLang: '@lan',
                     allowedContent: true,
                     toolbarGroups: [
                         { name: 'clipboard', groups: ['clipboard', 'undo'] },
                         { name: 'editing', groups: ['find', 'selection', 'spellchecker'] },
                         { name: 'links' },
                         { name: 'insert' },
                         { name: 'forms' },
                         { name: 'tools' },
                         { name: 'document', groups: ['mode', 'document', 'doctools'] },
                         { name: 'others' },
                         '/',
                         { name: 'basicstyles', groups: ['basicstyles', 'cleanup'] },
                         { name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi'] },
                         { name: 'styles' },
                         { name: 'colors' },
                         { name: 'about' }
                     ]
                 };
             config.font_names =
                 'Arial/Arial, Helvetica, sans-serif;' +
                 'Times New Roman/Times New Roman, Times, serif;' +
                 'Verdana;' +
                 'IRANSansWeb;' +
                 'WeblogmaYekan;' +
                 'Vazir;' +
                 'Shabnam';

             config.extraPlugins = '';

             //var editor = document.getElementById("editorCk");
             CKEDITOR.replace(editorId, config);
             CKEDITOR.dtd.$removeEmpty['i'] = false;
             CKEDITOR.dtd.$removeEmpty['span'] = false;
        </script>

        <button class="btn btn-success bg-gradient btn-sm float-end btnHtmlSanitizer m-1" onclick="sinitize(this);" editorid='@($"editor_{Model.ColNumber}_{ViewBag.RowNumber}")' cn="@Model.ColNumber" rn="@ViewBag.RowNumber" sec="@Model.Section"
                type="button">
            @Language.GetString("btn_Validation")
        </button>
    </div>
    <div class="row finalColumnContent d-none" guid="@Model.RowGuid" cn="@Model.ColNumber" rn="@ViewBag.RowNumber" classNames="@Model.ColumnClassNames"></div>
    <div class="row htmlColumnContentPreview d-none mx-2" guid="@Model.RowGuid" cn="@Model.ColNumber" rn="@ViewBag.RowNumber" classNames="@Model.ColumnClassNames">
    </div>

    @*difference between these finalColumnContent and htmlColumnContentPreview is about modules the first one store with parameters and second one html of executed module will render *@
    @*difference between moduleDatePreview and htmlColumnContentPreview is if we have more than one module in a column then mouleDataPreview is for the last module to show but htmlColumnContentPreview is all data of this columns*@
    <div class="row moduleDataPreview d-none mx-2" guid="@Model.RowGuid" cn="@Model.ColNumber" rn="@ViewBag.RowNumber">
    </div>
</div>


//<script>

    //function doAnimations(elems) {
    //            var animEndEv = "webkitAnimationEnd animationend";

    //            elems.each(function () {
    //                var $this = $(this),
    //                    $animationType = $this.data("animation");
    //                $this.addClass($animationType).one(animEndEv, function () {
    //                    $this.removeClass($animationType);
    //                });
    //            });
    //        }
    
//</script>