<div class="row" div="templateSection">
     <label class="form-label" >@Language.GetString("ViewTemplate")</label><br/>
    @foreach(SelectImageListModel option in ViewBag.ProductTemplateList)
    {
        <div class="col-12 col-md-3">
            <input class="form-check-input" name="rdbProductTemplateList" type="checkbox" value="@(option.Value)" /><br/>
            <img class="img-fluid m-2" src="@($"../filemanager/GetScaledImageOnWidth?path={option.ImageUrl}&width=200")" />
        </div>
    }
</div>
<div class="row">
    <div class="col-12">
          <label class="form-label" >@Language.GetString("Type")</label><br/>
          <select class="form-control selectpicker" data-live-search="true" asp-items ="@(new SelectList(ViewBag.ProductOrContentTypeList,"Value","Text"))" >
          </select>
    </div>
    <div class="col-12 col-md-4 countSection d-none" >
          <label class="form-label" >@Language.GetString("CountToShow")</label><br/>
          <input type="number" id="countToShow" class="form-control" value="" />
    </div>
    
</div>

<script>
    $(document).ready(function(){
        $("input[name='rdbProductTemplateList']").change(function () {
             var selectedRadio = $("input[name='rdbProductTemplateList']:checked").val();
             var cnt ="";
             switch(selectedRadio)
             {
                 case "First":
                 if($(".countSection").hasClass("d-none"))
                 {
                     $(".countSection")
                     .removeClass("d-none").addClass("d-block");
                 }
                 break;
             }

        });
    });
    
     
</script>