@using Arad.Portal.DataLayer.Models.DesignStructure;
@model Arad.Portal.DataLayer.Models.DesignStructure.RowContent;
@{
    var section = "";
    if(@ViewBag.RowNumber.ToString().StartsWith("1"))
    {
        section = "headerSection";
    }else if(@ViewBag.RowNumber.ToString().StartsWith("2"))
    {
        section = "containerSection";
    }else if(@ViewBag.RowNumber.ToString().StartsWith("3"))
    {
        section = "footerSection";
    }
    var guid = @ViewBag.Guid;
    ColContent firstColContent = null;
    ColContent secondColContent = null;
    ColContent thirdColContent = null;
    ColContent forthColContent = null;
    ColContent fifthColContent = null;
    ColContent sixthColContent = null;
    if(Model != null)
    {
        firstColContent = Model.ColsContent.Count() > 0 ? Model.ColsContent.FirstOrDefault(_ => _.ColNumber == 1) : null;
        secondColContent = Model.ColsContent.Count() > 1 ? Model.ColsContent.FirstOrDefault(_ => _.ColNumber == 2) : null;
        thirdColContent = Model.ColsContent.Count() > 2 ? Model.ColsContent.FirstOrDefault(_ => _.ColNumber == 3) : null;
        forthColContent = Model.ColsContent.Count() > 3 ? Model.ColsContent.FirstOrDefault(_ => _.ColNumber == 4) : null;
        fifthColContent = Model.ColsContent.Count() > 4 ? Model.ColsContent.FirstOrDefault(_ => _.ColNumber == 5) : null;
        sixthColContent = Model.ColsContent.Count() > 5 ? Model.ColsContent.FirstOrDefault(_ => _.ColNumber == 6) : null;
        
    }
    var first = "";
    var second = "";
    var third = "";
    var forth = "";
    var fifth = "";
    var sixth = ""; 
    switch((Enums.SixColsTemplateWidth)@ViewBag.ColWidth)
    {
        case Enums.SixColsTemplateWidth.One_One_One_One_One_One :
            first = "col-6 col-md-2 border border-1";
            second = "col-6 col-md-2 border border-1";
            third = "col-6 col-md-2 border border-1";
            forth = "col-6 col-md-2 border border-1";
            fifth = "col-6 col-md-2 border border-1";
            sixth = "col-6 col-md-2 border border-1";
            break;
        case Enums.SixColsTemplateWidth.One_Three_Two_Two_Three_One :
            first = "col-3 col-md-1 border border-1";
            second = "col-9 col-md-3 border border-1";
            third = "col-6 col-md-2 border border-1";
            forth = "col-6 col-md-2 border border-1";
            fifth = "col-9 col-md-3 border border-1";
            sixth = "col-3 col-md-1 border border-1";
        break;
        case Enums.SixColsTemplateWidth.One_Two_Three_Three_Two_One :
            first = "col-4 col-md-1 border border-1";
            second = "col-8 col-md-2 border border-1";
            third = "col-12 col-md-3 border border-1";
            forth = "col-12 col-md-3 border border-1";
            fifth = "col-8 col-md-2 border border-1";
            sixth = "col-4 col-md-1 border border-1";
        break;
        case Enums.SixColsTemplateWidth.Three_Two_One_One_Two_Three :
            first = "col-12 col-md-3 border border-1";
            second = "col-8 col-md-2 border border-1";
            third = "col-4 col-md-1 border border-1";
            forth = "col-4 col-md-1 border border-1";
            fifth = "col-8 col-md-2 border border-1";
            sixth = "col-12 col-md-3 border border-1";
        break;
        case Enums.SixColsTemplateWidth.Two_One_Three_Three_One_Two :
            first = "col-8 col-md-2 border border-1";
            second = "col-4 col-md-1 border border-1";
            third = "col-12 col-md-3 border border-1";
            forth = "col-12 col-md-3 border border-1";
            fifth = "col-4 col-md-1 border border-1";
            sixth = "col-8 col-md-2 border border-1";
        break;
    }
}
<div class="row sectionRow mx-2" rn="@ViewBag.RowNumber" enumcolid="@ViewBag.ColWidth" rowCustomClasses="@(Model != null ? Model.ExtraClassNames : "")" guid="@guid">
    <div class="col-12 col-md-2 border border-1" colnum="1" did='@ViewBag.DomainId' cnt="6" colClassNames="@(firstColContent != null ? firstColContent.ColumnClassNames : "" )">
         <partial name="_InnerSection.cshtml" model='new ColContent(){ColNumber = 1, Section = section, ColumnClassNames = firstColContent != null ? firstColContent.ColumnClassNames : first.Replace("border-1", "").Replace("border", ""), RowGuid = guid , ColData = firstColContent != null ? firstColContent.ColData : ""}'/>
    </div>
     <div class="col-12 col-md-2 border" colnum="2" did='@ViewBag.DomainId' cnt="6" colClassNames="@(secondColContent != null ? secondColContent.ColumnClassNames : "")">
          <partial name="_InnerSection.cshtml" model='new ColContent(){ColNumber = 2, Section = section, ColumnClassNames = secondColContent != null ? secondColContent.ColumnClassNames : second.Replace("border-1", "").Replace("border", ""), RowGuid = guid , ColData = secondColContent != null ? secondColContent.ColData : ""}'/>
     </div>
      <div class="col-12 col-md-2 border" colnum="3" did='@ViewBag.DomainId' cnt="6" colClassNames="@(thirdColContent != null ? thirdColContent.ColumnClassNames : "")">
           <partial name="_InnerSection.cshtml" model='new ColContent(){ColNumber = 3, Section = section, ColumnClassNames = thirdColContent != null ? thirdColContent.ColumnClassNames : third.Replace("border-1", "").Replace("border", ""), RowGuid = guid, ColData = thirdColContent != null ? thirdColContent.ColData : "" }'/>
      </div>
       <div class="col-12 col-md-2 border" colnum="4" did='@ViewBag.DomainId' cnt="6" colClassNames="@(forthColContent != null ? forthColContent.ColumnClassNames : "")">
            <partial name="_InnerSection.cshtml" model='new ColContent(){ColNumber = 4, Section = section, ColumnClassNames = forthColContent != null ? forthColContent.ColumnClassNames : forth.Replace("border-1", "").Replace("border", ""), RowGuid = guid , ColData = forthColContent != null ? forthColContent.ColData : ""}'/>
       </div>
        <div class="col-12 col-md-2 border" colnum="5" did='@ViewBag.DomainId' cnt="6" colClassNames="@(fifthColContent != null ? fifthColContent.ColumnClassNames : "")">
             <partial name="_InnerSection.cshtml" model='new ColContent(){ColNumber = 5, Section = section, ColumnClassNames = fifthColContent != null ? fifthColContent.ColumnClassNames : fifth.Replace("border-1", "").Replace("border", ""), RowGuid = guid , ColData = fifthColContent != null? fifthColContent.ColData : ""}'/>
        </div>
         <div class="col-12 col-md-2 border" colnum="6" did='@ViewBag.DomainId' cnt="6" colClassNames="@(sixthColContent != null ? sixthColContent.ColumnClassNames : "")">
              <partial name="_InnerSection.cshtml" model='new ColContent(){ColNumber = 6, Section = section, ColumnClassNames = sixthColContent != null ? sixthColContent.ColumnClassNames : sixth.Replace("border-1", "").Replace("border", ""), RowGuid = guid, ColData = sixthColContent != null ? sixthColContent.ColData : "" }'/>
         </div>
</div>

