
<div class="row">
    <div class="col-12 col-md-1">
       <label class="form-label" for="TemplateId">@Language.GetString("PageTemplate")</label>
    </div>
     <div class="col-12 col-md-3">
       <select class="form-control selectpicker" data-live-search="true" id="templateList" asp-items="@(new SelectList(ViewBag.TemplateList,"Value","Text"))">
        </select>
    </div>
    <div class="col-12 col-md-1">
        <input type="button" id="btnSelect"  class="btn btn-success bg-gradient" value="@Language.GetString("btn_Select")" />
    </div>
</div>
<div class="row g-3">
    <div class="col-12 m-3 border border-secondary border-1 rounded" id="templateContent">

    </div>
</div>


<script>
    $(document).ready(function(){
       

        $("#btnSelect").click(function(){
            debugger;
             var templateName = $("#templateList").find("option:selected").text();

             $.ajax({
                 url:"@Url.Action("GetSpecificTemplateView","Domain")"+"?templateName="+templateName+"&id="+'@ViewBag.DomainId,
                 type:'Get',
                 statusCode:{
                     200:function(data){
                         debugger;
                          $("#templateContent").html(data);
                     }
                 }

             });
        });

    });
</script>