@using System.Web
@using Arad.Portal.GeneralLibrary.Utilities;
@using Arad.Portal.DataLayer.Models.Domain;
@using Arad.Portal.UI.Shop.Dashboard.ViewComponents;

@model PagedItems<DomainViewModel>
@{
    var i = ((Model.CurrentPage - 1) * Model.PageSize);
    bool isSearch = false;
    System.Collections.Specialized.NameValueCollection queryString = null;
    var langId = "";
    if (!string.IsNullOrWhiteSpace(Model.QueryString))
    {
        queryString = System.Web.HttpUtility.ParseQueryString(Model.QueryString);
        queryString.Remove("page");
    }
   if(langId == "")
    {
        langId = ViewBag.DefLangId;
    }
    var searchCollapseClass = isSearch ? "collapse show" : "collapse";
}


<!--<div class="card card-dark">
    <a data-toggle="collapse" data-parent="#accordion" href="#searchCollapse"
       aria-expanded="@(!isSearch ? "false" : "true" )" class="@(!isSearch ? " collapsed" : null)">

        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                <span style="margin-right: 5px">@Language.GetString("btn_Search")</span>
            </h3>
        </div>
    </a>

    <div id="searchCollapse"-->
@*class="@searchCollapseClass"*@
<!--style="">
        <div class="card-body">

                <div class="row">

                    <div class="form-group col-md-3">
                        <label class="form-label">@Language.GetString("DomainName")</label>
                        <input type="text" id="txtDomainNameFilter" class="form-control" placeholder='@Language.GetString("DomainName")' />
                    </div>
                </div>

        </div>
        <div class="card-footer">
            <button id="btnSearch" class="btn btn-primary bg-gradient" type="submit">
                <i style="position: relative; left: 5px; top: 1px;" class="fa fa-search"></i>
@Language.GetString("btn_Search")
            </button>
        </div>
    </div>
</div>-->
<div class="card" id="domainListCard">
    <div class="card-header">
        <div class="row">
            <div class="col-md-3">
                <h5 class="card-title">@Language.GetString("Menu_domains")</h5>
            </div>
            <div class="col-md-4 offset-md-5">
                <div class="card-tools float-end">
                        <a asp-action="AddEdit" asp-controller="Domain" class="btn btn-success bg-gradient btn-sm">
                            <i style="position: relative; left: 5px; top: 2px;" class="fa fa-plus pt-1"></i>&nbsp; @Language.GetString("btn_Add")
                        </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead>
                <tr style="text-align:center;">
                    <th>@Language.GetString("tbl_RowName")</th>
                    <th>@Language.GetString("DomainName")</th>
                    <th>@Language.GetString("DomainOwner")</th>
                    <th>@Language.GetString("DefaultLanguage")</th>
                    <th>@Language.GetString("CurrentDomainPrice")</th>
                    <th>@Language.GetString("DefaultCurrency")</th>
                    <th>@Language.GetString("DefaultDomain")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items.Any())
                {

                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td class="ListCell">@(++i)</td>
                            <td class="ListCell">@item.DomainName</td>
                            <td class="ListCell">@item.OwnerUserName</td>
                            <td class="ListCell">@item.DefaultLanguageName</td>
                            <td class="ListCell">
                                @(item.Prices.Any(_ => _.StartDate <= DateTime.Now && _.IsActive && _.EndDate == null && _.CurrencyId == item.DefaultCurrencyId) ? item.Prices
                        .FirstOrDefault(_ =>_.StartDate <= DateTime.Now && _.IsActive && _.EndDate == null && _.CurrencyId == item.DefaultCurrencyId).PriceValue : "")
                            </td>
                            <td class="ListCell">@item.DefaultCurrencyName</td>
                            <td class="ListCell">@(item.IsDefault ? Language.GetString("Yes") : Language.GetString("No"))</td>
                            <td>
                               
                                    <a asp-action="AddEdit" asp-controller="Domain" asp-route-id="@item.DomainId" class="btn btn-sm btn-warning bg-gradient">
                                        <i class="fa fa-edit"></i>@Language.GetString("btn_Edit")
                                    </a>
                                @if (!item.IsDeleted)
                                {
                                    <button onclick="EntityDelete('@item.DomainId')" class="btn btn-sm btn-danger bg-gradient">
                                        <i class="fa fa-trash"></i>@Language.GetString("btn_Delete")
                                    </button>
                                }
                                @if (item.IsDeleted)
                                {
                                    <button id="restoreRecord" onclick="EntityRestore('@item.DomainId')" class="btn btn-sm btn-primary bg-gradient">
                                        <i class="fa fa-refresh"></i>
                                        @Language.GetString("btn_Restore")
                                    </button>
                                }
                               
                                    <a asp-action="HomePageDesign" asp-controller="Domain" asp-route-domainId="@item.DomainId" class="btn btn-success bg-gradient btn-sm">
                                        <i style="position: relative; left: 5px; top: 2px;" class="fa fa-plus pt-1"></i>&nbsp; @Language.GetString("btn_HomePageDesign")
                                    </a>
                              
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="ListCell">
                            <h6>@Language.GetString("AlertAndMessage_NoDataToShow")</h6>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        @await Component.InvokeAsync("Pagination", new PageViewModel
        {
        CurrentPage = Model.CurrentPage,
        ItemsCount = Model.ItemsCount,
        PageSize = Model.PageSize,
        Navigation = Url.Action("List", "Domain"),
        QueryParams = Model.QueryString
        })
    </div>

</div>

@section Scripts{

<script>

    function EntityDelete(id) {
        debugger;
         entityId = id;
        typeOfRequest = 'Delete';
        confirmUrl = '@Url.Action("Delete", "Domain")' + "/" + id,
        document.getElementById('confirmModalLabel').innerHTML = '@Language.GetString("btn_Delete")';
        document.getElementById('confirmModalBody').innerHTML = '@Language.GetString("AlertAndMessage_DeletionSureness")';
        $('#confirmModal').modal('show');

    }

    function EntityRestore(id) {
        debugger;
          entityId = id;
        typeOfRequest = 'PUT';
        confirmUrl = '@Url.Action("Restore", "Domain")' + '?id=' + id,
        document.getElementById('confirmModalLabel').innerHTML = '@Language.GetString("btn_Restore")';
        document.getElementById('confirmModalBody').innerHTML = '@Language.GetString("AlertAndMessage_RestorationSureness")';
        $('#confirmModal').modal('show');
        }
</script>
}
