@using System.Web
@using Arad.Portal.DataLayer.Models.Shared;
@using Arad.Portal.GeneralLibrary.Utilities;
@using Arad.Portal.DataLayer.Models.Domain;
@using Arad.Portal.UI.Shop.Dashboard.ViewComponents;

@model PagedItems<DomainViewModel>
@{
    var i = ((Model.CurrentPage - 1) * Model.PageSize);
    bool isSearch = false;
    System.Collections.Specialized.NameValueCollection queryString = null;
    var langId = "";
    if (!string.IsNullOrWhiteSpace(Model.QueryString))
    {
        queryString = System.Web.HttpUtility.ParseQueryString(Model.QueryString);
        queryString.Remove("page");
    }
    else
    {
        langId = ViewBag.DefLangId;
    }
    var searchCollapseClass = isSearch ? "collapse show" : "collapse";
    var dir = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        dir = "rtl";
    }
    else
    {
        dir = "ltr";
    }
}


<!--<div class="card card-dark">
    <a data-toggle="collapse" data-parent="#accordion" href="#searchCollapse"
       aria-expanded="@(!isSearch ? "false" : "true" )" class="@(!isSearch ? " collapsed" : null)">

        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                <span style="margin-right: 5px">@Language.GetString("btn_Search")</span>
            </h3>
        </div>
    </a>

    <div id="searchCollapse"-->
@*class="@searchCollapseClass"*@
<!--style="">
        <div class="card-body">
           
                <div class="row">

                    <div class="form-group col-md-3">
                        <label>@Language.GetString("DomainName")</label>
                        <input type="text" id="txtDomainNameFilter" class="form-control" placeholder='@Language.GetString("DomainName")' />
                    </div>
                </div>
            
        </div>
        <div class="card-footer">
            <button id="btnSearch" class="btn btn-primary bg-gradient" type="submit">
                <i style="position: relative; left: 5px; top: 1px;" class="fa fa-search"></i>
                @Language.GetString("btn_Search")
            </button>
        </div>
    </div>
</div>-->
<div class="card" id="domainListCard">
    <div class="card-header">
        <div class="row">
            <div class="col-md-3">
                <h5 class="card-title">@Language.GetString("Menu_domains")</h5>
            </div>
            <div class="col-md-3 offset-md-6">
                <div class="card-tools float-end">
                    @if (ViewBag.Permissions["Add"])
                    {
                        <a asp-action="AddEdit" asp-controller="Domain" class="btn btn-success btn-sm bg-gradient">
                            <i style="position: relative; left: 5px; top: 2px;" class="fa fa-plus"></i>&nbsp; @Language.GetString("btn_Add")
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead>
                <tr style="text-align:center;">
                    <th>@Language.GetString("tbl_RowName")</th>
                    <th>@Language.GetString("DomainName")</th>
                    <th>@Language.GetString("DomainOwner")</th>
                    <th>@Language.GetString("DefaultLanguage")</th>
                    <th>@Language.GetString("CurrentDomainPrice")</th>
                    <th>@Language.GetString("DefaultCurrency")</th>
                    <th>@Language.GetString("DefaultDomain")</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Items.Any())
                {

                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td class="ListCell">@(++i)</td>
                            <td class="ListCell">@item.DomainName</td>
                            <td class="ListCell">@item.OwnerUserName</td>
                            <td class="ListCell">@item.DefaultLanguageName</td>
                            <td class="ListCell">
                                @(item.Prices.Any(_ => _.StartDate <= DateTime.Now && _.IsActive && _.EndDate == null && _.CurrencyId == item.DefaultCurrencyId) ? item.Prices
                            .FirstOrDefault(_ =>_.StartDate <= DateTime.Now && _.IsActive && _.EndDate == null && _.CurrencyId == item.DefaultCurrencyId).PriceValue : "")
                            </td>
                            <td class="ListCell">@item.DefaultCurrencyName</td>
                            <td class="ListCell">@(item.IsDefault ? Language.GetString("Yes") : Language.GetString("No"))</td>
                            <td>
                                @if (ViewBag.Permissions["Edit"])
                                {
                                    <a asp-action="AddEdit" asp-controller="Domain" asp-route-id="@item.DomainId" class="btn btn-sm btn-info bg-gradient">
                                        <i style="position: relative;left: 5px;top: 2px;" class="fa fa-edit"></i>@Language.GetString("btn_Edit")
                                    </a>
                                }
                                @if (ViewBag.Permissions["Remove"] && !item.IsDeleted)
                                {
                                    <button onclick="EntityDelete('@item.DomainId')" class="btn btn-sm btn-danger bg-gradient">
                                        <i style="position: relative; left: 5px; top: 1px;" class="fa fa-trash"></i>@Language.GetString("btn_Delete")
                                    </button>
                                }
                                @if (ViewBag.Permissions["Remove"] && item.IsDeleted)
                                {
                                    <button id="restoreRecord" onclick="EntityRestore('@item.DomainId')" class="btn btn-sm btn-warning bg-gradient">
                                        <i style="position: relative;left: 5px;top: 2px;" class="fa fa-refresh"></i>
                                        @Language.GetString("btn_Restore")
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="ListCell">
                            <h6>@Language.GetString("AlertAndMessage_NoDataToShow")</h6>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        @await Component.InvokeAsync("Pagination", new PageViewModel
        {
            CurrentPage = Model.CurrentPage,
            ItemsCount = Model.ItemsCount,
            PageSize = Model.PageSize,
            Navigation = Url.Action("List", "Domain"),
            QueryParams = Model.QueryString
        })
    </div>

</div>
@section Scripts{
    @if (dir == "rtl")
    {
        <script src="~/plugins/iCheck/icheck.min.js"></script>
    }
    <script>
        $(document).ready(function () {
            debugger;



        });
        function EntityDelete(id) {
            debugger;
        Swal.fire({
            title: '@Language.GetString("AlertAndMessage_AreYouSure")',
            text: '@Language.GetString("AlertAndMessage_DeleteEntity")',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d51c1c',
            cancelButtonColor: '#009c09db',
            confirmButtonText: '@Language.GetString("btn_Confirm")',
            cancelButtonText: '@Language.GetString("btn_NotConfirm")'
            }).then((result) => {
                if (result.isConfirmed) {
                    debugger;
            $.ajax({
                type: 'Get',
                url: '@Url.Action("Delete", "Domain")' + "/" + id,
            beforeSend: function() {
                AddLoading($("#domainListCard"));
            },
                success: function (resultData) {
                    debugger;
                    removeLoading($("domainListCard"))
            if (resultData.status === "Success") {
            Swal.fire({
            icon: 'success',
            text: resultData.message,
            showConfirmButton: false,
            timer: 3000
            }).then(() => {
            window.location.reload();
            });
            }

            if (resultData.status === "Error") {
            Swal.fire({
            icon: 'error',
            text: resultData.message,
            showConfirmButton: false,
            timer: 1500
            });
            }
            }
            });
            }
            });
        }

        function EntityRestore(id) {
            debugger;
                Swal.fire({
                    title: '@Language.GetString("AlertAndMessage_AreYouSure")',
                    text: '@Language.GetString("AlertAndMessage_EntityRestoreText")',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d51c1c',
                    cancelButtonColor: '#009c09db',
                    confirmButtonText: '@Language.GetString("btn_Confirm")',
                    cancelButtonText: '@Language.GetString("btn_NotConfirm")'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: 'Get',
                            url:  '@Url.Action("Restore", "Domain")' + '?id=' + id,
                            success: function(resultData) {
                                if (resultData.status === "success") {
                                    Swal.fire({
                                        icon: 'success',
                                        text: resultData.message,
                                        showConfirmButton: false,
                                        timer: 2000
                                    }).then(() => {
                                        window.location.reload();
                                    });
                                }
                                if (resultData.status === "error") {
                                    Swal.fire({
                                        icon: 'error',
                                        text: resultData.message,
                                        showConfirmButton: false,
                                        timer: 2000
                                    });
                                }
                            }
                        });
                    }
                });
            }
    </script>
}
