<!DOCTYPE html>
@model Arad.Portal.DataLayer.Models.Shared.TemplateDesign
@using System.Globalization;
@using Microsoft.Extensions.Configuration;
@inject IConfiguration _configuration;
@using Arad.Portal.GeneralLibrary.Utilities;
@{
    Layout = null;
    var direction = "";
    var langList = new List<string>() { "fa", "en" };
   

    if (Model.LangSymbol == "fa")
    {
        direction = "rtl";
    }
    else
    {
        direction = "ltr";
    }
     var baseAdd = _configuration["BaseAddress"];
}
<html dir="@direction" lang="@Model.LangSymbol">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Arad Portal" name="description">
    <title>@ViewData["Title"] - Arad.Portal.UI.Shop</title>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    @if (direction == "ltr")
    {
        <link href=@($"~{baseAdd}/lib/bootstrap5/css/bootstrap.min.css") rel="stylesheet" />
    }
    else
    {
        <link href=@($"~{baseAdd}/lib/bootstrap5/css/bootstrap.rtl.min.css") rel="stylesheet" />
        <link href=@($"~{baseAdd}/Fonts/IranSans/css/fontiran.css") rel="stylesheet" />
    }
    <link rel="stylesheet" href=@($"~{baseAdd}/css/Menu/Bootstrap4MegaMenu.css") />
    <link href=@($"~{baseAdd}/lib/bootstrap-select/css/bootstrap-select.min.css") rel="stylesheet" />
    <link href=@($"~{baseAdd}/css/site.css") rel="stylesheet" />
    <link href=@($"~{baseAdd}/lib/owlCarousel/css/owl.carousel.min.css") rel="stylesheet" />
    <link href=@($"~{baseAdd}/lib/owlCarousel/css/owl.theme.default.min.css") rel="stylesheet" />
    <link href=@($"~{baseAdd}/lib/owlCarousel/css/CarouselCustomArrowKeys.css") rel="stylesheet" />
    <link href=@($"~{baseAdd}/css/SpecialProduct.css") rel="stylesheet" />
    <link href=@($"~{baseAdd}/css/siteTemplate/FirstContentTemplate.css") rel="stylesheet" />
    <link href=@($"~{baseAdd}/css/siteTemplate/ThirdContentTemplate.css") rel="stylesheet" />
    <link href=@($"~{baseAdd}/css/siteTemplate/ForthContentTemplate.css") rel="stylesheet" />
    <link href=@($"~{baseAdd}/css/siteTemplate/FifthContentTemplate.css") rel="stylesheet" />
    <link href=@($"~{baseAdd}/css/header.css") rel="stylesheet" />
    <link href=@($"~{baseAdd}/lib/animate.css/animate.compat.css") rel="stylesheet" />
    <script src=@($"~{baseAdd}/lib/jquery/dist/jquery.min.js")></script>
    <script src=@($"~{baseAdd}/lib/bootstrap5/js/bootstrap.bundle.min.js")></script>
    <script src=@($"~{baseAdd}/lib/bootstrap-select/bootstrap-select.min.js")></script>
    <script src=@($"~{baseAdd}/lib/bootstrap-select/js/i18n/defaults-@(CultureInfo.CurrentCulture.Name.Replace('-', '_')).js")></script>
    <script src=@($"~{baseAdd}/lib/ckeditor/ckeditor.js")></script>
    <script src=@($"~{baseAdd}/lib/owlCarousel/js/owl.carousel.min.js")></script>
    <script src=@($"~{baseAdd}/js/TemplateCreation.js")></script>
    <script src=@($"~{baseAdd}/js/StickyNavbar.js")></script>

</head>
<body>
    <style type="text/css">
        .bgCover{
            background-size : cover;
            background-attachment: fixed;
            background-position: center bottom;
        }
    </style>
    <div id="loading" class="text-center">
        <div class="spinner-border text-danger" style="width: 4rem; height: 4rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <header>

        @if (!string.IsNullOrEmpty(Model.HeaderContent))
        {
            @Html.Raw(Model.HeaderContent);
        }
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @if (!string.IsNullOrEmpty(Model.ContainerContent))
            {
                @Html.Raw(Model.ContainerContent)
            }
        </main>
    </div>
    <footer>
        @if (!string.IsNullOrEmpty(Model.FooterContent))
        {
            @Html.Raw(Model.FooterContent);
            
        }
    </footer>
    <script>
          function doAnimations(elems) {
            var animEndEv = "webkitAnimationEnd animationend";

            elems.each(function () {
                var $this = $(this),
                    $animationType = $this.data("animation");
                $this.addClass($animationType).one(animEndEv, function () {
                    $this.removeClass($animationType);
                });
            });
        }

        function AfterCarouselLoad()
        {
            debugger;
              var $myCarousel = $("#sliderCarousel");
              $firstAnimatingElems = $myCarousel
                      .find(".carousel-item:first")
                     .find("[data-animation ^= 'animated']");

            var carousel = new bootstrap.Carousel($myCarousel);
            doAnimations($firstAnimatingElems);

            var myCarousel = document.getElementById('sliderCarousel');
            myCarousel.addEventListener("slide.bs.carousel", function (e) {
                var $animatingElems = $(e.relatedTarget).find(
                    "[data-animation ^= 'animated']"
                );
                doAnimations($animatingElems);
            });
        }

            $(document).ready(function(){

                    $(".menu-area").mouseover(function () {
                            var windowSize = $(window).width();
                            if (windowSize > 975) {
                                $(this).addClass("show");
                                $(this).find(".dropdown-toggle").addClass("text-primary");
                                $(this).find(".mega-area").addClass("show");
                            }
                    });

                    $(".menu-area").mouseleave(function () {
                        var windowSize = $(window).width();
                        if (windowSize > 975) {
                            $(this).removeClass("show");
                            $(this).find(".dropdown-toggle").removeClass("text-primary");
                            $(this).find(".mega-area").removeClass("show");
                        }
                    });

                    $(".nav-item .nav-link").mouseover(function () {
                            $(this).addClass("text-primary");
                    });
                    $(".nav-item .nav-link").mouseleave(function () {
                            $(this).removeClass("text-primary");
                    });
                if('@Model.IsShop' == "True")
                {
                    $("#btnIsShop").parent().removeClass("border").removeClass("border-1");
                    $("#btnIsShop").remove();
                }else
                {
                    $("#btnIsShop").parent().remove();
                }

                if('@Model.IsMultiLinguals' == "True")
                {
                    $("#btnFlags").parent().removeClass("border").removeClass("border-1");
                    $("#btnFlags").remove();
                }else
                {
                     $("#btnFlags").parent().remove();
                }


                $(".owl-carousel").owlCarousel({
                    loop: true,
                    rtl: true,
                    navigation : true,
                    /* autoplay: true,*/
                    margin: 10,
                    animateOut: 'fadeOut',
                    animateIn: 'fadeIn',
                    nav: true,
                    /*dots: true,*/
                    autoplayHoverPause: false,
                    items: 3,
                    navText: ["<div class='nav-btn prev-slide'><i class='fas fa-chevron-left' style='line-height:5;font-size:larger;'></i></div>", "<div class='nav-btn next-slide'><i class='fas fa-chevron-right' style='line-height:5;font-size:larger;'></i></div>"],
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 3
                        },
                        1000: {
                            items: 5
                        }
                    }
                });


            });
    </script>
</body>
</html>
