<!DOCTYPE html>
@using System.Globalization;
@using Arad.Portal.GeneralLibrary.Utilities;
@{
    Layout = null;
    var direction = "";
    var langList = new List<string>() { "fa", "en" };
    string lang = "";
    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        direction = "rtl";
        ViewBag.dir = "rtl";
    }
    else
    {
        direction = "ltr";
        ViewBag.dir = "ltr";
    }
    switch (CultureInfo.CurrentCulture.Name)
    {
        case "fa-IR":
            lang = "fa";
            break;
        case "en-US":
            lang = "en";
            break;
    }

}
<html dir="@direction" lang="@lang">
   <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Arad Portal" name="description">
    <title>@ViewData["Title"] - Arad.Portal.UI.Shop</title>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    @if (direction == "ltr")
    {
        <link href="~/lib/bootstrap5/css/bootstrap.min.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/lib/bootstrap5/css/bootstrap.rtl.min.css" rel="stylesheet" />
        <link href="~/Fonts/IranSans/css/fontiran.css" rel="stylesheet" />
    }
    <link rel="stylesheet" href="~/css/Menu/Bootstrap4MegaMenu.css" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap-select/js/i18n/defaults-@(CultureInfo.CurrentCulture.Name.Replace('-', '_')).js"></script>
   </head>
   <body>
       <div class="row">
           <div class="col-3 col-md-3">
                <button id="btnPreview" class="btn btn-primary bg-gradient btn-sm float-end m-3" type="button">@Language.GetString("btn_Preview")</button>
                <button id="btnSave" class="btn btn-primary bg-gradient btn-sm float-end m-3" type="button">@Language.GetString("btn_Save")</button>
         </div>
       </div>
       <header class="headerPart">
           <div class="border-3 border-secondary m-1" style="min-height: 150px;">
             <button id="btnnewRowHeader" class="btn btn-success bg-gradient btn-sm float-end addNewRow m-1" tag="header" type="button">@Language.GetString("btn_NewRow")</button>
             <div class="row mt-4">
             <div class="col-4 col-md-2 col-lg-1">
                 <div class="m-1 ms-4">
                    <ul class="langUl list-group list-group-horizontal">
                        <li class="list-group-item lan border-0 pt-2">
                            <a title="@Language.GetString("Persian")" role="button"  data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <img src="~/imgs/IRAN.png" onclick="setLang('fa-IR')" />
                            </a>

                        </li>
                        <li class="list-group-item lan border-0 pt-2">
                            <a title="@Language.GetString("English")" role="button"  data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <img src="~/imgs/USA.png" onclick="setLang('en-US')" />
                            </a>

                        </li>
                    </ul>   
                </div>
            </div>
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="offset-4 col-4 offset-md-8 col-md-2 offset-lg-9 col-lg-2">
                    <div class="rounded border-0 float-end mt-2 me-4">
                    <ul class="list-group list-group-horizontal userPart">
                        <li class="list-group-item ps-3 pe-2 border-0 bg-secondary bg-opacity-10">
                            <a href="/account/login" title="@Language.GetString("btn_Login")" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <i class="fas fa-sign-in-alt"></i>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pb-0 bg-secondary bg-opacity-10">
                            <div class="vr" style="min-height:1.5em;"></div>
                        </li>
                        <li class="list-group-item ps-2 pe-3 border-0 bg-secondary bg-opacity-10">
                           
                            <a href="/account/register" title="@Language.GetString("btn_Register")" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <i class="fas fa-user-plus"></i>
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
            }
            else
            {
                <div class="offset-4 col-4 offset-md-8 col-md-2 offset-lg-10 col-lg-1">
                    <div class="rounded border-0 float-end mt-2 me-4">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item profile">
                            <a href="/account/Profile" id="userProfileId" role="button" title="@Language.GetString("User_Profile")" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <i class="far fa-user"></i>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pb-0 bg-secondary bg-opacity-10">
                            <div class="vr" style="min-height:1.5em;"></div>
                        </li>
                        <li class="list-group-item profile">
                            <a href="/basket/get" id="userBasketId" role="button" title="@Language.GetString("ShoppingCart")" data-bs-toggle="tooltip" data-bs-placement="bottom">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="badge notifyBadge"></span>
                            </a>
                        </li>
                    </ul>
                    </div>
                </div>
            }
        </div>

               
           </div>
           <div class="headerContent d-none">

           </div>
       </header>
       <div class="container">
            <div class="border-3 border-secondary m-1" style="min-height: 500px;">
                 <button id="btnnewRowContent" class="btn btn-success bg-gradient btn-sm float-end addNewRow m-1" tag="container" type="button">@Language.GetString("btn_NewRow")</button>


                
            </div>
            <div class="containerContent d-none"></div>
       </div>
       <footer class="footerPart">
           <div class="border-3 border-secondary m-1" style="min-height: 150px;">
                <button id="btnnewRowFooter" class="btn btn-success bg-gradient btn-sm float-end addNewRow m-1" tag="footer" type="button">@Language.GetString("btn_NewRow")</button>

           </div>
           <div class="footerContent d-none"></div>
       </footer>
   </body>
</html>