<!DOCTYPE html>
@model Arad.Portal.DataLayer.Models.Shared.TemplateDesign
@using System.Globalization;
@using Arad.Portal.GeneralLibrary.Utilities;
@{
    Layout = null;
    var direction = "";
    var langList = new List<string>() { "fa", "en" };
    string lang = "";
    //if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    //{
    //    direction = "rtl";
    //    ViewBag.dir = "rtl";
    //}
    //else
    //{
    //    direction = "ltr";
    //    ViewBag.dir = "ltr";
    //}
    //switch (CultureInfo.CurrentCulture.Name)
    //{
    //    case "fa-IR":
    //        lang = "fa";
    //        break;
    //    case "en-US":
    //        lang = "en";
    //        break;
    //}

    if(Model.LangSymbol == "fa")
    {
        direction = "rtl";
    }
    else
    {
        direction = "ltr";
    }
}
<html dir="@direction" lang="@Model.LangSymbol">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Arad Portal" name="description">
    <title>@ViewData["Title"] - Arad.Portal.UI.Shop</title>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    @if (direction == "ltr")
    {
        <link href="~/lib/bootstrap5/css/bootstrap.min.css" rel="stylesheet" />
    }
    else
    {
        <link href="~/lib/bootstrap5/css/bootstrap.rtl.min.css" rel="stylesheet" />
        <link href="~/Fonts/IranSans/css/fontiran.css" rel="stylesheet" />
    }
    <link rel="stylesheet" href="~/css/Menu/Bootstrap4MegaMenu.css" />
    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
     <link href="~/lib/owlCarousel/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/owlCarousel/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/lib/owlCarousel/css/CarouselCustomArrowKeys.css" rel="stylesheet" />
     <link href="~/css/SpecialProduct.css" rel="stylesheet" />
     <link href="~/css/siteTemplate/FirstContentTemplate.css" rel="stylesheet" />
    <link href="~/css/siteTemplate/ThirdContentTemplate.css" rel="stylesheet" />
    <link href="~/css/siteTemplate/ForthContentTemplate.css" rel="stylesheet" />
    <link href="~/css/siteTemplate/FifthContentTemplate.css" rel="stylesheet" />
    <link href="~/css/header.css" rel="stylesheet" />
    <link href="~/css/StickyNavbar.css" rel="stylesheet" />
    <link href = "~/lib/animate.css/animate.min.css" rel="stylesheet"/>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/lib/bootstrap-select/js/i18n/defaults-@(CultureInfo.CurrentCulture.Name.Replace('-', '_')).js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/owlCarousel/js/owl.carousel.min.js"></script>
    <script src="~/js/TemplateCreation.js"></script>
    <script src="~/js/StickyNavbar.js"></script>
    
</head>
<body>
    <div id="loading" class="text-center">
        <div class="spinner-border text-danger" style="width: 4rem; height: 4rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <header>
         <partial name="~/Views/Shared/_PriorFixedHeader.cshtml" />
        @if (!string.IsNullOrEmpty(Model.HeaderContent))
        {
            @Html.Raw(Model.HeaderContent);
            
        }
        @*<div class="navbarMenu">
            @await Component.InvokeAsync("StoreMenuModule", new {domainId = Model.DomainId, languageId = Model.LanguageId});
        </div>*@
       
    </header>
    <div class="container">
         <main role="main" class="pb-3">
            @if(!string.IsNullOrEmpty(Model.ContainerContent))
            {
                @Html.Raw(Model.ContainerContent)
            }
        </main>
    </div>
    <footer>
        @if (!string.IsNullOrEmpty(Model.FooterContent))
        {
            @Html.Raw(Model.FooterContent);
            
        }
    </footer>
    <script>
        

        $(document).ready(function(){
            
                $(".menu-area").mouseover(function () {
                        var windowSize = $(window).width();
                        if (windowSize > 975) {
                            $(this).addClass("show");
                            $(this).find(".dropdown-toggle").addClass("text-primary");
                            $(this).find(".mega-area").addClass("show");
                        }
                });

                $(".menu-area").mouseleave(function () {
                    var windowSize = $(window).width();
                    if (windowSize > 975) {
                        $(this).removeClass("show");
                        $(this).find(".dropdown-toggle").removeClass("text-primary");
                        $(this).find(".mega-area").removeClass("show");
                    }
                });

                $(".nav-item .nav-link").mouseover(function () {
                        $(this).addClass("text-primary");
                });
                $(".nav-item .nav-link").mouseleave(function () {
                        $(this).removeClass("text-primary");
                });

            $(".owl-carousel").owlCarousel({
                loop: true,
                rtl: true,
                navigation : true,
                /* autoplay: true,*/
                margin: 10,
                animateOut: 'fadeOut',
                animateIn: 'fadeIn',
                nav: true,
                /*dots: true,*/
                autoplayHoverPause: false,
                items: 3,
                navText: ["<div class='nav-btn prev-slide'><i class='fas fa-chevron-left' style='line-height:5;font-size:larger;'></i></div>", "<div class='nav-btn next-slide'><i class='fas fa-chevron-right' style='line-height:5;font-size:larger;'></i></div>"],
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 5
                    }
                }
            });

            $('.custSlider').owlCarousel({
                                rtl: true,
                                center: true,
                                loop: true,
                                margin: 0,
                                nav: false,
                                dots: false,
                                autoplay: true,
                                responsive: {
                                    0: {
                                        items: 1
                                    },
                                    600: {
                                        items: 1
                                    },
                                    1000: {
                                        items: 1
                                    }
                                }
                            });
        });
</script>
</body>
</html>
