@using Arad.Portal.GeneralLibrary.Utilities
@{
    Layout = null;
}

<div id="add" class="box-container collapse">
    <div class="box-head">
        <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
        @Language.GetString("AddRolePart_Title")
    </div>
    <div class="box-body ">
        <form id="addRole" class="sm" asp-action="Add" asp-controller="Role" method="post" autocomplete="off" asp-antiforgery="true">
            <div class="form-row text-right ">
                <div class=" col-md-12">
                    <div class="row">
                        <div class="form-group col-md-4 col-lg-3">
                            <label for="Title">@Language.GetString("Role_Name") </label>
                            <input type="text" class="form-control" id="RoleName" name="RoleName" placeholder=" ">
                            <span class="field-validation-error" data-val-result="RoleName"></span>
                        </div>
                        <div class="form-group col-md-4 col-lg-3">
                            <label for="IsActive">@Language.GetString("ActivationState")</label>
                            <div>
                                <label class="switch">
                                    <input id="IsActive" class="checkbox" 
                                           type="checkbox" name="IsActive" value="false">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <div class="box-head inner ">
                            <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                            @Language.GetString("Menu_Permissions")
                            <span class="field-validation-error" data-val-result="PermissionIds"></span>
                        </div>
                        <div id="permissions" class="row w-100">
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-xs bg-gradient">
                <i class="fa fa-check" aria-hidden="true"></i>&nbsp  @Language.GetString("btn_Add")
            </button>
        </form>
    </div>
</div>

