@model Arad.Portal.DataLayer.Models.ProductGroup.ProductGroupDTO
@using Arad.Portal.DataLayer.Models.Shared;
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var alert = Language.GetString("AlertAndMessage_GotIt");
    var error = Language.GetString("AlertAndMessage_Error");
}
@section Styles{
    <link href="~/lib/bootstrap-iconpicker/css/bootstrap-iconpicker.css" rel="stylesheet" />
    <style>
        .text-danger {
            font-size: 12px;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            padding: 6px 0px;
            border-radius: 15px;
            text-align: center;
            font-size: 12px;
            line-height: 1.42857;
        }
        .card-header {
            background-color: #e0dcdf;
        }
    </style>
}

<h4>  @Language.GetString("Menu_ProductGroups") </h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="card" id="addProductGroupCard">
            <div class="card-header">
                <h3 class="card-title" data-toggle="tab">@(!string.IsNullOrWhiteSpace(Model.ProductGroupId) ? Language.GetString("EditProductGroupPart_Title") : Language.GetString("AddProductGroupPart_Title"))</h3>
            </div>

            <div class="card-body" id="addEditProductGroupCard">
                <input type="hidden" value="@Model.ProductGroupId" asp-for="ProductGroupId" />
                <div class="row">
                    <div class="form-group col-md-3">
                        <label asp-for="@Model.ParentId">@Language.GetString("ParentGroup")</label>
                        <select class="form-control select2" asp-for="@Model.ParentId" asp-items="@(new SelectList(ViewBag.ProductGroupList,"Value","Text"))">
                        </select>
                        <span data-val-result="ParentId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="@Model.GroupCode">@Language.GetString("tbl_ProductGroupCode")</label>
                        <input type="text" class="form-control" asp-for="@Model.GroupCode" value="@Model.GroupCode" placeholder=" " disabled>
                        <span data-val-result="GroupCode" class="text-danger"></span>
                    </div>
                </div>
               
                <div class="row" style="background-color: #f0f0f5;">
                    <div class="form-group col-md-3">
                        <label for="languageId">@Language.GetString("LanguageName")</label><br />
                        <select class="form-control" id="languageId" asp-items="@(new SelectList(ViewBag.LangList,"Value","Text"))">
                        </select>
                        <span data-val-result="languageId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="currencyId">@Language.GetString("Currency")</label><br />
                        <select class="form-control select2" id="currencyId" asp-items="@(new SelectList(ViewBag.CurrencyList,"Value","Text"))">
                        </select>
                        <span data-val-result="currencyId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="groupName">@Language.GetString("tbl_GroupName")</label><br />
                        <input type="text" class="form-control" id="groupName" placeholder=" ">
                        <span data-val-result="groupName" class="text-danger"></span>
                    </div>
                    @*<div class="form-group col-md-3">
                        <label>@Language.GetString("UrlFriend")</label>
                        <input type="text" class="form-control" id="urlFriend" placeholder=" ">
                        <span data-val-result="urlFriend" class="text-danger"></span>
                    </div>*@
                </div>
                <div class="row" style="background-color: #f0f0f5;">
                    <div class="form-group col-md-3">
                        <label>@Language.GetString("SeoTitle")</label>
                        <input type="text" class="form-control" id="seoTitle" placeholder=" ">
                        <span data-val-result="seoTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label>@Language.GetString("SeoDescription")</label>
                        <input type="text" class="form-control" id="seoDescription" placeholder=" ">
                        <span data-val-result="seoDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label>@Language.GetString("Description")</label>
                        <input type="text" class="form-control" id="description" placeholder=" ">
                        <span data-val-result="description" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3" style="text-align:center;margin:auto;">
                        <span data-val-result="MultiLingualProperties" class="text-danger"></span>
                        <div style="margin:auto;display:inline-block;">
                            <button type="button" class="btn btn-info btn-circle" onclick="addToTable();">
                                <i class="fa fa-plus" style="position: relative;padding: 3px;"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:1%;">
                    <div class="card-body table-bordered  table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr style="text-align:center;">
                                    <th>@Language.GetString("tbl_GroupName")</th>
                                    <th>@Language.GetString("LanguageName")</th>
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th>@Language.GetString("Currency")</th>
                                    <th>@Language.GetString("UrlFriend")</th>
                                    <th>@Language.GetString("SeoTitle")</th>
                                    <th>@Language.GetString("SeoDescription")</th>
                                    <th>@Language.GetString("Description")</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="multiLingualList">
                                @foreach (var item in Model.MultiLingualProperties)
                                {
                                    <tr style="text-align:center;">
                                        <td>@item.Name</td>
                                        <td>@item.LanguageName</td>
                                        <td style="display:none;">@item.LanguageId</td>
                                        <td style="display:none;">@item.CurrencyId</td>
                                        <td>@item.CurrencyName</td>
                                        <td>@item.UrlFriend</td>
                                        <td>@item.SeoTitle</td>
                                        <td>@item.SeoDescription</td>
                                        <td>@item.Description</td>
                                        <td>
                                            <button type="button" class="btn btn-danger btn-circle" onclick="deleteFromTable(this);">
                                                <i class="fa fa-minus" style="position: relative;padding:3px;"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                   
                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <input type="button" id="btnAddProductGroup" value="@Language.GetString("btn_Save")" class="btn btn-block btn-success" />
                    <a asp-action="List" class="btn btn-block btn-default">@Language.GetString("btn_Back")</a>
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script>

        $(document).ready(function () {
            debugger;
            if ("@Model.ProductGroupId" != "" && "@Model.ParentId" != "") {
                $("#ParentId").val("@Model.ParentId");
            }
            @*$("#languageId").change(function () {
                debugger;
                var langId = $("#languageId").val();
                if (langId != "-1") {
                $.ajax({
                    url: "/ProductGroup/GetProductGroupList/" + langId,
                    type: 'Get',
                    dataType : 'json',
                    success: function (result) {
                        debugger;
                        var options = "<option value='-1'> " + '@Language.GetString("AlertAndMessage_Choose")' + " </option>";
                        if (result.status === "success") {
                            debugger;
                            if (result.data.length != 0) {
                                (result.data).forEach(function (item) {
                                    var op = "<option value='" + item.value + "'>" + item.text + "</option>";
                                    options += op;
                                });

                                $("#ParentId").html(options);
                                $("#ParentId").val('@Model.ParentId');
                            }
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert("@error");
                        alert(xhr.status);
                        alert(thrownError);
                    }
            });
                }
            });*@
            $("#btnAddProductGroup").click(function () {
            debugger;
                var flag = false;
               
                if ($("#multiLingualList tr").length == 0) {
                    $("span[data-val-result='MultiLingualProperties']").html('@Language.GetString("AlertAndMessage_FillMultiLingualProperty")');
                    flag = true;
                }
                if (!flag) {

            var dto = FillDataToSend();
            $.ajax({
                    url: "@Model.ProductGroupId" != "" ? "/ProductGroup/Edit" : "/ProductGroup/Add",
                    /*data: dataModel,*/
                    contentType: 'application/json',
                    data: JSON.stringify(dto),
                type: 'Post',
                beforeSend: function () {
                    debugger;
                    AddLoading($("#addEditProductGroupCard"));
                },
                success: function (result) {
                    debugger;
                    if (result.status === "Success") {
                        Swal.fire({
                            icon: 'success',
                            text: result.message,
                            showConfirmButton: false,
                            timer: 3000
                        }).then(() => {
                            window.location.href = '@Url.Action("List")';
                        });
                    }else
                    if (result.status === "ModelError") {
                        var spanErrorList = $('span[data-val-result]');
                        if (spanErrorList.length > 1) {
                            spanErrorList.each(function() {
                                $(this).html("");
                                $(this).parent().removeClass("has-error");
                            });
                        } else {
                            spanErrorList.html("");
                            spanErrorList.parent().removeClass("has-error");
                        }
                        if (result.modelStateErrors !== null) {
                                $('[data-val-result=' + value.key + ']').html(value.errorMessage);
                                $('[data-val-result=' + value.key + ']').parent().addClass("has-error");
                            }
                        }
                    },
                @*error: function (xhr, ajaxOptions, thrownError) {
                    alert("@error");
                    alert(xhr.status);
                    alert(thrownError);
                },*@
                complete: function () {
                    removeLoading($("#addEditProductGroupCard"));
                }
                });
                }

            });
        });

        function FillDataToSend() {
            debugger;
            var obj = {};
           obj.MultiLingualProperties = [];
            obj.ProductGroupId = $("#ProductGroupId").val();
            if ($("#ParentId").val() != "-1") {
                obj.ParentId = $("#ParentId").val();
            }
            obj.GroupCode = Number($("#GroupCode").val());
            if ($("#ModificationReason").length > 0) {
                obj.ModificationReason = $("#ModificationReason").val();
            }
            $("#multiLingualList tr").each(function () {
                debugger;
                var innerModel = {};
                innerModel.Name = $(this).find("td:eq(0)").text();
                innerModel.SeoTitle = $(this).find("td:eq(6)").text();
                innerModel.SeoDescription = $(this).find("td:eq(7)").text();
                innerModel.Description = $(this).find("td:eq(8)").text();
                innerModel.LanguageId = $(this).find("td:eq(2)").text();
                innerModel.CurrencyId = $(this).find("td:eq(3)").text();
                innerModel.UrlFriend = $(this).find("td:eq(5)").text();
                obj.MultiLingualProperties.push(innerModel);
        });
            return obj;
        }

        function deleteFromTable(sender) {
            debugger;
            var tr = $(sender).parent().parent();
            $(tr).remove();
        }
        function addToTable() {
            var flag = false;
            debugger;

            if ($("#groupName").val() == "") {
                $("span[data-val-result='groupName']").html('@Language.GetString("AlertAndMessage_FieldEssential")');
                flag = true;
            }
            if ($("#languageId").val() == "-1") {
                 $("span[data-val-result='languageId']").html('@Language.GetString("AlertAndMessage_FieldEssential")');
                flag = true;
            }
            if ($("#currencyId").val() == "-1") {
                 $("span[data-val-result='currencyId']").html('@Language.GetString("AlertAndMessage_FieldEssential")');
                flag = true;
            }
            if (!flag) {
                var tr = "<tr style='text-align:center;'><td>" + $("#groupName").val() +
                    "</td><td>" + $('#languageId option:selected').text() +
                    "</td><td style='display:none;'>" + $("#languageId").val() +
                    "</td><td style='display:none;'>" + $("#currencyId").val() +
                    "</td><td>" + $("#currencyId option:selected").text() +
                    "</td><td>" + $("#urlFriend").val() +
                    "</td><td>" + $("#seoTitle").val() +
                    "</td><td>" + $("#seoDescription").val() +
                    "</td><td>" + $("#description").val() +
                    "</td><td><button type='button' class='btn btn-sm btn-danger btn-circle' onclick='deleteFromTable(this);'>" +
                    "<i class='fa fa-minus' style='position: relative;padding:3px;'></i></button></td></tr>";

                $("#multiLingualList").append(tr);
                $("#groupName").val("");
                $("#languageId").val("-1");
                $("#currencyId").val("-1");
                $("#urlFriend").val("");
                $("#seoTitle").val("");
                $("#seoDescription").val("");
                $("#description").val("");
            }
        }
    </script>
}




