@model Arad.Portal.DataLayer.Models.ProductGroup.ProductGroupDTO
@using Arad.Portal.DataLayer.Models.Shared;
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    var alert = Language.GetString("AlertAndMessage_GotIt");
    var error = Language.GetString("AlertAndMessage_Error");
}
@section Styles{
    <link href="~/lib/bootstrap-iconpicker/css/bootstrap-iconpicker.css" rel="stylesheet" />
    <link href="~/lib/cropperjs/cropper.css" rel="stylesheet" />
    <style>
        .text-danger {
            font-size: 12px;
        }

        .ck-editor .ck-editor__main .ck-content {
            height: 280px;
            min-height: 250px;
        }

        .removeImage {
            display: inline-block;
            position: absolute;
            top: -7px;
            right: -5px;
            width: 20px;
            height: 21px;
            background: #dc3545;
            text-align: center;
            border-radius: 50%;
            color: white !important;
            cursor: pointer;
        }
        .row{
            margin-top: 1%;
        }

        #bd-root-userBirthDate {
            width: 100%
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .cropper-container {
            width: 100%
        }

        .iti__flag-container {
            direction: ltr
        }

        .modal {
            z-index: 100001 !important;
        }

       /* .lightColored {
            background-color: aliceblue
        }*/

        @*.amsify-suggestags-input-area {
            text-align: @(dir == "rtl" ? "right" : "left");
            height: auto;
        }*@
        img, svg, .SimpleUploadsTmpWrapper {
            height: auto;
            max-width: 100%;
        }
    </style>
}

<h4>  @Language.GetString("Menu_ProductGroups") </h4>
<hr />
<div aria-hidden="true" aria-labelledby="confirmLabel" class="modal fade" id="showModalId" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button">
                </button>
            </div>
            <div class="modal-body" id="confirmBody">
            </div>
            <div class="modal-footer">
               
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadlogoModal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content col-md-12">
            <div class="modal-header">
                <div class="col-md-1">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="col-md-11" style="text-align: center">
                    <h5 class="modal-title align-content-center" id="logoModalTitle">@Language.GetString("CropImage")</h5>
                </div>
            </div>
            <div class="modal-body">
                <div class="modal-body" id="upload-modal-body">
                    <div id="rowContainer" class="row justify-content-center align-items-center">
                        <div id="containerlg" style="position: relative;display: inline; height: 400px; width: 400px;max-width:100%;">
                            <img onchange="getURL(this)" class="img-fluid" hidden="hidden" id="imgModalBody"
                                 alt="your image" style="max-width: 100%;width: 356px;height: 356px;border: 1px solid black" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-center align-items-center">
                <div>
                    <button class="btn btn-success bg-gradient" id="send_Logo" type="button"><i style="margin-left: 5px;font-size:13px" class="fas fa-share-square"></i>@Language.GetString("btn_Approve")</button>
                    <button class="btn btn-primary bg-gradient" id="logoCrop_button"><i style="margin-left: 5px;font-size:13px" class="fas fa-cut"></i>@Language.GetString("btn_Crop")</button>
                    <button class="btn btn-primary bg-gradient"  onclick="rotatePic()">
                        <i style="margin-left: 5px;font-size:13px" class="fas fa-retweet"></i>@Language.GetString("btn_Rotate")
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card" id="addProductGroupCard">
            <div class="card-header">
                <h5 class="card-title" data-toggle="tab">@(!string.IsNullOrWhiteSpace(Model.ProductGroupId) ? Language.GetString("EditProductGroupPart_Title") : Language.GetString("AddProductGroupPart_Title"))</h5>
            </div>

            <div class="card-body" id="addEditProductGroupCard">
                <input type="hidden" value="@Model.ProductGroupId" asp-for="ProductGroupId" />
                <div class="row">
                    <div class="form-group col-md-3">
                        <div class="card">
                            <div class="card-header lightColored">
                                @Language.GetString("GroupImage")
                            </div>
                            <div class="card-body">
                                <div class="text-center form-group">

                                    <img id="groupImage" onclick="ViewImage('@Model.GroupImage.Url')" style="cursor: pointer" imgid="@(!string.IsNullOrWhiteSpace(@Model.GroupImage.ImageId) ? @Model.GroupImage.ImageId : "-1")"
                                         class="profile-user-img img-fluid img-circle" src="@(!string.IsNullOrWhiteSpace(@Model.GroupImage.Content) ? @Model.GroupImage.Content : "/imgs/NoImage.png")" alt="productGroup Image">
                                </div>
                                <hr>
                                <div class="custom-file">
                                    <input accept="image/x-png,image/jpeg" type="file" class="btn btn-sm" name="image" id="image" onchange="getURL(this)">
                                    <label class="custom-file-label" for="image">@Language.GetString("ChangeImage")</label>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="form-label" asp-for="@Model.ParentId">@Language.GetString("ParentGroup")</label>
                        <select class="form-control selectpicker" data-live-search="true" asp-for="@Model.ParentId" asp-items="@(new SelectList(ViewBag.ProductGroupList,"Value","Text"))">
                        </select>
                        <span data-val-result="ParentId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="form-label" asp-for="@Model.GroupCode">@Language.GetString("tbl_ProductGroupCode")</label>
                        <input type="text" class="form-control" asp-for="@Model.GroupCode" value="@Model.GroupCode" placeholder=" " disabled>
                        <span data-val-result="GroupCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">
                        <label class="form-label" for="languageId">@Language.GetString("LanguageName")</label><br />
                        <select class="form-control" data-live-search="true" id="languageId" asp-items="@(new SelectList(ViewBag.LangList,"Value","Text"))">
                        </select>
                        <span data-val-result="languageId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="form-label" for="currencyId">@Language.GetString("Currency")</label><br />
                        <select class="form-control selectpicker" data-live-search="true" id="currencyId" asp-items="@(new SelectList(ViewBag.CurrencyList,"Value","Text"))">
                        </select>
                        <span data-val-result="currencyId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="form-label" for="groupName">@Language.GetString("tbl_GroupName")</label><br />
                        <input type="text" class="form-control" id="groupName" placeholder=" ">
                        <span data-val-result="groupName" class="text-danger"></span>
                    </div>
                    @*<div class="form-group col-md-3">
            <label class="form-label">@Language.GetString("UrlFriend")</label>
            <input type="text" class="form-control" id="urlFriend" placeholder=" ">
            <span data-val-result="urlFriend" class="text-danger"></span>
        </div>*@
                </div>
                <div class="row" >
                    <div class="form-group col-md-3">
                        <label class="form-label">@Language.GetString("SeoTitle")</label>
                        <input type="text" class="form-control" id="seoTitle" placeholder=" ">
                        <span data-val-result="seoTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="form-label">@Language.GetString("SeoDescription")</label>
                        <input type="text" class="form-control" id="seoDescription" placeholder=" ">
                        <span data-val-result="seoDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="form-label">@Language.GetString("Description")</label>
                        <input type="text" class="form-control" id="description" placeholder=" ">
                        <span data-val-result="description" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-3" style="text-align:center;margin:auto;">
                        <span data-val-result="MultiLingualProperties" class="text-danger"></span>
                        <div style="margin:auto;display:inline-block;">
                            <button type="button" class="btn btn-success bg-gradient btn-sm" onclick="addToTable();">
                                <i class="fa fa-plus pt-1" ></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:1%;">
                    <div class="card-body table-bordered  table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                                <tr style="text-align:center;">
                                    <th>@Language.GetString("tbl_GroupName")</th>
                                    <th>@Language.GetString("LanguageName")</th>
                                    <th style="display:none"></th>
                                    <th style="display:none"></th>
                                    <th>@Language.GetString("Currency")</th>
                                    @*<th>@Language.GetString("UrlFriend")</th>*@
                                    <th>@Language.GetString("SeoTitle")</th>
                                    <th>@Language.GetString("SeoDescription")</th>
                                    <th>@Language.GetString("Description")</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="multiLingualList">
                                @foreach (var item in Model.MultiLingualProperties)
                                {
                                    <tr style="text-align:center;">
                                        <td>@item.Name</td>
                                        <td>@item.LanguageName</td>
                                        <td style="display:none;">@item.LanguageId</td>
                                        <td style="display:none;">@item.CurrencyId</td>
                                        <td>@item.CurrencyName</td>
                                        @*<td>@item.UrlFriend</td>*@
                                        <td>@item.SeoTitle</td>
                                        <td>@item.SeoDescription</td>
                                        <td>@item.Description</td>
                                        <td>
                                            <button type="button" class="btn btn-danger bg-gradient" onclick="deleteFromTable(this);">
                                                <i class="fa fa-trash" ></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-4 offset-md-8 col-12">
                        <a asp-action="List" class="btn btn-secondary btnBack bg-gradient float-end m-2">@Language.GetString("btn_Back")</a>
                        <input type="button" id="btnAddProductGroup" value="@Language.GetString("btn_Save")" class="btn btn-success bg-gradient float-end m-2" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts{
    <script src="~/lib/cropperjs/cropper.js"></script>
    <script>
        var fileName;
        var fileContent = "";
        var cropper;
        var currentFileSize;
        var currentFileName;
        var modelUrl;
        $(document).ready(function () {
            debugger;
            modelUrl = '@Model.GroupImage';
            if ("@Model.ProductGroupId" != "" && "@Model.ParentId" != "") {
                $("#ParentId").val("@Model.ParentId");
            }

            $("#send_Logo").click(function () {
                debugger;
                $("#uploadlogoModal").modal("hide");
                var url = $("#contentLogo").attr("src");
                debugger;
                $("#groupImage").attr('src', url);
                $("#groupImage").attr("imgid", "-1");
                fileContent = url;
                fileName = currentFileName;
            });

            $("#btnAddProductGroup").click(function () {
            debugger;
                var flag = false;

                if ($("#multiLingualList tr").length == 0) {
                    $("span[data-val-result='MultiLingualProperties']").html('@Language.GetString("AlertAndMessage_FillMultiLingualProperty")');
                    flag = true;
                }
                if (!flag) {
                    var dto = FillDataToSend();
                    $.ajax({
                            url: "@Model.ProductGroupId" != "" ? "/ProductGroup/Edit" : "/ProductGroup/Add",
                            /*data: dataModel,*/
                            contentType: 'application/json',
                            data: JSON.stringify(dto),
                        type: 'Post',
                        beforeSend: function () {
                            debugger;
                            /*AddLoading($("#addEditProductGroupCard"));*/
                        },
                        success: function (result) {
                            debugger;
                            if (result.status === "Success") {
                                @*Swal.fire({
                                    icon: 'success',
                                    text: result.message,
                                    showConfirmButton: false,
                                    timer: 3000
                                }).then(() => {
                                    window.location.href = '@Url.Action("List")';
                                });*@
                            document.getElementById('mainToastBody').innerHTML = '<i class="far fa-check-circle"></i> @Language.GetString("AlertAndMessages_OperationSuccess")';
                            document.getElementById('mainToastBody').classList.add('alert-success');
                            setTimeout(function()
                            {
                                 window.location.href = '@Url.Action("List")';
                            },
                            3000);
                            }
                            else
                            if (result.status === "ModelError") {
                                var spanErrorList = $('span[data-val-result]');
                                if (spanErrorList.length > 1) {
                                    spanErrorList.each(function() {
                                        $(this).html("");
                                        $(this).parent().removeClass("has-error");
                                    });
                                } else {
                                    spanErrorList.html("");
                                    spanErrorList.parent().removeClass("has-error");
                                }
                                if (result.modelStateErrors !== null) {
                                        $('[data-val-result=' + value.key + ']').html(value.errorMessage);
                                        $('[data-val-result=' + value.key + ']').parent().addClass("has-error");
                                    }
                                }
                            },
                        @*error: function (xhr, ajaxOptions, thrownError) {
                            alert("@error");
                            alert(xhr.status);
                            alert(thrownError);
                        },*@
                        complete: function () {
                            /*removeLoading($("#addEditProductGroupCard"));*/
                        }
                        });
                }

            });
        });

        function FillDataToSend() {
            debugger;
            var obj = {};
            obj.GroupImage = {};
            obj.MultiLingualProperties = [];
            obj.ProductGroupId = $("#ProductGroupId").val();
            if ($("#ParentId").val() != "-1") {
                obj.ParentId = $("#ParentId").val();
            }
            obj.GroupCode = Number($("#GroupCode").val());
            //if ($("#ModificationReason").length > 0) {
            //    obj.ModificationReason = $("#ModificationReason").val();
            //}
            $("#multiLingualList tr").each(function () {
                debugger;
                var innerModel = {};
                innerModel.Name = $(this).find("td:eq(0)").text();
                innerModel.SeoTitle = $(this).find("td:eq(5)").text();
                innerModel.SeoDescription = $(this).find("td:eq(6)").text();
                innerModel.Description = $(this).find("td:eq(7)").text();
                innerModel.LanguageId = $(this).find("td:eq(2)").text();
                innerModel.CurrencyId = $(this).find("td:eq(3)").text();
               /* innerModel.UrlFriend = $(this).find("td:eq(5)").text();*/
                obj.MultiLingualProperties.push(innerModel);
            });
            obj.GroupImage.ImageId = $("#groupImage").attr("imgid");
            if (fileContent != "")
                obj.GroupImage.Content = fileContent;
            else
                obj.GroupImage.Url = modelUrl;

            obj.GroupImage.IsMain = true;


            return obj;
        }

        function deleteFromTable(sender) {
            debugger;
            var tr = $(sender).parent().parent();
            $(tr).remove();
        }

        function initCropper() {
            debugger;
            var image = document.getElementById('imgModalBody');
            if (cropper !== null && cropper !== undefined) {
                cropper.destroy();
            }

            cropper = new Cropper(image,
                {
                    background: true,
                    aspectRatio: 1,
                    viewMode: 2,
                    responsive: true,
                    rotatable: true

                });

            document.getElementById('logoCrop_button').addEventListener('click',
                function () {
                    debugger;
                    var imgUrl = cropper.getCroppedCanvas().toDataURL('image/jpeg');
                    var img = document.createElement("img");
                    img.setAttribute("id", "contentLogo");
                    img.setAttribute("class", "img-fluid");
                    var height = document.getElementById("containerlg").getAttribute("width");
                    var croppedContainer = document.createElement("div");
                    croppedContainer.setAttribute("id", "logoCropped_result");
                    croppedContainer.setAttribute("style", "max-width:100%; max-height:100%; width: 400px; height:" + height + "; border: none");
                    $("#uploadlogoModal #rowContainer").append(croppedContainer);
                    img.setAttribute("style", "max-width:100%;max-height:100%;width: 400px;height: " + height + ";position: relative;left: 0px;border: 1px solid black");
                    img.src = imgUrl;
                    document.getElementById("logoCropped_result").innerHTML = "";
                    document.getElementById("logoCropped_result").appendChild(img);
                    $("#send_Logo").attr("disabled", false);
                });
        }

        function getURL(input) {
            debugger;
            $("#logoCropped_result").remove();
                if (input.files && input.files[0]) {
                var file = input.files[0];
                currentFileName = file.name;
                currentFileSize = file.size;

                if (currentFileSize <= @ViewBag.PicSize) {
                var reader = new FileReader();
                try
                {
                    reader.readAsDataURL(file);
                }
                catch (e)
                {
                }
                reader.onload = function (e) {
                var content = e.target.result;
                //if file format is incorrect, then the 'content' won't have any src.
                if (content !== "data:") {
                var reducedContent = content.slice(5);

                if (reducedContent.startsWith("image")) {
                    $('#imgModalBody').attr('src', content);
                    setTimeout(showModal, 100);
                setTimeout(initCropper, 500);
                }
                else
                {
                    showError('@Language.GetString("AlertAndMessage_InvalidFormat")');
                    document.getElementById("image").value = "";
                        $("#logoCropped_result").remove();
                }
                }
                else
                {

                    showError('@Language.GetString("AlertAndMessage_InvalidFormat")');
                    document.getElementById("image").value = "";
                        $("#logoCropped_result").remove();
                }
                };
                }
                else
                {
                    showError('@Language.GetString("AlertAndMessage_InvalidFileSize")');
                    document.getElementById("image").value = "";
                        $("#logoCropped_result").remove();
                }
                }
        }
        function rotatePic() {
            cropper.rotate(90);
        }
        function showModal() {
            $("#send_Logo").attr("disabled", true);
            $("#uploadlogoModal").modal("show");
        }
        function addToTable() {
            var flag = false;
            debugger;

            if ($("#groupName").val() == "") {
                $("span[data-val-result='groupName']").html('@Language.GetString("AlertAndMessage_FieldEssential")');
                flag = true;
            }
            if ($("#languageId").val() == "-1") {
                 $("span[data-val-result='languageId']").html('@Language.GetString("AlertAndMessage_FieldEssential")');
                flag = true;
            }
            if ($("#currencyId").val() == "-1") {
                 $("span[data-val-result='currencyId']").html('@Language.GetString("AlertAndMessage_FieldEssential")');
                flag = true;
            }
            if (!flag) {
                var tr = "<tr style='text-align:center;'><td>" + $("#groupName").val() +
                    "</td><td>" + $('#languageId option:selected').text() +
                    "</td><td style='display:none;'>" + $("#languageId").val() +
                    "</td><td style='display:none;'>" + $("#currencyId").val() +
                    "</td><td>" + $("#currencyId option:selected").text() +
                  /*  "</td><td>" + $("#urlFriend").val() +*/
                    "</td><td>" + $("#seoTitle").val() +
                    "</td><td>" + $("#seoDescription").val() +
                    "</td><td>" + $("#description").val() +
                    "</td><td><button type='button' class='btn btn-sm btn-danger bg-gradient' onclick='deleteFromTable(this);'>" +
                    "<i class='fa fa-trash' ></i></button></td></tr>";

                $("#multiLingualList").append(tr);
                $("#groupName").val("");
                $("#languageId").val("-1");
                $("#currencyId").val("-1");
               /* $("#urlFriend").val("");*/
                $("#seoTitle").val("");
                $("#seoDescription").val("");
                $("#description").val("");
            }
        }

        function ViewImage(address) {
        debugger;
        var tag = '<img src="' + address + '" width="500px" />';
        @*Swal.fire({
            html: tag,
            width: 'auto',
            showConfirmButton: true,
            confirmButtonText: '@Language.GetString("Close")'
        });*@
		document.getElementById('confirmBody').innerHTML = tag;
        $('#showModalId').modal('show');
    }
    </script>
}




