@model Arad.Portal.DataLayer.Models.ShoppingCart.ShoppingCartDTO
@{
    // var index = 1;
}
<style>
    .pInTb {
        display: inline-block;
    }

    .basket th {
        text-align: center;
    }

    .basket td {
        text-align: center;
    }
    .proLink{
        color: black;
        text-decoration : none;
    }
</style>
<div class="container">
    <div class="card">
        <div class="card-body">
            @if (@Model.Details.Any())
            {

                @foreach (var seller in @Model.Details)
                {
                    <div class="card m-3 border-1 rounded-3">
                        <div class="card-header bg-success bg-opacity-10">
                            <div class="row gy-2 align-middle pt-2">
                                <div class="col-4 offset-2 col-md-2  offset-4">
                                    <label class="form-label"> @Language.GetString("tbl_VendorName"): </label>
                                </div>
                                <div class="col-4 col-md-2">
                                    <p><strong>@seller.SellerUserName</strong></p>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table basket table-bordered table-hover align-middle">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">@Language.GetString("Image")</th>
                                            <th scope="col">@Language.GetString("tbl_ProductName")</th>
                                            <th scope="col">@Language.GetString("PricePerUnit")</th>
                                            <th scope="col">@Language.GetString("Count")</th>
                                            <th scope="col">@Language.GetString("FinalPrice")</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in seller.Products)
                                            {
                                                                        <tr>
                                                                            <th scope="row">@item.RowNumber</th>
                                                                            <td>
                                                                                @if (item.ProductImage != null)
                                                        {
                                                                                    <a href="@($"/product/{item.ProductCode}")" class="proLink" role="button">
                                                                                        <img class="smlImg" src=@Url.Content($"~/getscaledimageonwidth?path={item.ProductImage.Url}&width={75}")>
                                                                                    </a>
                                                        }
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                <a href="@($"/product/{item.ProductCode}")" role="button" class="proLink">
                                                                                    <span>@item.ProductName</span>
                                                                                </a>
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                @{
                                                            if (item.PreviousFinalPricePerUnit != 0 && item.PreviousFinalPricePerUnit != item.PricePerUnit - item.DiscountPricePerUnit)
                                                            {
                                                                                                                <div>
                                                                                                                    <p class="pInTb"><s>@($"{Convert.ToInt64(item.PreviousFinalPricePerUnit):n0} {Model.ShoppingCartCulture.CurrencySymbol}")</s></p>
                                                                                                                    <p class="pInTb"><mark>@($"{Convert.ToInt64(item.PricePerUnit - item.DiscountPricePerUnit): n0} {Model.ShoppingCartCulture.CurrencySymbol}")</mark></p>
                                                                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                                                                <div>
                                                                                                                    <p class="pInTb"><mark>@($"{Convert.ToInt64(item.PricePerUnit - item.DiscountPricePerUnit):n0} {Model.ShoppingCartCulture.CurrencySymbol}")</mark></p>
                                                                                                                </div>

                                                            }
                                                                                }
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                <div class="w-75">
                                                                                    <input type="number" class="form-control orderCnt" proid='@item.ProductId' min="1" value="@item.OrderCount" />
                                                                                </div>
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                <div>
                                                                                    <p><mark>@($"{Convert.ToInt64(@item.TotalAmountToPay) :n0} {Model.ShoppingCartCulture.CurrencySymbol}")</mark></p>
                                                                                </div>
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                <button class="btn btn-sm btn-danger bg-gradient deleteItem" parId="@Model.ShoppingCartId" detailId="@item.ShoppingCartDetailId">
                                                                                    <i class="fa fa-trash"></i>
                                                                                </button>
                                                                            </td>
                                                                            <td class="align-middle">
                                                                                <div>
                                                                                    @{
                                                                foreach (var not in item.Notifications)
                                                                {
                                                                                                                    <p class="fw-lighter">@not</p>
                                                                                                                    <br />
                                                                }
                                                                                    }
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row mt-2">
                                <div class="col-4 col-md-2 d-flex justify-content-end align-middle">
                                    <label class="form-label"> @Language.GetString("ShippingExpense") : </label>
                                </div>
                                <div class="col-4 col-md-2">
                                    <label class="form-control">@($"{Convert.ToInt64(seller.ShippingExpense):n0} {Model.ShoppingCartCulture.CurrencySymbol}")</label>
                                </div>
                                <div class="col-4 col-md-2 d-flex justify-content-end align-middle">
                                    <label class="form-label"> @Language.GetString("User_DiscountCode") : </label>
                                </div>
                                <div class="col-4 col-md-2">
                                    <input type="text" class="form-control" value="" id="discountCode" />
                                </div>
                                <div class="col-6 col-md-4">
                                    <input type="button" class="btn btn-outline-secondary" value='@Language.GetString("btn_Apply")' id="btnDiscountCode" />
                                    <input type="button" class="btn btn-outline-danger" value="@Language.GetString("btn_DeleteCouponCode")" id="btnDelDiscountCode" />
                                </div>

                            </div>
                            <div class="row mt-2">
                                <div class="col-4 offset-2 col-md-2 offset-md-4 d-flex justify-content-end align-middle">
                                    <label class="form-label"> @Language.GetString("SumOfAmount") : </label>
                                </div>
                                <div class="col-4 col-md-3 align-middle">
                                    <p><mark class="fs-5">@($"{Convert.ToInt64(seller.Products.Sum(_=>_.TotalAmountToPay) + seller.ShippingExpense):n0} {Model.ShoppingCartCulture.CurrencySymbol}")</mark></p>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="row mt-2">
                    <div class="col-3 offset-3 col-md-2 offset-md-2">
                        <label class="form-control bg-secondary bg-opacity-10 text-center"> @Language.GetString("FinalPriceForPayment") : </label>
                    </div>
                    <div class="col-3 col-md-2">
                        <p>
                            <strong class="float-start" id="finalP">@($"{Convert.ToInt64(Model.FinalPriceForPay):n0}")"</strong>
                            <strong class="float-end">@($" {Model.ShoppingCartCulture.CurrencySymbol}")</strong>
                        </p>
                    </div>
                    <div class="col-2 col-md-2">
                        @if (@Model.Details.Any())
                        {
                            <a class="btn btn-success bg-gradient" asp-action="SendInfo">@Language.GetString("btn_ContinueBuyingOnline")</a>
                        }
                    </div>
                </div>

            }
            else
            {
                <div class="row">
                    <p class="text-center m-1 p-1"><strong>@Language.GetString("AlertAndMessage_ShoppingCartIsEmpty")</strong></p>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("input.orderCnt").bind('keyup mouseup', function() {
            debugger;
            var cnt = $(this).val();
            var productId = $(this).attr("proid");
            $.ajax({
                url: "/" + "@ViewBag.LanIcon" + "/basket/AddProToBasket?productId=" + productId + "&cnt=" + cnt,
                contentType: 'application/json',
                type: 'Get',
                dataType: 'json',
                beforeSend: function() {
                },
                success: function(result) {
                    debugger;
                    if (result.status == "Succeed") {
                        window.location.reload();
                    } else //error
                    {
                        document.getElementById('mainToastBody').innerHTML = `<i class="fas fa-exclamation-triangle"></i> ${result.message}`;
                        document.getElementById('mainToastBody').classList.add('alert-danger');
                        $("#toastPanel").show();
                        var toast = new bootstrap.Toast($("#mainToast"));
                        toast.show();
                        setTimeout(function() {
                            $("#toastPanel").hide();
                        }, 2500);
                    }


                }
            });
        });

        $(".deleteItem").click(function() {
            debugger;
            var parId = $(this).attr("parId");
            var itemId = $(this).attr("detailId");

            if ('@User.Identity.IsAuthenticated' === 'True') {
                debugger;

                $.ajax({
                    url: `/${'@ViewBag.LanIcon'}/Basket/DeleteItemFromCart?parId=` + parId + "&id=" + itemId,
                    //contentType: 'application/json',
                    type: 'Get',
                    dataType: 'json',
                    beforeSend: function() {
                    },
                    success: function(result) {
                        if (result.status == "Succeed") {
                            debugger;
                            window.location.reload();

                            $('#mainToastBody').html(`<i class="far fa-check-circle"></i> ${result.message}`);
                            $('#mainToastBody').addClass('alert-success');
                            $("#toastPanel").show();
                            var toast = new bootstrap.Toast($("#mainToast"));
                            toast.show();
                            setTimeout(function() {
                                $("#toastPanel").hide();
                            }, 2500);
                        }
                        else {

                            document.getElementById('mainToastBody').innerHTML = `<i class="fas fa-exclamation-triangle"></i> ${result.message}`;
                            document.getElementById('mainToastBody').classList.add('alert-danger');
                            $("#toastPanel").show();
                            var toast = new bootstrap.Toast($("#mainToast"));
                            toast.show();
                            setTimeout(function() {
                                $("#toastPanel").hide();
                            }, 2500);
                        }

                    }
                });
            }
        });

        $("#btnDiscountCode").click(function() {
            debugger;
            var obj = {};
            obj.Price = '@Model.FinalPriceForPay';
            var code = $("#discountCode").val();
            if ('@User.Identity.IsAuthenticated' === 'True') {
                debugger;
                $.ajax({
                    url: `/${'@ViewBag.LanIcon'}/Basket/CheckCode?code=${code}`,
                    contentType: 'application/json',
                    type: 'Post',
                    data: JSON.stringify(obj),
                    dataType: 'json',
                    beforeSend: function() {
                    },
                    success: function(result) {
                        if (result.status == "Succeed") {
                            debugger;
                            $("#finalP").html(result.val);
                        }
                        else {

                            document.getElementById('mainToastBody').innerHTML = `<i class="fas fa-exclamation-triangle"></i> ${result.message}`;
                            document.getElementById('mainToastBody').classList.add('alert-danger');
                            $("#toastPanel").show();
                            var toast = new bootstrap.Toast($("#mainToast"));
                            toast.show();
                            setTimeout(function() {
                                $("#toastPanel").hide();
                            }, 2500);
                        }

                    }
                });
            }
        });

        $("#btnDelDiscountCode").click(function() {
            var code = $("#discountCode").val();
            var obj = {};
            obj.Price = parseInt($("finalP").text());
            if ('@User.Identity.IsAuthenticated' === 'True') {
                debugger;
                $.ajax({
                    url: `/${'@ViewBag.LanIcon'}/Basket/RevertCode?code=${code}`,
                    contentType: 'application/json',
                    type: 'Post',
                    dataType: 'json',
                    data: JSON.stringify(obj),
                    beforeSend: function() {
                    },
                    success: function(result) {
                        if (result.status == "Succeed") {
                            debugger;
                            $("#finalP").html(result.val);
                        }
                        else {

                            document.getElementById('mainToastBody').innerHTML = `<i class="fas fa-exclamation-triangle"></i> ${result.message}`;
                            document.getElementById('mainToastBody').classList.add('alert-danger');
                            $("#toastPanel").show();
                            var toast = new bootstrap.Toast($("#mainToast"));
                            toast.show();
                            setTimeout(function() {
                                $("#toastPanel").hide();
                            }, 2500);
                        }

                    }
                });
            }
        });
    });

</script>