@model List<Models.Product.ProductBasketView>
@{
    ViewData["Title"] = "سبد خرید";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/shop/css/shop-basket.css" rel="stylesheet" />
    <link href="~/lib/counter/counter.css" rel="stylesheet" />
}
<div class="container-fluid container-body basket-shop">
    <section class="section-full">
        <div class="title-page">
            <h3>
                <i class="fa fa-shopping-basket"></i>
                <span>سبد خرید شما</span>
            </h3>
            <div class="">
                <h6>افزودن کالاها به سبد خرید به معنی رزرو کالا برای شما نیست. برای ثبت سفارش باید مراحل بعدی خرید را تکمیل نمایید.</h6>
                @if (ViewBag.messagesInventory != null)
                {
                    string[] messages = (string[])ViewBag.messagesInventory;

                    foreach (var message in messages)
                    {
                        <div class="alert alert-danger">
                            @message
                        </div>
                    }
                }

                <div class="continue-buy-btn">
                    <a class="btn back-btn" href="/">گردش در فروشگاه</a>
                </div>
            </div>
        </div>

        <div class="row w-100">
            <div class="table-basket-shop col-md-12 col-lg-8">
                <div class="d-none d-lg-block">
                    <div class="table-header row">
                        <div class="col-sm-6 rtl">
                            <span>محصول</span>
                        </div>
                        <div class="col-sm-2  rtl">
                            <span>تعداد</span>
                        </div>
                        <div class="col-sm-3  rtl">
                            <span>قیمت کل</span>
                            <span>(ریال)</span>
                        </div>
                        <div class="col-sm-1">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="table-body">
                    @{
                        @if (Model.Count != 0)
                        {
                            @foreach (var pro in Model)
                            {
                                <div class="table-tr row no-gutters">
                                    <div class="col-md-12  col-lg-3 img-item rtl table-td">
                                        <a class="" href="">
                                            <img class="pic-product" src="@pro.MainPic">
                                        </a>
                                    </div>
                                    <div class="col-md-12 col-lg-3 desc-item rtl table-td">
                                        <h5><a class="title" href="">@pro.Name</a></h5>
                                        <h5><a class="desc-title" href="">@pro.Desc</a></h5>
                                        <span class="weight">
                                            وزن: <span class="value">@pro.Weight گرم</span>
                                        </span>
                                        @{
                                            @foreach (var field in @pro.Fields)
                                            {
                                                <span class="field">
                                                    @field.Key: <span class="value">@field.Value</span>
                                                </span>
                                            }
                                        }
                                    </div>

                                    <div class="col-md-12 col-lg-2  rtl table-td">
                                        <div class="count">
                                            <i class="mobile-title">تعداد:</i>
                                            <div class="counter clearfix">
                                                <span>@pro.Count</span>
                                                @*<div class="plus">
                                                        <i class="fa fa-plus"></i>
                                                    </div>*@
                                                @*<div class="count">
                                                        <input value="1">
                                                    </div>*@
                                                @*<div class="minus">
                                                        <i class="fa fa-minus"></i>
                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-3 rtl table-td price-item-count">
                                        <div class="price-item-count-wrap">
                                            <div class="old-price row">
                                                <i class="title-price">قیمت :</i>
                                                <span class="price">
                                                    <span data-pol='@pro.TotalPrice'>@($"{pro.TotalPrice:n0}")</span>
                                                    <span class="">ریال</span>
                                                </span>
                                            </div>
                                            <div class="price-oneItem" style="display: none"><span data-pon="@pro.Price"></span></div>
                                            <div class="discount row" style="display: none;">
                                                <i class="title-price">تخفیف:</i>
                                                <span class="price">
                                                    <span data-pd='@pro.Discount'>@pro.Discount</span>
                                                    <span class="">ریال</span>
                                                </span>
                                            </div>

                                            <div class="dot-devider col-xs-12"></div>
                                            <div class="price-all row">
                                                <i class="title-price">قابل پرداخت:</i>
                                                <span class="price">
                                                    <span data-pa='@pro.TotalPrice'>@($"{pro.TotalPrice:n0}")</span>
                                                    <span class="">ریال</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="col-md-12 col-lg-1 remove" asp-action="DeleteItemBasket" asp-controller="Basket" asp-area="" asp-route-internalId="@pro.InternalId">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            }
                        }
                        else
                        {
                            <div class="text-center mt-5 mb-5">
                                <span style="color: gray;">سبد خرید شما خالی است.</span>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-12 col-lg-4 sum-factor">
                <div class="sum-box">
                    <div class="price-basket-shop">
                        <div class="col-xs-12 price-factor">
                            <i>مجموع قیمت سبد خرید:</i>

                            @{
                                var cost = 0.0;
                                @foreach (var pro in @Model)
                                {
                                    cost = pro.TotalPrice + cost;
                                }
                            }
                            <span class="price">
                                <span data-pf='@cost'>@($"{cost:n0}")</span>
                                <span>ریال</span>
                            </span>
                        </div>
                        <div class="col-xs-12 discount" style="display: none;">
                            <i>مجموع تخفیف:</i>
                            <span class="price">
                                <span data-discount='14000'>14،000</span>
                                <span>ریال</span>
                            </span>
                        </div>
                        <div class="col-xs-12 price-all pay">
                            <i>مبلغ قابل پرداخت:</i>
                            <span class="price">
                                <span data-pay='@cost'>@($"{cost:n0}")</span>
                                <span>ریال</span>
                            </span>
                        </div>
                        <div class="col-xs-12 continue-buy-btn-wrap ">
                            @if (@Model.Count != 0)
                            {
                                <a class="btn buy-btn w-100" asp-action="SendInfo">ادامه مراحل خرید</a>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

@section Scripts
{
    <script src="~/lib/counter/counter.js"></script>
}
