@using Arad.Portal.DataLayer.Models.Shared;
@model List<Arad.Portal.DataLayer.Models.Content.ContentGlance>
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<div class="row colRow">
    <div class="text-center col-12 col-sm-6  col-lg-3 p-1 cs1">
         <a href="@($"/blog/{Model[0].ContentCode}")" role="button">
        <picture>
            <source media="(max-width: 767px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[0].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 768px && max-width: 991px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[0].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 992px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[0].DesiredImageUrl}&width={322}")">
            <img src="@($"../filemanager/GetScaledImageOnWidth?path={Model[0].DesiredImageUrl}&width={428}")"
                 class="imgsmall img-fluid"
                 alt=@(Model[0].Images.Any(_=>_.ImageRatio == ImageRatio.TwoToOne) ? Model[0].Images.FirstOrDefault(_=>_.ImageRatio == ImageRatio.TwoToOne).Title : "") />
        </picture>
        </a>
    </div>
    <!--col-6  col-lg-3-->
    <div class="text-center col-12 col-sm-6  col-lg-3 p-1 cs2">
         <a href="@($"/blog/{Model[1].ContentCode}")" role="button">
        <picture>
            <source media="(max-width: 767px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[1].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 768px && max-width: 991px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[1].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 992px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[1].DesiredImageUrl}&width={322}")">
            <img src="@($"../filemanager/GetScaledImageOnWidth?path={Model[1].DesiredImageUrl}&width={428}")"
                 class="imgsmall img-fluid"
                 alt=@(Model[1].Images.Any(_=>_.ImageRatio == ImageRatio.TwoToOne) ? Model[1].Images.FirstOrDefault(_=>_.ImageRatio == ImageRatio.TwoToOne).Title : "")/>
        </picture>
        </a>
    </div>
    <div class="text-center col-12 col-sm-6  col-lg-3 pt-1 cs3">
         <a href="@($"/blog/{Model[2].ContentCode}")" role="button">
        <picture>
            <source media="(max-width: 767px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[2].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 768px && max-width: 991px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[2].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 992px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[2].DesiredImageUrl}&width={322}")">
            <img src="@($"../filemanager/GetScaledImageOnWidth?path={Model[2].DesiredImageUrl}&width={428}")"
                 class="imgsmall img-fluid"
                 alt=@(Model[2].Images.Any(_=>_.ImageRatio == ImageRatio.TwoToOne) ? Model[2].Images.FirstOrDefault(_=>_.ImageRatio == ImageRatio.TwoToOne).Title : "") />
        </picture>
        </a>
    </div>
    <div class="text-center col-12 col-sm-6  col-lg-3 p-1 cs4">
         <a href="@($"/blog/{Model[3].ContentCode}")" role="button">
        <picture>
            <source media="(max-width: 767px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[3].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 768px && max-width: 991px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[3].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 992px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[3].DesiredImageUrl}&width={322}")">
            <img src="@($"../filemanager/GetScaledImageOnWidth?path={Model[3].DesiredImageUrl}&width={428}")"
                 class="imgsmall img-fluid"
                 alt=@(Model[3].Images.Any(_=>_.ImageRatio == ImageRatio.TwoToOne)? Model[3].Images.FirstOrDefault(_=>_.ImageRatio == ImageRatio.TwoToOne).Title : "") />
        </picture>
        </a>


    </div>

    <div class="text-center col-12 col-sm-6  col-lg-3 p-1 cb1">
         <a href="@($"/blog/{Model[4].ContentCode}")" role="button">
        <picture>
            <source media="(max-width: 767px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[4].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 768px && max-width: 991px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[4].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 992px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[4].DesiredImageUrl}&width={322}")">
            <img class="img-fluid"
                 src="@($"../filemanager/GetScaledImageOnWidth?path={Model[4].DesiredImageUrl}&width={428}")"
                 alt=@(Model[4].Images.Any(_=>_.ImageRatio == ImageRatio.Square) ? Model[4].Images.FirstOrDefault(_=>_.ImageRatio == ImageRatio.Square).Title : "") />
        </picture>
        </a>
    </div>
    <div class="text-center col-12 col-sm-6  col-lg-3 p-1 cb2">
         <a href="@($"/blog/{Model[5].ContentCode}")" role="button">
        <picture>
            <source media="(max-width: 767px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[5].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 768px && max-width: 991px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[5].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 992px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[5].DesiredImageUrl}&width={322}")">
            <img class="img-fluid"
                 src="@($"../filemanager/GetScaledImageOnWidth?path={Model[5].DesiredImageUrl}&width={428}")"
                 alt=@(Model[5].Images.Any(_=>_.ImageRatio == ImageRatio.Square) ? Model[5].Images.FirstOrDefault(_=>_.ImageRatio == ImageRatio.Square).Title : "") />
        </picture>
        </a>


    </div>
    <div class="text-center -12 col-sm-6  col-lg-3 p-1 cb3">
         <a href="@($"/blog/{Model[6].ContentCode}")" role="button">
        <picture>
            <source media="(max-width: 767px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[6].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 768px && max-width: 991px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[6].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 992px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[6].DesiredImageUrl}&width={322}")">
            <img class="img-fluid"
                 src="@($"../filemanager/GetScaledImageOnWidth?path={Model[6].DesiredImageUrl}&width={428}")"
                 alt=@( Model[6].Images.Any(_=>_.ImageRatio == ImageRatio.Square) ? Model[6].Images.FirstOrDefault(_=>_.ImageRatio == ImageRatio.Square).Title : "") />
        </picture>
        </a>
    </div>
    <div class="text-center col-12 col-sm-6  col-lg-3 p-1 cb4">
         <a href="@($"/blog/{Model[7].ContentCode}")" role="button">
        <picture>
            <source media="(max-width: 767px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[7].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 768px && max-width: 991px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[7].DesiredImageUrl}&width={352}")">
            <source media="(min-width: 992px)" srcset="@($"../filemanager/GetScaledImageOnWidth?path={Model[7].DesiredImageUrl}&width={322}")">
            <img class="img-fluid"
               src="@($"../filemanager/GetScaledImageOnWidth?path={Model[7].DesiredImageUrl}&width={428}")" 
               alt=@(Model[7].Images.Any(_=>_.ImageRatio == ImageRatio.Square) ? Model[7].Images.FirstOrDefault(_=>_.ImageRatio == ImageRatio.Square).Title : "") />
        </picture>
        </a>

    </div>

</div>