@model Arad.Portal.DataLayer.Models.Setting.LanguageDictionaryModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    OperationResult operationResult = ViewBag.OperationResult ?? new OperationResult();
    bool isNotNullOperationResult = ViewBag.OperationResult is not null;
    bool isSuccess = operationResult is { Succeeded: true };
}

<div class="card pb-0 rounded-3 shadow-sm">
    <div class="card-header py-2 bg-secondary bg-gradient bg-opacity-10">
        <p class="my-0 fw-bold col fs-5">
            <i class="fas fa-filter fs-3"></i>
            @Language.GetString("AlertAndMessage_ImportNewLanguage")
        </p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 offset-md-8 col-md-4">
                <button type="button" id="btnDownload" class="float-end btn btn-dark p-3 m-2">
                    <i class="fa fa-download px-1 mt-1">
                    </i>@Language.GetString("AlertAndMessage_GetLanguageFileTemplate")
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">

        <form asp-action="AddExtraLanguage" class="row g-3" enctype="multipart/form-data" method="post" role="form">
            <div class="row">
               <div class="form-group col-12 col-md-4">
                    <label class="form-label" asp-for="LanguageId">
                        @Language.GetString("RelatedLanguage")
                    </label>
                    <select class="form-control selectpicker" asp-for="@Model.LanguageId" asp-items="@(new SelectList(ViewBag.Languages,"Value","Text"))" data-live-search="true">
                    </select>
                    <span data-val-result="GroupIds" class="text-danger"></span>
               </div>
                <div class="form-group col-12 col-md-4">

                    <label class="form-label" asp-for="@Model.LanguageUploadFile">
                        @Language.GetString("FileImportExport_LanguageFile")
                    </label>
                    <input accept=".xls,.xlsx" class="form-control" asp-for="LanguageUploadFile" type="file" />
                    <span class="text-danger form-validation-alert" asp-validation-for="LanguageUploadFile">
                    </span>
                </div>
               
            </div>

            <div class="col-12 text-end">
                <button class="btn btn-success btn-sm pe-3" type="submit">
                    <i class="far fa-save px-1 mt-1">
                    </i>@Language.GetString("btn_Save")
                </button>
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary btnBack bg-gradient">
                    <i class="far fa-share-square px-1 mt-1"></i>
                    @Language.GetString("btn_Back")
                </a>
            </div>
        </form>
    </div>
</div>

<div class="card pb-0 rounded-3 shadow-sm mt-5">
    <div class="card-header py-2 bg-info bg-gradient bg-opacity-10">
        <p class="my-0 fw-bold col fs-5">
            <i class="fas fa-info-circle fs-3"></i>
            @Language.GetString("FileImportExport_Help")
        </p>
    </div>
    <div class="card-body px-4 ">
      
        <h6 class="card-title text-danger py-2">
            <i class="fas fa-exclamation-triangle"></i>
            @Language.GetString("AlertAndMessage_AddNewLangHelp1")
        </h6>
        <p class="card-title text-danger py-2">
            <i class="fas fa-exclamation-triangle"></i>
            @Language.GetString("AlertAndMessage_AddNewLangHelp2")
        </p>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            $("#btnDownload").click(function () {
               
                window.location.href = `@Url.Action("GetLanguageTemplate", "Excel")`,
                    $("#loading").removeClass('is-active');
            });

            if ('@isNotNullOperationResult' === 'True') {
                //bsAlert.show();

                if ("@isSuccess" === "False") {
                    document.getElementById('mainToastBody').innerHTML = '<i class="fas fa-exclamation-triangle"></i> @operationResult.Message';
                    document.getElementById('mainToastBody').classList.add('alert-danger');
                    $("#toastPanel").show();
                    var bsAlert = new bootstrap.Toast($("#mainToast"));
                    bsAlert.show();
                    setTimeout(function () {
                        $("#toastPanel").hide();
                    },
                        2500);
                }
                else {
                    document.getElementById('mainToastBody').innerHTML = '<i class="far fa-check-circle"></i> @operationResult.Message';
                    document.getElementById('mainToastBody').classList.add('alert-success');
                    $("#toastPanel").show();
                    var bsAlert = new bootstrap.Toast($("#mainToast"));
                    bsAlert.show();
                    
                    setTimeout(function () {
                        $("#toastPanel").hide();
                    }, 2500);
                            
                  
                }
            }
            
        });
    </script>
}
