<!DOCTYPE html>
@using System.Globalization;
@using Arad.Portal.GeneralLibrary.Utilities;
@using Microsoft.AspNetCore.Http;
@{
    var direction = "";
    var ulNavbarLinkClass = "";
    var bellCls = "";
    var faCls = "";
    var floatlr = "";
    var langList = new List<string>() { "fa", "en" };
    string lang = "";
    string userName = _accessor.HttpContext?.User.GetUserName();

    if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
    {
        direction = "rtl";

        ViewBag.dir = "rtl";
        ulNavbarLinkClass = "navbar-nav mr-auto";
        floatlr = "float-sm-left";
        bellCls = "fa fa-bell-o";
        faCls = "fa";
    }
    else
    {
        direction = "ltr";
        ViewBag.dir = "ltr";
        ulNavbarLinkClass = "navbar-nav ml-auto";
        floatlr = "float-sm-right";
        bellCls = "far fa-bell";
        faCls = "fas";
    }

    switch (CultureInfo.CurrentCulture.Name)
    {
        case "fa-IR":
            lang = "fa";
            break;
        case "en-US":
            lang = "en";
            break;
    }

}
@inject IHttpContextAccessor _accessor

<html dir="@direction" lang="@lang">
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Arad Portal" name="description">
    <title>@ViewData["Title"] - Arad.Portal.UI.Dashboard</title>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    @if (direction == "ltr")
        {
        <link href="~/lib/bootstrap5/css/bootstrap.min.css" rel="stylesheet" />
        @*<link href="~/plugins/icheck-bootstrap/icheck-bootstrap.css" rel="stylesheet" />*@
    }
    else
    {
        <link href="~/lib/bootstrap5/css/bootstrap.rtl.min.css" rel="stylesheet" />
        <link href="~/Fonts/IranSans/css/fontiran.css" rel="stylesheet" />
        @*<link href="~/fonts/IranSans/css/persianfonts.css" rel="stylesheet" />
          <link href="~/plugins/iCheck/all.css" rel="stylesheet" />
          <link href="~/plugins/iCheck/flat/blue.css" rel="stylesheet" />
          <link href="~/css/siteTemplate/rtl/custom-style.css" rel="stylesheet" />
          <link href="~/lib/limonte-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
          <link href="~/css/persian-datepicker.min.css" rel="stylesheet" />*@
    }

    <link href="~/lib/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

    @*<link href="~/css/siteTemplate/shared/fontawesome-free/all.min.css" rel="stylesheet"/>
          <!-- overlayScrollbars -->
        <link rel="stylesheet" href="~/lib//overlayscrollbars/css/OverlayScrollbars.min.css" />*@

    @await RenderSectionAsync("Styles", required: false)

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        @if (direction == "rtl")
        {
            <script src="~/js/siteTemplate/jqueryui1.11.4/jquery-ui.min.js"></script>
        }

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


        <script src="~/js/siteTemplate/Adminlte/adminlte.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/limonte-sweetalert2/sweetalert2.all.min.js"></script>


        <style>
            .lanFlag {
                cursor: pointer;
            }
        </style>
        @await RenderSectionAsync("Scripts", required: false);*@
</head>
<body>
    <header class="navbar navbar-light shadow navbar-expand flex-md-nowrap p-0 m-0">

        <div class="container-fluid">
            <div class="navbar-brand col-md-3 me-0">
                <img alt="" class="navbar-logo" height="50" src="/images/Logo.png" width="50" />
                Language.GetString("AradPortalDashboard")
            </div>
            <div class="w-100 text-center fw-semibold" dir="ltr" id="dateTime"></div>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a aria-expanded="false" class="nav-link dropdown-toggle fw-bold" data-bs-toggle="dropdown" href="#" id="navbarDropdownMenuLink" role="button">
                            @userName
                        </a>
                        <ul aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account" >
                                    <i class="fas fa-key"></i>
                                    @Language.GetString("ChangePassword")
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-action="Profile" asp-controller="Account" >
                                    <i class="far fa-id-badge"></i>
                                    @Language.GetString("Menu_Profile")
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" asp-action="Logout" asp-controller="Account" >
                                    <i class="fas fa-sign-out-alt"></i>
                                    @Language.GetString("Exit")
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <button aria-controls="bd-docs-nav" aria-expanded="false" aria-label="Toggle docs navigation" class="nav-link btn btn-sm btn-outline-success d-md-flex px-3 ms-3 collapsed" data-bs-target="#bd-docs-nav" data-bs-toggle="collapse" type="button">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="wrapper">
        <!--Navbar-->
        <nav class="main-header navbar navbar-expand navbar-white">
            <!-- Left navbar links -->
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>

                <li class="nav-item dropdown">
                    <a style="position: relative;top: 4px;" asp-action="Logout" asp-controller="Account" class="dropdown-item">
                        <i class="fa fa-sign-out ml-2"></i>
                        <span style="position: relative;left: 20%;">@Language.GetString("btn_Exit")</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link lanFlag">
                        <img src="/imgs/IRAN.png" onclick="setLang('fa-IR')" />
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link lanFlag">
                        <img src="/imgs/USA.png" onclick="setLang('en-US')" />
                    </a>
                </li>
            </ul>
        </nav>
        <!--/navbar-->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="/imgs/Logo.png" alt="Arad Group" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">@Language.GetString("CompanyName")</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar" style="@(direction == "rtl" ? "direction :ltr;" : ""  )">
                <div style="@(direction == "rtl" ? "direction :rtl;" : "")">

                    <!-- Sidebar user panel(optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="/imgs/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">Alexander Pierce</a>
                        </div>
                    </div>


                    <!-- Sidebar Menu -->

                    @await Component.InvokeAsync("SidebarMenu")

                    <!--/.sidebar menu-->
                </div>
            </div>
            <!--/.sidebars-->
        </aside>

        <!-- Content Wrapper.Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header(Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@*@Language.GetString("Menu_Dashboard")*@</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb @floatlr">
                                <li class="breadcrumb-item"><a href="#">@Language.GetString("Menu_Dashboardv1")</a></li>
                                <li class="breadcrumb-item active">@Language.GetString("Menu_Home")</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div>
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            @*<section class="content">*@
            <div class="container-fluid">
                <section class="container wrapper">
                    @RenderBody()
                </section>
            </div>
            @*</section>*@
            <!-- /.content -->
        </div>
        <!--/.content wrapper-->

        <footer class="main-footer">
            <strong>Copyright &copy; 2021 <a href="http://arad-itc.com">Arad.Portal.UI.Shop</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0
            </div>
        </footer>

    </div>


    <!---------shared----------->


    <script>
     $(document).ready(function () {
         $("li.nav-item.firstLevel").click(function (e) {

             debugger;
          var liID = $(this).attr("id");
          var siblings = $(this).parent().children();
          for (var i = 0; i < siblings.length; i++) {
              debugger;
              var id = $(siblings[i]).attr("id");
              if (liID == id)
                  continue;
              if ($(siblings[i]).hasClass("menu-open")) {
                  $(siblings[i]).removeClass("menu-open");
                  debugger;
                  var ul = $(siblings[i]).children("ul");
                  $(ul).css("display", "none");
              }
          }
          });
     });

    function setLang(lang) {
    var currentCulture = '@CultureInfo.CurrentCulture.Name';
    if (currentCulture !== lang) {
        $.ajax({
            type: "GET",
            url: '/Account/changeLang?langId=' + lang,
            success: function () {
                debugger;
                window.location.reload();

            }
        });
    }
    }
    function getLoadingClass() {
            if ("@direction" == "rtl") {
            cls = "fa fa-refresh fa-spin";
        } else {
                cls = "fas fa-2x fa-sync-alt";
        }
        return cls;
        }
    function AddLoading(cardElement) {
        var cls = getLoadingClass();
        $(cardElement).append("<div class='overlay'>" +
            "<i class='" + cls + "'></i></div>");
    }
    function removeLoading(cardElement) {
        $(cardElement).find(".overlay").remove();
    }
    </script>
</body>
</html>



