@using System.Drawing.Text
@using Microsoft.AspNetCore.Html
@using Microsoft.Extensions.Configuration
@inject IConfiguration Config
@{
    Layout = null;
    var baseAdd = Config["BaseAddress"];
}


<div class="top-nav">
    <div class="row gx-0">
        <div class="col-4 offset-1 offset-md-1 col-md-2 offset-lg-1 col-lg-1 ">
            <div class="ms-2 border border-1">
                <button type="button" class="btn-close" id="btnFlags" aria-label="Close"></button>
                <ul class="langUl list-group list-group-horizontal">
                    <li class="list-group-item lan border-0 pt-2 px-1">
                        <a title="@Language.GetString("Persian")" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <img src="@Url.Content($"~{baseAdd}/imgs/IRAN.png")" onclick="setLang('fa-IR')" />
                        </a>

                    </li>
                    <li class="list-group-item lan border-0 pt-2 px-1">
                        <a title="@Language.GetString("English")" role="button" data-bs-toggle="tooltip" data-bs-placement="bottom">
                            <img src="@Url.Content($"~{baseAdd}/imgs/USA.png")" onclick="setLang('en-US')" />
                        </a>

                    </li>
                </ul>
            </div>
        </div>
        <div class="offset-2 col-4 offset-md-3 col-md-3 offset-lg-7 col-lg-2">
            <div class="account-wrapper pt-2">
                <ul>
                    <li class="shopping_cart home_cart border border-1">
                        <button type="button" class="btn-close" id="btnIsShop" aria-label="Close"></button>
                        <a href="#" title="" class="r-cart">

                            <span class="head-shoppings">
                                <i class="fa fa-shopping-basket shopping-basket"></i>
                                <span class="display-none count-basket" data-count="0">@($"{@ViewBag.BasketCount?? 0} {@Language.GetString("Stuff")}") </span>
                            </span>
                        </a>
                    </li>
                    <li class="login">
                        @{

                            @if (!@User.Identity.IsAuthenticated)
                            {
                                <a href="#" class="openLoginModal">
                                    <span class="title">
                                        <i class="fa fa-user"></i>
                                        <span class="display-none ">@Language.GetString("User_LoginRegister")</span>
                                    </span>
                                </a>
                            }
                            else
                            {
                                <div class="dropdown" id="myUserProfile">
                                    <a class="openLoginModal btn dropdown-toggle" role="button" id="drpUserProfile" placement="bottom right" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="title">
                                            <i class="fa fa-user"></i>
                                            <span class="display-none">@User.Identity.Name</span>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="drpUserProfile">
                                        <li>
                                                <a href="#" >@Language.GetString("User_ManagementPanel")</a>
                                        </li>
                                        <li>
                                                <a href="#">@Language.GetString("Menu_Profile")</a>
                                        </li>
                                        <li>
                                                <a href="#">@Language.GetString("Menu_MyOrders")</a>
                                        </li>
                                        <li>
                                                <a href="#">@Language.GetString("Exit")</a>
                                        </li>
                                    </ul>
                                </div>
                            }
                        }
                    </li>

                </ul>

            </div>
        </div>
    </div>

</div>



